openapi: 3.2.0
info:
  title: MadeOnSol KOL API
  version: 1.20.0
  description: Real-time Solana & Robinhood Chain trading intelligence — KOL wallet trades, deployer reputation, token buyer-quality scoring, wallet tracking, and copy-trade signals across both chains (Robinhood Chain paths under `/rhc/*`).
  contact:
    name: MadeOnSol
    url: https://madeonsol.com/contact
  license:
    name: Proprietary
    url: https://madeonsol.com/terms
servers:
- url: https://madeonsol.com/api/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: KOL
  description: KOL wallet trade feed, leaderboard, coordination, hot tokens, and per-KOL profile.
paths:
  /kol/feed:
    get:
      tags:
      - KOL
      summary: KOL trade feed (real-time on PRO+; 5-min delay on free)
      description: Stream-of-consciousness feed of every buy/sell of at least 0.05 SOL (or $3.50 in USDC/USDT) from 2,000+ tracked Solana KOL wallets. Sub-3s latency from on-chain confirmation on PRO and up (and x402 pay-per-call); the free tier serves this feed on a 5-minute delay (response carries delay/as_of).
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
        description: Only trades strictly newer than this ISO8601 time — the poll cursor. Feed back the response's next_since.
      - name: include
        in: query
        schema:
          type: string
          enum:
          - token
        description: include=token embeds the /token/{mint} snapshot on each row (≤20 distinct mints per page). Runs the sibling handler in-process and embeds its body under its own key; a failing include lands in include_errors and never fails the request; counts as ONE call.
      - $ref: '#/components/parameters/Limit'
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: 'Cursor: return trades strictly older than this ISO timestamp. Use `next_before` from the previous response.'
      - name: cursor
        in: query
        schema:
          type: string
          maxLength: 200
        description: 'PREFERRED pagination (audit F09 follow-up): the `next_cursor` from a previous page — an opaque strict (traded_at, id) keyset, so paging never repeats or skips rows that share a timestamp and progresses with limit=1 through runs of identical timestamps. Malformed or tampered → 400. Cannot be combined with `before=` (400); `before=` stays supported as the legacy bound.'
      - name: action
        in: query
        schema:
          type: string
          enum:
          - buy
          - sell
      - name: kol
        in: query
        schema:
          type: string
        description: Filter by KOL wallet address
      - name: min_sol
        in: query
        schema:
          type: number
        description: Min SOL size per trade
      - name: token_age_max_min
        in: query
        schema:
          type: integer
        description: Max token age (min) at trade time
      - name: exclude_sells
        in: query
        schema:
          type: boolean
          default: false
        description: Drop sell-side trades
      - name: min_kol_winrate
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
        description: Min 7d winrate of the buying KOL
      - name: strategy
        in: query
        schema:
          type: string
          enum:
          - scalper
          - day_trader
          - swing_trader
          - hodler
          - mixed
        description: Filter by auto-classified trader style
      - name: min_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: 'v1.6: lower bound on market_cap_usd_at_trade. Trades with unknown MC drop out when set.'
      - name: max_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: 'v1.6: upper bound on market_cap_usd_at_trade.'
      responses:
        '200':
          description: OK. Response includes `next_before` (ISO timestamp of the last row — pass to the `before` param on the next call). Every row carries `token_image_url` and `launchpad` (`pumpfun`/`launchlab`/`bags`, null for non-launchpad mints).
          content:
            application/json:
              schema:
                type: object
                properties:
                  trades:
                    type: array
                    items:
                      $ref: '#/components/schemas/KolTrade'
                  count:
                    type: integer
                  data_age_seconds:
                    type: integer
                    nullable: true
                    description: Seconds since the newest returned row's traded_at; null on an empty page.
                  next_before:
                    type: string
                    format: date-time
                    nullable: true
                    description: 'Page-down cursor: pass as `before=` for older rows.'
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque keyset cursor for the next (older) page — pass as `cursor=`. PREFERRED over next_before, which is a strict timestamp bound that skips same-timestamp siblings of the boundary row.
                  has_more:
                    type: boolean
                    description: false only when the feed is exhausted (not merely when the page is short).
                  scan:
                    type: object
                    description: 'Present when a filter had to be applied after the candidate fetch (audit F09): has_more is then false only when the candidates ran out, and scan_truncated=true means the per-request scan budget ran out first — more matches MAY exist past next_cursor.'
                    properties:
                      post_filtered:
                        type: boolean
                      scanned:
                        type: integer
                        description: Candidate rows examined
                      scan_truncated:
                        type: boolean
                        description: The per-request scan budget ran out before `limit` matches — more matches MAY exist past the cursor/offset
                      scan_budget:
                        type: integer
                  next_since:
                    type: string
                    format: date-time
                    nullable: true
                    description: 'Poll cursor: traded_at of the newest row on this page (or the `since` you sent when the page is empty). Pass as `since=` to fetch only newer rows; if count === limit page down with before= until you pass your previous since.'
                  since:
                    type: string
                    format: date-time
                    nullable: true
                    description: Echo of the `since` parameter.
                  stream:
                    type: object
                    description: Pointer to the WebSocket channel that pushes the same rows (`kol:trades`) so you can stop polling.
                    properties:
                      channel:
                        type: string
                      url:
                        type: string
                      docs:
                        type: string
                  included:
                    type: array
                    items:
                      type: string
                      enum:
                      - token
                    description: Present only when `include=` was honoured.
                  include_truncated:
                    type: object
                    description: 'Present only when include=token hit the 20-distinct-mint cap: `{ token: [mints not embedded], note }` — those rows carry token:null.'
                    properties:
                      token:
                        type: array
                        items:
                          type: string
                      note:
                        type: string
                  include_errors:
                    type: object
                    description: 'Present only when an unknown `include=` value was sent: `{ <name>: { status: 400, error } }`.'
                  delay:
                    type: string
                    description: Free tier only — the applied feed delay ("5m").
                  delay_seconds:
                    type: integer
                    description: Free tier only — the delay in seconds (300).
                  as_of:
                    type: string
                    format: date-time
                    description: Free tier only — the delayed cutoff the page was served at.
                  delay_note:
                    type: string
                    description: Free tier only — plain-words note that PRO+ and x402 are real-time.
                  upgrade:
                    type: string
                    description: Free tier only — pricing URL.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolFeed
      x-operation-id-source: derived
  /kol/wallets:
    get:
      tags:
      - KOL
      summary: Tracked KOL roster (all tiers)
      description: 'The set of Solana wallets every `/kol/*` route is keyed on — address, name, X handle, strategy tag, follower counts, tracked-since. Roster only: performance lives in `/kol/leaderboard` and `/kol/{wallet}`. Added 2026-09-05 (customers guessed /kol/wallets, /kol/list, /kol/roster, /kol/search). The Robinhood Chain roster is `/rhc/kol/leaderboard`.'
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 200
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 5000
          default: 0
      - name: active
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - all
          default: 'true'
        description: Inactive wallets are kept for history but produce no new trades.
      - name: q
        in: query
        schema:
          type: string
          maxLength: 40
        description: Case-insensitive substring match on the KOL name.
      - name: strategy
        in: query
        schema:
          type: string
        description: Exact strategy_tag filter.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      type: object
                      properties:
                        wallet_address:
                          type: string
                        name:
                          type: string
                          nullable: true
                        twitter_url:
                          type: string
                          nullable: true
                        avatar_url:
                          type: string
                          nullable: true
                        strategy_tag:
                          type: string
                          nullable: true
                        twitter_followers:
                          type: integer
                          nullable: true
                        follow_count:
                          type: integer
                          description: MadeOnSol users following this KOL.
                        is_active:
                          type: boolean
                        tracked_since:
                          type: string
                          format: date-time
                          nullable: true
                  count:
                    type: integer
                  total:
                    type: integer
                    description: Total matching the filters (for paging).
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  filters:
                    type: object
                    description: Echo of the applied filters.
                    properties:
                      active:
                        type: string
                        enum:
                        - 'true'
                        - 'false'
                        - all
                      q:
                        type: string
                        nullable: true
                      strategy:
                        type: string
                        nullable: true
                  note:
                    type: string
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolWallets
      x-operation-id-source: derived
  /kol/leaderboard:
    get:
      tags:
      - KOL
      summary: KOL PnL leaderboard
      description: Ranked KOL leaderboard with 180 days of trade history. PRO+ can sort by winrate / profit factor / avg ROI / early-entry share / consistency.
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - today
          - 7d
          - 30d
          - 90d
          - 180d
          default: 7d
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 10000
          default: 0
        description: Page start into the filtered ranking
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - pnl
          - winrate
          - volume
          - avg_roi
          - profit_factor
          - early_entry_pct
          - consistency
          default: pnl
        description: PRO+
      - name: strategy
        in: query
        schema:
          type: string
          enum:
          - scalper
          - day_trader
          - swing_trader
          - hodler
          - mixed
        description: PRO+
      - name: min_winrate
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
        description: PRO+
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  leaderboard:
                    type: array
                    items:
                      allOf:
                      - $ref: '#/components/schemas/LeaderboardRow'
                      - type: object
                        properties:
                          entry_mc_samples:
                            type: integer
                            nullable: true
                            description: KOL buys with an MC-at-trade over the period (complete SQL aggregate). null only when that aggregate failed (entry_mc_complete=false) — never a fake 0
                          avg_entry_mc_usd:
                            type: integer
                            nullable: true
                            description: Average MC at entry over those buys; null with 0 samples or when the aggregate failed
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      returned:
                        type: integer
                      total:
                        type: integer
                        description: Rows in the filtered UNIVERSE (see universe) — not all KOLs
                      has_more:
                        type: boolean
                  universe:
                    type: object
                    description: 'Pagination walks a FIXED ranked set (audit F19), not every KOL: the top max_size KOLs by realized PnL for the period; sort/strategy/min_winrate re-rank and filter within it.'
                    properties:
                      kind:
                        type: string
                        enum:
                        - top_kols_by_realized_pnl
                      period:
                        type: string
                      max_size:
                        type: integer
                      size:
                        type: integer
                      note:
                        type: string
                  entry_mc_window_start:
                    type: string
                    format: date-time
                    nullable: true
                    description: Start of the entry-MC aggregate window (bucketed to 5 min; null = all time)
                  entry_mc_complete:
                    type: boolean
                    description: false = the entry-MC aggregate failed; per-row entry_mc_samples / avg_entry_mc_usd are null (unknown)
                  period:
                    type: string
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolLeaderboard
      x-operation-id-source: derived
  /kol/{wallet}:
    get:
      tags:
      - KOL
      summary: Single KOL profile
      description: Aggregated profile for one KOL wallet — name, twitter, 7d/30d winrate, total PnL, trade count, recent activity. `include` param adds optional sections (PRO+).
      parameters:
      - name: wallet
        in: path
        required: true
        schema:
          type: string
          example: 2FxiPRPLYX3H84FZkdRiUHDgDm4U5u98etbL4yvZ3qRq
        description: Solana wallet address (32-44 base58 chars)
      - name: include
        in: query
        schema:
          type: string
        description: 'Comma-separated extras: `pnl_by_token`, `recent_winners`, `recent_losers` (PRO+)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kol:
                    type: object
                    properties:
                      name:
                        type: string
                      wallet:
                        type: string
                      twitter_url:
                        type: string
                        nullable: true
                      strategy_tag:
                        type: string
                        nullable: true
                      auto_strategy_tag:
                        type: string
                        nullable: true
                  stats:
                    type: object
                    properties:
                      pnl:
                        type: number
                        description: SOL, sum of returned trades only (not full history)
                      buy_count:
                        type: integer
                      sell_count:
                        type: integer
                      volume:
                        type: number
                      win_rate:
                        type: number
                        description: 0-100. Present only when per-token PnL was computed (needed by `include`)
                  scores:
                    type: object
                    properties:
                      winrate_7d:
                        type: number
                        nullable: true
                      winrate_30d:
                        type: number
                        nullable: true
                      avg_roi_7d:
                        type: number
                        nullable: true
                      avg_roi_30d:
                        type: number
                        nullable: true
                      profit_factor_7d:
                        type: number
                        nullable: true
                      profit_factor_30d:
                        type: number
                        nullable: true
                      pnl_7d:
                        type: number
                        nullable: true
                      pnl_30d:
                        type: number
                        nullable: true
                      early_entry_pct_30d:
                        type: number
                        nullable: true
                      consistency_7d:
                        type: number
                        nullable: true
                      median_hold_minutes_30d:
                        type: number
                        nullable: true
                      closed_positions_7d:
                        type: integer
                      closed_positions_30d:
                        type: integer
                      is_heating_up:
                        type: boolean
                      is_cold:
                        type: boolean
                  peer_ranks:
                    type: object
                    properties:
                      percentile_pnl_7d:
                        type: number
                        nullable: true
                      percentile_winrate_7d:
                        type: number
                        nullable: true
                      percentile_pnl_30d:
                        type: number
                        nullable: true
                      percentile_winrate_30d:
                        type: number
                        nullable: true
                      percentile_early_entry_30d:
                        type: number
                        nullable: true
                  recent_trades:
                    type: array
                    description: Up to 100 most recent trades
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_name:
                          type: string
                          nullable: true
                        token_symbol:
                          type: string
                          nullable: true
                        action:
                          type: string
                          enum:
                          - buy
                          - sell
                        sol_amount:
                          type: number
                        token_amount:
                          type: number
                        market_cap_usd_at_trade:
                          type: number
                          nullable: true
                        price_usd_at_trade:
                          type: number
                          nullable: true
                        tx_signature:
                          type: string
                        traded_at:
                          type: string
                          format: date-time
                  pnl_by_token:
                    type: array
                    description: Only when `include` contains `pnl_by_token`
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_symbol:
                          type: string
                        token_name:
                          type: string
                        buy_count:
                          type: integer
                        sell_count:
                          type: integer
                        total_bought:
                          type: number
                        total_sold:
                          type: number
                        pnl:
                          type: number
                        result:
                          type: string
                          enum:
                          - open
                          - win
                          - loss
                        first_trade:
                          type: string
                          format: date-time
                        last_trade:
                          type: string
                          format: date-time
                  recent_winners:
                    type: array
                    description: Only when `include` contains `recent_winners` — up to 10, closed positions with pnl > 0
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_symbol:
                          type: string
                        token_name:
                          type: string
                        pnl:
                          type: number
                        roi_pct:
                          type: number
                          nullable: true
                        buy_count:
                          type: integer
                        sell_count:
                          type: integer
                        first_trade:
                          type: string
                          format: date-time
                        last_trade:
                          type: string
                          format: date-time
                  recent_losers:
                    type: array
                    description: Only when `include` contains `recent_losers` — up to 10, closed positions with pnl <= 0
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_symbol:
                          type: string
                        token_name:
                          type: string
                        pnl:
                          type: number
                        roi_pct:
                          type: number
                          nullable: true
                        buy_count:
                          type: integer
                        sell_count:
                          type: integer
                        first_trade:
                          type: string
                          format: date-time
                        last_trade:
                          type: string
                          format: date-time
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '404':
          description: Wallet not in KOL roster
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolByWallet
      x-operation-id-source: derived
  /kol/{wallet}/pnl:
    get:
      tags:
      - KOL
      summary: Per-token PnL breakdown for one KOL
      description: Trade-by-trade and per-token realised/unrealised PnL for a single KOL over a configurable period.
      parameters:
      - name: wallet
        in: path
        required: true
        schema:
          type: string
          example: 2FxiPRPLYX3H84FZkdRiUHDgDm4U5u98etbL4yvZ3qRq
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 7d
          - 30d
          - 90d
          - 180d
          default: 30d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kol:
                    type: object
                    properties:
                      name:
                        type: string
                      wallet:
                        type: string
                      twitter_url:
                        type: string
                        nullable: true
                      strategy_tag:
                        type: string
                        nullable: true
                  summary:
                    type: object
                    properties:
                      realized_pnl_sol:
                        type: number
                      unrealized_pnl_sol:
                        type: number
                      total_pnl_sol:
                        type: number
                      held_value_sol:
                        type: number
                      total_volume_sol:
                        type: number
                      tokens_traded:
                        type: integer
                      closed_positions:
                        type: integer
                      open_positions:
                        type: integer
                      held_positions:
                        type: integer
                      priced_held_positions:
                        type: integer
                      win_count:
                        type: integer
                      loss_count:
                        type: integer
                      win_rate:
                        type: number
                        nullable: true
                      profit_factor:
                        type: number
                        nullable: true
                      best_trade_pnl_sol:
                        type: number
                      worst_trade_pnl_sol:
                        type: number
                      avg_roi_pct:
                        type: number
                        nullable: true
                      avg_hold_minutes:
                        type: number
                      median_hold_minutes:
                        type: number
                      max_drawdown_sol:
                        type: number
                  pnl_curve:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                        day_pnl:
                          type: number
                        cumulative_pnl:
                          type: number
                        trades:
                          type: integer
                  closed_positions:
                    type: array
                    description: Up to 50 (max_positions), sorted by the underlying kol_wallet_pnl RPC
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_symbol:
                          type: string
                        token_name:
                          type: string
                        buy_count:
                          type: integer
                        sell_count:
                          type: integer
                        bought_sol:
                          type: number
                        sold_sol:
                          type: number
                        pnl_sol:
                          type: number
                        roi_pct:
                          type: number
                        still_holding:
                          type: boolean
                        held_value_sol:
                          type: number
                        unrealized_pnl_sol:
                          type: number
                        hold_minutes:
                          type: number
                        result:
                          type: string
                          enum:
                          - win
                          - loss
                        first_trade:
                          type: string
                          format: date-time
                        last_trade:
                          type: string
                          format: date-time
                  open_positions:
                    type: array
                    description: ULTRA only
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_symbol:
                          type: string
                        token_name:
                          type: string
                        buy_count:
                          type: integer
                        bought_sol:
                          type: number
                        held_value_sol:
                          type: number
                        unrealized_pnl_sol:
                          type: number
                        is_priced:
                          type: boolean
                        first_buy_at:
                          type: string
                          format: date-time
                  period:
                    type: string
                    enum:
                    - 7d
                    - 30d
                    - 90d
                    - 180d
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolByWalletPnl
      x-operation-id-source: derived
  /kol/{wallet}/timing:
    get:
      tags:
      - KOL
      summary: Behavioral timing fingerprint for one KOL
      description: Hour-of-day and day-of-week activity histograms, plus session inference, for one KOL wallet. Useful for predicting when they'll next trade.
      parameters:
      - name: wallet
        in: path
        required: true
        schema:
          type: string
          example: 2FxiPRPLYX3H84FZkdRiUHDgDm4U5u98etbL4yvZ3qRq
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 7d
          - 30d
          default: 30d
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  kol:
                    type: object
                    properties:
                      name:
                        type: string
                      wallet:
                        type: string
                  timing:
                    type: object
                    properties:
                      tokens_traded:
                        type: integer
                      positions_closed:
                        type: integer
                      avg_hold_minutes:
                        type: number
                        nullable: true
                      median_hold_minutes:
                        type: number
                        nullable: true
                      pct_closed_1h:
                        type: number
                        nullable: true
                        description: 0-100
                      pct_closed_6h:
                        type: number
                        nullable: true
                        description: 0-100
                      pct_closed_24h:
                        type: number
                        nullable: true
                        description: 0-100
                      avg_buy_size_sol:
                        type: number
                        nullable: true
                      avg_sell_size_sol:
                        type: number
                        nullable: true
                      most_active_hours:
                        type: array
                        nullable: true
                        items:
                          type: integer
                        description: UTC hours of day, 0-23
                      hour_distribution:
                        type: object
                        nullable: true
                        description: UTC hour (0-23, as string keys) → trade count
                        additionalProperties:
                          type: integer
                  period:
                    type: string
                    enum:
                    - 7d
                    - 30d
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolByWalletTiming
      x-operation-id-source: derived
  /kol/alerts/recent:
    get:
      tags:
      - KOL
      summary: Recently fired KOL alerts (PRO+)
      description: Last N coordination-cluster + first-touch alerts emitted by our alert engine. **PRO+** — the feed includes participating KOL wallet addresses. Useful for backtesting alert quality.
      parameters:
      - name: window
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 6h
          - 24h
          default: 6h
        description: Lookback window
      - name: types
        in: query
        schema:
          type: string
        description: Comma-separated alert types to include (omit for all)
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 30
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    description: Sorted by detected_at DESC (nulls last), then severity. Field set depends on `type`.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                          - consensus_cluster
                          - fresh_token_kol_buy
                          - heating_up
                        severity:
                          type: string
                          enum:
                          - high
                          - medium
                          - low
                        detected_at:
                          type: string
                          format: date-time
                          nullable: true
                          description: null for heating_up
                        token_mint:
                          type: string
                          description: consensus_cluster, fresh_token_kol_buy only
                        token_symbol:
                          type: string
                          nullable: true
                          description: consensus_cluster, fresh_token_kol_buy only
                        token_name:
                          type: string
                          nullable: true
                          description: consensus_cluster, fresh_token_kol_buy only
                        kol_count:
                          type: integer
                          description: consensus_cluster only
                        net_sol_flow:
                          type: number
                          description: consensus_cluster only
                        signal:
                          type: string
                          enum:
                          - accumulating
                          - distributing
                          description: consensus_cluster only
                        time_to_consensus_sec:
                          type: integer
                          nullable: true
                          description: consensus_cluster only
                        first_buy_at:
                          type: string
                          format: date-time
                          nullable: true
                          description: consensus_cluster only
                        market_cap_usd_at_first_buy:
                          type: number
                          nullable: true
                          description: consensus_cluster only
                        market_cap_usd:
                          type: number
                          nullable: true
                          description: consensus_cluster only, current MC
                        last_price_usd:
                          type: number
                          nullable: true
                          description: consensus_cluster only
                        kols:
                          type: array
                          description: consensus_cluster only
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              wallet:
                                type: string
                        token_age_minutes:
                          type: integer
                          description: fresh_token_kol_buy only
                        kol_name:
                          type: string
                          nullable: true
                          description: fresh_token_kol_buy, heating_up
                        wallet:
                          type: string
                          description: fresh_token_kol_buy, heating_up only
                        kol_winrate_7d:
                          type: number
                          nullable: true
                          description: fresh_token_kol_buy only
                        kol_percentile_pnl_7d:
                          type: number
                          nullable: true
                          description: fresh_token_kol_buy only
                        sol_amount:
                          type: number
                          description: fresh_token_kol_buy only
                        market_cap_usd_at_trade:
                          type: number
                          nullable: true
                          description: fresh_token_kol_buy only
                        price_usd_at_trade:
                          type: number
                          nullable: true
                          description: fresh_token_kol_buy only
                        kol_twitter:
                          type: string
                          nullable: true
                          description: heating_up only
                        strategy_tag:
                          type: string
                          nullable: true
                          description: heating_up only
                        winrate_7d:
                          type: number
                          nullable: true
                          description: heating_up only
                        pnl_7d:
                          type: number
                          nullable: true
                          description: heating_up only
                        closed_positions_7d:
                          type: integer
                          description: heating_up only
                        percentile_pnl_7d:
                          type: number
                          nullable: true
                          description: heating_up only
                  count:
                    type: integer
                  window:
                    type: string
                    enum:
                    - 1h
                    - 6h
                    - 24h
                  types:
                    type: array
                    items:
                      type: string
                      enum:
                      - consensus_cluster
                      - fresh_token_kol_buy
                      - heating_up
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getKolAlertsRecent
      x-operation-id-source: derived
  /kol/pairs:
    get:
      tags:
      - KOL
      summary: KOLs who frequently trade together
      description: Wallet pairs that show high overlap in tokens traded inside short windows. Surfaces social/cabal clusters.
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 7d
          - 30d
          default: 7d
      - name: min_shared
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 3
        description: Minimum shared tokens between the two wallets
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 10000
          default: 0
        description: Page start into the ranked list — response includes a `pagination` block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pairs:
                    type: array
                    items:
                      type: object
                      properties:
                        kol_a:
                          type: object
                          properties:
                            name:
                              type: string
                            wallet:
                              type: string
                        kol_b:
                          type: object
                          properties:
                            name:
                              type: string
                            wallet:
                              type: string
                        shared_token_count:
                          type: integer
                        agreement_rate:
                          type: number
                          description: 0-100, share of shared tokens where both traded in agreement
                        shared_tokens:
                          type: array
                          items:
                            type: string
                          description: ULTRA only — the shared token mints
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      returned:
                        type: integer
                      has_more:
                        type: boolean
                  period:
                    type: string
                    enum:
                    - 7d
                    - 30d
                  min_shared:
                    type: integer
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolPairs
      x-operation-id-source: derived
  /kol/tokens/{mint}:
    get:
      tags:
      - KOL
      summary: KOL activity on one token
      description: All KOLs who have traded the given token mint, with sizes, timing, and aggregate buy/sell counts (up to 50 KOLs by net flow).
      parameters:
      - name: mint
        in: path
        required: true
        schema:
          type: string
          example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_mint:
                    type: string
                  summary:
                    type: object
                    properties:
                      kol_count:
                        type: integer
                      total_bought_sol:
                        type: number
                      total_sold_sol:
                        type: number
                      net_flow_sol:
                        type: number
                      signal:
                        type: string
                        enum:
                        - accumulating
                        - distributing
                  kols:
                    type: array
                    description: Up to 50 KOLs by net flow
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        wallet:
                          type: string
                        buy_count:
                          type: integer
                        sell_count:
                          type: integer
                        total_bought:
                          type: number
                        total_sold:
                          type: number
                        net_sol:
                          type: number
                          description: total_sold − total_bought in SOL (kol_token_flow). Negative = the KOL put more SOL in than it took out (net buyer).
                        position:
                          type: string
                          enum:
                          - net_buyer
                          - net_seller
                          - neutral
                          description: net_buyer when net_sol < 0, net_seller when net_sol > 0.
                        first_trade:
                          type: string
                          format: date-time
                        last_trade:
                          type: string
                          format: date-time
                  delay:
                    type: string
                    description: BASIC tier only, e.g. "5m" — feed is delayed
                  delay_seconds:
                    type: integer
                    description: BASIC tier only
                  as_of:
                    type: string
                    format: date-time
                    description: BASIC tier only — aggregates/last_trade exclude rows newer than this
                  delay_note:
                    type: string
                    description: BASIC tier only
                  upgrade:
                    type: string
                    description: BASIC tier only
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Invalid mint
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '404':
          description: Token not seen by our KOL roster
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolTokensByMint
      x-operation-id-source: derived
  /kol/tokens/{mint}/entry-order:
    get:
      tags:
      - KOL
      summary: KOL entry order on one token
      description: Ordered list of KOL first-buys on a token mint — who got in first, second, etc., with timestamps. Each wallet's FIRST buy is chosen in SQL before the limit (a repeat buyer can no longer crowd later first-time buyers out), ordered deterministically by (traded_at, tx_signature, wallet). The x402 twin returns the same body.
      parameters:
      - name: mint
        in: path
        required: true
        schema:
          type: string
          example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token_mint:
                    type: string
                  token_name:
                    type: string
                    nullable: true
                  token_symbol:
                    type: string
                    nullable: true
                  total_kol_buyers:
                    type: integer
                    description: Distinct KOL wallets with a first buy on this mint — over ALL KOL buyers (first buy per wallet chosen in SQL before the `limit`)
                  returned:
                    type: integer
                    description: entries.length
                  has_more:
                    type: boolean
                    description: More KOL buyers exist beyond `limit` (max 100)
                  complete:
                    type: boolean
                    enum:
                    - true
                    description: Entry order is a complete SQL aggregate (no row-clamped sample)
                  first_buy_at:
                    type: string
                    format: date-time
                  last_buy_at:
                    type: string
                    format: date-time
                  span_sec:
                    type: integer
                  entries:
                    type: array
                    description: Ranked first-buy order, capped at `limit`
                    items:
                      type: object
                      properties:
                        rank:
                          type: integer
                        kol_name:
                          type: string
                          nullable: true
                        kol_twitter:
                          type: string
                          nullable: true
                        wallet:
                          type: string
                        strategy_tag:
                          type: string
                          nullable: true
                        auto_strategy_tag:
                          type: string
                          nullable: true
                        winrate_7d:
                          type: number
                          nullable: true
                        winrate_30d:
                          type: number
                          nullable: true
                        early_entry_pct_30d:
                          type: number
                          nullable: true
                        percentile_pnl_7d:
                          type: number
                          nullable: true
                        percentile_winrate_7d:
                          type: number
                          nullable: true
                        first_buy_at:
                          type: string
                          format: date-time
                        seconds_after_first:
                          type: integer
                        sol_amount:
                          type: number
                        token_amount:
                          type: number
                        tx_signature:
                          type: string
                  delay:
                    type: string
                    description: BASIC tier only, e.g. "5m" — feed is delayed
                  delay_seconds:
                    type: integer
                    description: BASIC tier only
                  as_of:
                    type: string
                    format: date-time
                    description: BASIC tier only — entries newer than this are hidden
                  delay_note:
                    type: string
                    description: BASIC tier only
                  upgrade:
                    type: string
                    description: BASIC tier only
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolTokensByMintEntryOrder
      x-operation-id-source: derived
  /kol/tokens/trending:
    get:
      tags:
      - KOL
      summary: Trending tokens by KOL acceleration
      description: Tokens trending across KOL wallets right now, ranked by raw KOL buy volume (`buy_volume_sol`), buy count and recency inside the window. Complements `/kol/tokens/hot`, which ranks by buy-velocity *acceleration* vs the prior baseline.
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 5m
          - 15m
          - 30m
          - 1h
          - 2h
          - 4h
          - 12h
          default: 1h
        description: Acceleration measurement window
      - name: min_kols
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 20
          default: 1
        description: Minimum distinct KOL buyers
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
        description: Page size (capped at 20 below ULTRA)
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 10000
          default: 0
        description: Page start into the ranked list — response includes a `pagination` block
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  trending:
                    type: array
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_symbol:
                          type: string
                        token_name:
                          type: string
                        token_image_url:
                          type: string
                          nullable: true
                        buy_volume_sol:
                          type: number
                        sell_volume_sol:
                          type: number
                        net_flow_sol:
                          type: number
                        buy_count:
                          type: integer
                        sell_count:
                          type: integer
                        kol_count:
                          type: integer
                        first_buy_at:
                          type: string
                          format: date-time
                        latest_buy_at:
                          type: string
                          format: date-time
                        latest_buy_age_minutes:
                          type: integer
                          nullable: true
                        kols:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              wallet:
                                type: string
                                description: ULTRA only
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                        description: 'Page-size cap: 20 below ULTRA'
                      offset:
                        type: integer
                      returned:
                        type: integer
                      has_more:
                        type: boolean
                  universe:
                    type: object
                    description: 'Offset pages walk a FIXED top-N ranked list (audit F19), not every token KOLs traded: has_more=false at the end of the universe does not mean no further token qualified.'
                    properties:
                      kind:
                        type: string
                        enum:
                        - top_ranked
                      max_size:
                        type: integer
                      size:
                        type: integer
                      truncated_at_max:
                        type: boolean
                      note:
                        type: string
                  period:
                    type: string
                    enum:
                    - 5m
                    - 15m
                    - 30m
                    - 1h
                    - 2h
                    - 4h
                    - 12h
                  min_kols:
                    type: integer
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getKolTokensTrending
      x-operation-id-source: derived
  /kol/coordination:
    get:
      tags:
      - KOL
      summary: Multi-KOL coordination signals (PRO+)
      description: Detect tokens being traded by multiple KOLs within a window. **PRO+** — the live signal includes participating KOL wallet addresses. 3+ convergent KOLs is often a leading signal. Stablecoins / wSOL / LSTs are always filtered; established memecoins (WIF, BONK, POPCAT) are filtered by default — pass `include_majors=true` to see them. `peak_*` fields describe the densest buy cluster inside the period. Results are sorted by `coordination_score` over a fixed universe — the top 150 clusters by (kol_count DESC, net_sol_flow DESC) — and every filter runs inside it (see `universe`; since 2026-09-21 — previously only the first `limit` clusters, ×3 with filters, were scored).
      parameters:
      - name: include
        in: query
        schema:
          type: string
          enum:
          - risk
        description: include=risk embeds /tokens/{mint}/risk on each cluster (≤20 distinct mints). Runs the sibling handler in-process and embeds its body under its own key; a failing include lands in include_errors and never fails the request; counts as ONE call.
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 6h
          - 24h
          - 7d
          default: 24h
      - name: min_kols
        in: query
        schema:
          type: integer
          minimum: 2
          maximum: 50
          default: 3
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: min_avg_winrate
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
        description: PRO+
      - name: unique_strategies
        in: query
        schema:
          type: boolean
        description: PRO+. true = require the cluster's KOLs to span distinct strategies (the route accepts true|false|1|0; any other value is a 400).
      - name: include_majors
        in: query
        schema:
          type: boolean
          default: false
        description: Include WIF, BONK, POPCAT etc. in results
      - name: window_minutes
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 60
          default: 15
        description: Width of the peak-density window
      - name: min_score
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 100
        description: Only return clusters with coordination_score ≥ this value
      - name: min_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: 'v1.6: lower bound on entry MC (MC at first KOL buy). Tokens with unknown entry MC drop out when set.'
      - name: max_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: 'v1.6: upper bound on entry MC.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coordination:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoordinationCluster'
                  period:
                    type: string
                  min_kols:
                    type: integer
                    description: Echo of the applied min_kols.
                  window_minutes:
                    type: integer
                    description: Echo of the applied peak-density window (minutes).
                  score_version:
                    type: string
                    description: Bumps when score weights change; clients can pin logic to a known version.
                  universe:
                    type: object
                    description: 'The clusters the ranking was computed over (audit F09 follow-up, 2026-09-21): the top `max_size` by (kol_count DESC, net_sol_flow DESC) for the period/min_kols/window. Every filter (min_score, min_avg_winrate, unique_strategies, MC band) and the coordination_score sort run inside this universe, so a filtered result is always a subset of the unfiltered ranking. `truncated_at_max`=true means more clusters exist below the cap.'
                    properties:
                      kind:
                        type: string
                        enum:
                        - top_by_kol_count
                      order:
                        type: string
                      max_size:
                        type: integer
                      size:
                        type: integer
                      truncated_at_max:
                        type: boolean
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getKolCoordination
      x-operation-id-source: derived
  /kol/coordination/alerts:
    get:
      tags:
      - KOL
      summary: List your coordination alert rules
      description: 'Returns active + inactive rules for the authenticated user. PRO: 5 rules max. ULTRA: 20 rules max.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoordinationAlertRule'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Pro/Ultra tier required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getKolCoordinationAlerts
      x-operation-id-source: derived
    post:
      tags:
      - KOL
      summary: Create a coordination alert rule
      description: 'Rule fires via pg_notify push when a token hits `min_kols` distinct KOL buys inside a rolling `window_minutes` window AND scores >= `min_score`. Cooldown per (rule, token); re-fires early if score jumps >= `score_jump_break`. Delivery: `websocket` (on the `kol:coordination` WS channel), `webhook` (per-rule HMAC), or `both`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  maxLength: 64
                min_kols:
                  type: integer
                  minimum: 2
                  maximum: 50
                  default: 5
                window_minutes:
                  type: integer
                  minimum: 1
                  maximum: 60
                  default: 15
                min_score:
                  type: integer
                  minimum: 0
                  maximum: 100
                  default: 0
                include_majors:
                  type: boolean
                  default: false
                cooldown_min:
                  type: integer
                  minimum: 1
                  maximum: 1440
                  default: 30
                score_jump_break:
                  type: integer
                  minimum: 0
                  maximum: 100
                  default: 20
                  description: Re-fire during cooldown when new score ≥ last_score + this
                delivery_mode:
                  type: string
                  enum:
                  - websocket
                  - webhook
                  - both
                  default: websocket
                webhook_url:
                  type: string
                  format: uri
                  description: Required if delivery_mode includes webhook. HTTPS only.
                min_mc_usd:
                  type: number
                  minimum: 0
                  maximum: 1000000000000
                  nullable: true
                  description: 'v1.6: lower bound on entry MC (MC at the triggering trade). Triggers on tokens with unknown MC drop out when set.'
                max_mc_usd:
                  type: number
                  minimum: 0
                  maximum: 1000000000000
                  nullable: true
                  description: 'v1.6: upper bound on entry MC.'
      responses:
        '200':
          description: Rule created. Response includes `webhook_secret` (one-time) if a webhook URL was supplied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/CoordinationAlertRule'
                  webhook_secret:
                    type: string
                    nullable: true
                    description: One-time reveal — only present when a webhook_url was supplied. Use to verify HMAC-SHA256 signatures (X-MadeOnSol-Signature).
                  note:
                    type: string
                    nullable: true
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Pro/Ultra required
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Rule quota reached
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: postKolCoordinationAlerts
      x-operation-id-source: derived
  /kol/coordination/alerts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    get:
      tags:
      - KOL
      summary: Fetch one coordination alert rule
      description: Fetch one coordination alert rule you own, addressed by the `id` path param (UUID). Returns its KOL set, thresholds, delivery config (webhook / websocket / both), and `is_active` state. 404 if the id doesn't exist or isn't yours.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/CoordinationAlertRule'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '404':
          description: Not found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getKolCoordinationAlertsById
      x-operation-id-source: derived
    patch:
      tags:
      - KOL
      summary: Update fields on a coordination alert rule
      description: All fields from POST are patchable, plus `is_active` for pause/resume.
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  rule:
                    $ref: '#/components/schemas/CoordinationAlertRule'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '404':
          description: Not found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: patchKolCoordinationAlertsById
      x-operation-id-source: derived
    delete:
      tags:
      - KOL
      summary: Delete a coordination alert rule
      description: Permanently delete a coordination alert rule you own, addressed by the `id` path param (UUID). Stops all further alerts from that rule. 404 if the id doesn't exist or isn't yours.
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: boolean
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '404':
          description: Not found
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: deleteKolCoordinationAlertsById
      x-operation-id-source: derived
  /kol/first-touches:
    get:
      tags:
      - KOL
      summary: Recent first-KOL-touch events
      description: 'Every ''first KOL buy on a token mint'' event. Filterable by scout tier (S/A/B/C from `mv_kol_scout_score`), KOL winrate, token age, mint suffix. Backtest: top scouts attract ≥3 follow-on KOLs within 4h ~50% of the time vs ~14% baseline. Median lead time before second KOL is 12s — for trading, subscribe to the `kol:first_touches` WebSocket channel (PRO+) rather than polling.'
      parameters:
      - name: include
        in: query
        schema:
          type: string
        description: 'Comma-separated includes: `wallet` and/or `followers_4h`. include=wallet embeds /wallet/{address} for the first-KOL wallet on each event (ULTRA only — the wallet address itself is an ULTRA field here; ≤20 distinct wallets per page). Runs the sibling handler in-process and embeds its body under its own key; a failing include lands in include_errors and never fails the request; counts as ONE call.'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: since
        in: query
        schema:
          type: string
          format: date-time
        description: Polling cursor — events strictly newer than this
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: Pagination cursor — events strictly older than this
      - name: cursor
        in: query
        schema:
          type: string
          maxLength: 200
        description: 'PREFERRED pagination (audit F09 follow-up): the `next_cursor` from a previous page — an opaque strict (first_buy_at, id) keyset, so paging never repeats or skips rows that share a timestamp and progresses with limit=1 through runs of identical timestamps. Malformed or tampered → 400. Cannot be combined with `before=` (400); `before=` stays supported as the legacy bound.'
      - name: kol
        in: query
        schema:
          type: string
        description: Filter to one KOL wallet (32-44 base58 chars)
      - name: min_kol_winrate_7d
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
      - name: min_scout_tier
        in: query
        schema:
          type: string
          enum:
          - S
          - A
          - B
          - C
      - name: min_n_touches
        in: query
        schema:
          type: integer
          minimum: 1
      - name: strategy
        in: query
        schema:
          type: string
          enum:
          - scalper
          - day_trader
          - swing_trader
          - hodler
          - mixed
      - name: token_age_max_min
        in: query
        schema:
          type: integer
          minimum: 1
      - name: min_first_buy_sol
        in: query
        schema:
          type: number
          minimum: 0
      - name: mint_suffix
        in: query
        schema:
          type: string
        description: e.g. 'pump', 'bonk'
      - name: preset
        in: query
        schema:
          type: string
          enum:
          - scout
          - fresh_launch
      - name: min_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: 'v1.6: lower bound on market_cap_usd_at_first_buy. Touches with unknown MC drop out when set.'
      - name: max_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: 'v1.6: upper bound on market_cap_usd_at_first_buy.'
      responses:
        '200':
          description: OK — returns `{ events, count, next_before, data_age_seconds }`. Each event has `first_kol.{name, winrate_7d, strategy, scout_tier, scout_score, n_first_touches_30d}`. ULTRA also gets `first_kol.wallet`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        token_mint:
                          type: string
                        token_symbol:
                          type: string
                          nullable: true
                        token_name:
                          type: string
                          nullable: true
                        token_image_url:
                          type: string
                          nullable: true
                        first_buy_at:
                          type: string
                          format: date-time
                        sol_amount:
                          type: number
                          nullable: true
                        token_amount:
                          type: number
                          nullable: true
                        tx_signature:
                          type: string
                          nullable: true
[...]
