openapi: 3.2.0
info:
  title: MadeOnSol Robinhood Chain API
  version: 1.20.0
  description: Real-time Solana & Robinhood Chain trading intelligence — KOL wallet trades, deployer reputation, token buyer-quality scoring, wallet tracking, and copy-trade signals across both chains (Robinhood Chain paths under `/rhc/*`).
  contact:
    name: MadeOnSol
    url: https://madeonsol.com/contact
  license:
    name: Proprietary
    url: https://madeonsol.com/terms
servers:
- url: https://madeonsol.com/api/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Robinhood Chain
  description: Robinhood Chain (chain id 4663) coverage — same intel, EVM-native contracts (0x addresses, eth_amount, tx_hash). Bundled into existing tiers at no extra cost.
paths:
  /rhc/kol/feed:
    get:
      tags:
      - Robinhood Chain
      summary: KOL trade feed on Robinhood Chain (BASIC+; 5-min delay on free)
      description: 'Every buy/sell from tracked Solana KOLs'' verified EVM wallets on Robinhood Chain (chain id 4663), attributed to the effective trading account from our self-hosted node (tx.from normally, or the ERC-4337 userOp sender when bundled — never the bundler) — DEX swaps and launchpad curve snipes, within seconds of execution on PRO and up (the free tier serves this feed on a 5-minute delay). The KOL→EVM mapping is recovered by tracing each KOL''s Solana→EVM bridge deposits (deBridge / Relay / Mayan / Wormhole) — a dataset unique to MadeOnSol. Every row is enriched with the token''s current MC/liquidity/peak, the deployer''s reputation tier, and `mc_multiple_since_trade` (current MC ÷ MC when the KOL bought — ''did the call run''). Tier: **BASIC** (any valid key).'
      parameters:
      - $ref: '#/components/parameters/Limit'
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: 'Cursor: return trades strictly older than this ISO timestamp. Pass `next_before` from the previous response to page backwards.'
      - name: cursor
        in: query
        schema:
          type: string
          maxLength: 200
        description: 'PREFERRED pagination (audit F09 follow-up): the `next_cursor` from a previous page — an opaque strict (traded_at, id) keyset, so paging never repeats or skips rows that share a timestamp and progresses with limit=1 through runs of identical timestamps. Malformed or tampered → 400. Cannot be combined with `before=` (400); `before=` stays supported as the legacy bound.'
      - name: action
        in: query
        schema:
          type: string
          enum:
          - buy
          - sell
        description: Only buys or only sells.
      - name: kol
        in: query
        schema:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
        description: Filter to a single KOL by their EVM wallet address (0x, 40 hex).
      - name: min_eth
        in: query
        schema:
          type: number
          minimum: 0
        description: Minimum trade size in ETH.
      - name: exclude_sells
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - '1'
          - '0'
        description: Convenience alias for `action=buy` — drops sells from the feed. Ignored if `action` is set explicitly.
      - name: min_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
        description: Only trades where the token's market cap at trade time was at least this (USD).
      - name: max_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
        description: Only trades where the token's market cap at trade time was at most this (USD). Combine with `min_mc_usd` for a band; `min_mc_usd` must be <= `max_mc_usd` or the request 400s.
      - name: token_age_max_min
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 43200
        description: Only trades on tokens first seen at most this many minutes ago — the 'fresh launches KOLs are buying' filter. Tokens with unknown first-seen time are excluded.
      - name: min_kol_winrate
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1
        description: 'Only trades by KOLs whose 7-day win rate (mv_rhc_kol_scores.winrate_7d, CLOSED positions only — sold ≥ 90 % of bought) is at least this (0–1). KOLs with no closed positions have a NULL win rate and are dropped, so `min_kol_winrate=0` is NOT a no-op: it means "scored".'
      - name: strategy
        in: query
        schema:
          type: string
          enum:
          - scalper
          - day_trader
          - swing
          - inactive
          - unscored
        description: Only trades by KOLs in this hold-time bucket (mv_rhc_kol_scores.strategy). An RHC-specific bucket, not Solana's auto_strategy_tag.
      responses:
        '200':
          description: '`chain` echoes `robinhood`; `next_before` is the pagination cursor; `data_age_seconds` is the age of the newest row.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  trades:
                    type: array
                    items:
                      type: object
                      properties:
                        evm_address:
                          type: string
                          description: The KOL's Robinhood-Chain wallet (0x).
                        kol_name:
                          type: string
                          nullable: true
                        kol_twitter:
                          type: string
                          nullable: true
                        token_address:
                          type: string
                        token_symbol:
                          type: string
                          nullable: true
                        token_name:
                          type: string
                          nullable: true
                        launchpad:
                          type: string
                          nullable: true
                          description: pons | flap | clanker | hood.fun | virtuals | null.
                        is_graduated:
                          type: boolean
                          nullable: true
                        deployer_tier:
                          type: string
                          nullable: true
                          enum:
                          - elite
                          - good
                          - neutral
                          - spammer
                          description: Reputation tier of the token's deployer.
                        token_age_minutes:
                          type: integer
                          nullable: true
                          description: Token age at request time (first-seen → now).
                        action:
                          type: string
                          enum:
                          - buy
                          - sell
                        eth_amount:
                          type: number
                          nullable: true
                          description: Trade size in ETH.
                        token_amount:
                          type: number
                          nullable: true
                        price_usd_at_trade:
                          type: number
                          nullable: true
                        market_cap_usd_at_trade:
                          type: number
                          nullable: true
                          description: Token market cap when the KOL traded.
                        current_mc_usd:
                          type: number
                          nullable: true
                          description: Token market cap now.
                        peak_mc_usd:
                          type: number
                          nullable: true
                          description: All-time-high market cap observed since ingestion.
                        liquidity_usd:
                          type: number
                          nullable: true
                        liquidity_basis:
                          type: string
                          enum:
                          - v4_virtual_ceiling
                          - measured
                          description: How liquidity_usd was derived. uniswap-v4 has no per-pool balances, so its figure is virtual reserves clamped to the PoolManager's total holdings — a provable CEILING, not measured per-pool TVL. All other venues are measured from real balances.
                        risk:
                          $ref: '#/components/schemas/RhcTokenRiskSummary'
                        mc_multiple_since_trade:
                          type: number
                          nullable: true
                          description: current_mc_usd ÷ market_cap_usd_at_trade — how far the token ran after the KOL's trade.
                        dex:
                          type: string
                          description: uniswap-v2/v3/v4 or the launchpad name for curve trades.
                        pool:
                          type: string
                          nullable: true
                        tx_hash:
                          type: string
                        block_number:
                          type: integer
                        traded_at:
                          type: string
                          format: date-time
                        kol_score:
                          type: object
                          nullable: true
                          description: The KOL's row in mv_rhc_kol_scores. null = no row yet (too few closed positions), never "not looked up".
                          properties:
                            winrate_7d:
                              type: number
                              nullable: true
                              description: 0–1, CLOSED positions only (sold ≥ 90 % of bought).
                            winrate_30d:
                              type: number
                              nullable: true
                            strategy:
                              type: string
                              nullable: true
                              description: 'Hold-time bucket: scalper | day_trader | swing | inactive | unscored.'
                            closed_positions_30d:
                              type: integer
                              nullable: true
                  count:
                    type: integer
                  filtered_by:
                    type: object
                    description: Echo of the KOL-score filters (null = not applied).
                    properties:
                      min_kol_winrate:
                        type: number
                        nullable: true
                      strategy:
                        type: string
                        nullable: true
                  matched_kols:
                    type: integer
                    nullable: true
                    description: KOLs matching min_kol_winrate/strategy; null when neither filter is set.
                  data_age_seconds:
                    type: integer
                    nullable: true
                  next_before:
                    type: string
                    format: date-time
                    nullable: true
                  next_cursor:
                    type: string
                    nullable: true
                    description: Opaque keyset cursor for the next (older) page — pass as `cursor=`. PREFERRED over next_before, which is a strict timestamp bound that skips same-timestamp siblings of the boundary row.
                  has_more:
                    type: boolean
                    description: false only when the feed is exhausted (not merely when the page is short).
                  scan:
                    type: object
                    description: 'Present when a filter had to be applied after the candidate fetch (audit F09): has_more is then false only when the candidates ran out, and scan_truncated=true means the per-request scan budget ran out first — more matches MAY exist past next_cursor.'
                    properties:
                      post_filtered:
                        type: boolean
                      scanned:
                        type: integer
                        description: Candidate rows examined
                      scan_truncated:
                        type: boolean
                        description: The per-request scan budget ran out before `limit` matches — more matches MAY exist past the cursor/offset
                      scan_budget:
                        type: integer
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcKolFeed
      x-operation-id-source: derived
  /rhc/kol/leaderboard:
    get:
      tags:
      - Robinhood Chain
      summary: KOL activity leaderboard on Robinhood Chain (BASIC+)
      description: 'KOLs on Robinhood Chain ranked by trade count, then net ETH flow, over the chosen window. Tier: **BASIC**. (Net ETH is buy−sell flow, not realized PnL — cost-basis PnL is a planned addition.)'
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          default: 24h
        description: Rolling window.
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  period:
                    type: string
                    enum:
                    - 24h
                    - 7d
                    - 30d
                  leaderboard:
                    type: array
                    items:
                      type: object
                      properties:
                        kol_name:
                          type: string
                          nullable: true
                        kol_twitter:
                          type: string
                          nullable: true
                        trades:
                          type: integer
                        buys:
                          type: integer
                        sells:
                          type: integer
                        buy_eth:
                          type: number
                          description: Total ETH bought in the window.
                        sell_eth:
                          type: number
                          description: Total ETH sold in the window.
                        net_eth:
                          type: number
                          description: buy_eth − sell_eth (flow, not realized PnL).
                        tokens_traded:
                          type: integer
                          description: Distinct tokens traded in the window.
                        last_trade_at:
                          type: string
                          format: date-time
                  count:
                    type: integer
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcKolLeaderboard
      x-operation-id-source: derived
  /rhc/kol/hot-tokens:
    get:
      tags:
      - Robinhood Chain
      summary: Consensus tokens — bought by 2+ KOLs on Robinhood Chain (BASIC+)
      description: 'Robinhood Chain tokens bought by **2 or more distinct tracked KOLs** inside the window (a consensus signal), ranked by KOL-buyer count then buy volume. Each row is enriched with launchpad, deployer reputation tier, graduation status and current market cap. Tier: **BASIC**.'
      parameters:
      - name: window
        in: query
        schema:
          type: string
          enum:
          - 5m
          - 15m
          - 1h
          - 6h
          - 24h
          default: 1h
        description: Rolling consensus window.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  window:
                    type: string
                    enum:
                    - 5m
                    - 15m
                    - 1h
                    - 6h
                    - 24h
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        token_address:
                          type: string
                        token_symbol:
                          type: string
                          nullable: true
                        token_name:
                          type: string
                          nullable: true
                        launchpad:
                          type: string
                          nullable: true
                          description: noxa | flap | pons | hood.fun | clanker | null.
                        is_graduated:
                          type: boolean
                          nullable: true
                        deployer_tier:
                          type: string
                          nullable: true
                          description: elite | good | neutral | spammer | null.
                        kols_buying:
                          type: integer
                          description: Distinct KOL buyers in the window (>= 2).
                        buys:
                          type: integer
                        sells:
                          type: integer
                        buy_eth:
                          type: number
                        net_eth:
                          type: number
                          description: buy_eth − sell_eth.
                        market_cap_usd:
                          type: number
                          nullable: true
                          description: Current market cap.
                        last_trade_at:
                          type: string
                          format: date-time
                  count:
                    type: integer
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcKolHotTokens
      x-operation-id-source: derived
  /rhc/tokens/hot:
    get:
      tags:
      - Robinhood Chain
      summary: Alias of /rhc/kol/hot-tokens (BASIC+)
      description: Same handler as `/rhc/kol/hot-tokens` — tokens bought by 2+ tracked KOLs in the window. Added 2026-09-05 because customers guess this URL; `window` passes through. Prefer the canonical path in new code.
      parameters:
      - name: window
        in: query
        schema:
          type: string
          enum:
          - 5m
          - 15m
          - 1h
          - 6h
          - 24h
          default: 1h
      responses:
        '200':
          description: Identical to /rhc/kol/hot-tokens.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcTokensHot
      x-operation-id-source: derived
  /rhc/tokens/trending:
    get:
      tags:
      - Robinhood Chain
      summary: Alias of /rhc/kol/hot-tokens (BASIC+)
      description: Same handler as `/rhc/kol/hot-tokens` — tokens bought by 2+ tracked KOLs in the window. Added 2026-09-05 because customers guess this URL; `window` passes through. Prefer the canonical path in new code.
      parameters:
      - name: window
        in: query
        schema:
          type: string
          enum:
          - 5m
          - 15m
          - 1h
          - 6h
          - 24h
          default: 1h
      responses:
        '200':
          description: Identical to /rhc/kol/hot-tokens.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcTokensTrending
      x-operation-id-source: derived
  /rhc/kol/coordination:
    get:
      tags:
      - Robinhood Chain
      summary: KOL coordination / consensus clustering on Robinhood Chain (BASIC+)
      description: 'Tokens being bought by **multiple distinct tracked KOLs** inside a time window on Robinhood Chain (chain id 4663) — the coordination / consensus signal. Computed read-time from `rhc_kol_trades`: window buys grouped by token, distinct KOL wallets counted, then enriched with in-window sells (net-flow / exit math), token metadata, current price/MC/liquidity and the deployer''s reputation tier. EVM-native fields (`eth_amount`, `evm_address`, 0x). Ranked by distinct KOL count, then buy ETH, then recency. Tier: **BASIC** (any valid key).'
      parameters:
      - name: period
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 6h
          - 24h
          - 7d
          default: 24h
        description: 'Rolling window (alias: `window`). Filters on `traded_at`.'
      - name: min_kols
        in: query
        schema:
          type: integer
          minimum: 2
          maximum: 50
          default: 2
        description: Minimum distinct KOL buyers for a token to qualify.
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
      - name: min_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: Filter on market cap at the first KOL buy (USD). Tokens with unknown MC at first buy are excluded when a band is set.
      - name: max_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: Upper bound on MC at first KOL buy (USD). Must be ≥ min_mc_usd.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  coordination:
                    type: array
                    items:
                      type: object
                      properties:
                        token_address:
                          type: string
                        token_symbol:
                          type: string
                          nullable: true
                        token_name:
                          type: string
                          nullable: true
                        launchpad:
                          type: string
                          nullable: true
                        is_graduated:
                          type: boolean
                          nullable: true
                        deployer_tier:
                          type: string
                          nullable: true
                          enum:
                          - elite
                          - good
                          - neutral
                          - spammer
                        token_age_minutes:
                          type: integer
                          nullable: true
                        kol_count:
                          type: integer
                          description: Distinct KOL buyers in the window (≥ min_kols).
                        total_buys:
                          type: integer
                        buy_eth:
                          type: number
                          description: Total ETH bought by KOLs in the window.
                        sell_eth:
                          type: number
                          description: Total ETH sold by those KOLs in the window.
                        net_eth:
                          type: number
                          description: buy_eth − sell_eth.
                        signal:
                          type: string
                          enum:
                          - accumulating
                          - distributing
                          description: accumulating when net_eth ≥ 0, else distributing.
                        exited_count:
                          type: integer
                          description: KOLs whose in-window sells exceed their buys.
                        holders_count:
                          type: integer
                          description: kol_count − exited_count.
                        first_buy_at:
                          type: string
                          format: date-time
                        last_buy_at:
                          type: string
                          format: date-time
                        time_to_consensus_sec:
                          type: integer
                          description: Seconds between the first and last KOL buy.
                        market_cap_usd_at_first_buy:
                          type: number
                          nullable: true
                        current_mc_usd:
                          type: number
                          nullable: true
                        peak_mc_usd:
                          type: number
                          nullable: true
                        liquidity_usd:
                          type: number
                          nullable: true
                        liquidity_basis:
                          type: string
                          enum:
                          - v4_virtual_ceiling
                          - measured
                          description: How liquidity_usd was derived. v4_virtual_ceiling = uniswap-v4 virtual reserves clamped to the PoolManager's total holdings — a provable ceiling, not measured per-pool TVL.
                        kols:
                          type: array
                          items:
                            type: object
                            properties:
                              evm_address:
                                type: string
                                description: The KOL's Robinhood-Chain wallet (0x).
                              name:
                                type: string
                                nullable: true
                              twitter_url:
                                type: string
                                nullable: true
                              buy_eth:
                                type: number
                              sell_eth:
                                type: number
                              exited:
                                type: boolean
                                description: sell_eth > buy_eth for this KOL.
                  count:
                    type: integer
                  period:
                    type: string
                    enum:
                    - 1h
                    - 6h
                    - 24h
                    - 7d
                  min_kols:
                    type: integer
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Invalid query parameters (e.g. min_mc_usd > max_mc_usd).
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcKolCoordination
      x-operation-id-source: derived
  /rhc/kol/first-touches:
    get:
      tags:
      - Robinhood Chain
      summary: Earliest KOL entry per token on Robinhood Chain (BASIC+)
      description: 'The **first time any tracked KOL bought** each token on Robinhood Chain — an early-entry / discovery signal. Computed read-time from `rhc_kol_trades` (a DISTINCT-ON per token yielding the global earliest KOL buy), enriched with token metadata and current/peak MC. EVM-native fields (`eth_amount`, `evm_address`, `tx_hash`, 0x). Tier: **BASIC** — but below the API-access tiers (PRO/ULTRA/BUSINESS) `limit` is clamped to 20, and the first KOL''s `evm_address` is revealed only to **ULTRA/BUSINESS**.'
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
        description: Clamped to 20 for keys below the API-access tiers.
      - name: since
        in: query
        schema:
          type: string
          format: date-time
        description: Only first-touches at/after this ISO8601 timestamp.
      - name: before
        in: query
        schema:
          type: string
          format: date-time
        description: 'Cursor: only first-touches before this ISO8601 timestamp. Pass `next_before` to page.'
      - name: cursor
        in: query
        schema:
          type: string
          maxLength: 200
        description: 'PREFERRED pagination (audit F09 follow-up): the `next_cursor` from a previous page — an opaque strict (first_buy_at, id) keyset, so paging never repeats or skips rows that share a timestamp and progresses with limit=1 through runs of identical timestamps. Malformed or tampered → 400. Cannot be combined with `before=` (400); `before=` stays supported as the legacy bound.'
      - name: min_eth
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100000
        description: 'Minimum ETH size of the first KOL buy (alias: `min_sol`).'
      - name: token_age_max_min
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 43200
        description: Only tokens younger than N minutes at first touch.
      - name: launchpad
        in: query
        schema:
          type: string
          pattern: ^[a-zA-Z0-9._-]{1,32}$
        description: Filter to one launchpad.
      - name: min_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: Minimum MC at first buy (USD).
      - name: max_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 1000000000000
        description: 'Maximum MC at first buy (USD; alias: `mc_max`). Must be ≥ min_mc_usd.'
      responses:
        '200':
          description: '`next_before` is the pagination cursor (oldest first_buy_at on the page); `data_age_seconds` is the age of the newest event.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        token_address:
                          type: string
                        token_symbol:
                          type: string
                          nullable: true
                        token_name:
                          type: string
                          nullable: true
                        launchpad:
                          type: string
                          nullable: true
                        is_graduated:
                          type: boolean
                          nullable: true
                        first_buy_at:
                          type: string
                          format: date-time
                        eth_amount:
                          type: number
                          nullable: true
                          description: Size of the first KOL buy in ETH.
                        token_amount:
                          type: number
                          nullable: true
                        tx_hash:
                          type: string
                        token_age_minutes:
                          type: integer
                          nullable: true
                          description: Token age at first touch.
                        market_cap_usd_at_first_buy:
                          type: number
                          nullable: true
                        price_usd_at_first_buy:
                          type: number
                          nullable: true
                        current_mc_usd:
                          type: number
                          nullable: true
                        peak_mc_usd:
                          type: number
                          nullable: true
                        first_kol:
                          type: object
                          properties:
                            evm_address:
                              type: string
                              description: The KOL's Robinhood-Chain wallet (0x). Present only for ULTRA/BUSINESS keys.
                            name:
                              type: string
                              nullable: true
                            twitter_url:
                              type: string
                              nullable: true
                  count:
                    type: integer
                  next_before:
                    type: string
                    format: date-time
                    nullable: true
                  next_cursor:
                    type: string
                    nullable: true
                    description: 'Opaque keyset cursor for the next (older) page — pass as `cursor=`. PREFERRED over next_before, which is a strict timestamp bound that skips same-timestamp siblings of the boundary row. null on a server that predates the rhc_kol_first_touches_page migration (legacy path: no id tiebreak).'
                  has_more:
                    type: boolean
                    nullable: true
                    description: Exact (limit+1 probe). null when the server is on the legacy path and cannot tell — page on next_before until an empty page.
                  data_age_seconds:
                    type: integer
                    nullable: true
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Invalid query parameters (e.g. min_mc_usd > max_mc_usd).
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcKolFirstTouches
      x-operation-id-source: derived
  /rhc/kol/{wallet}:
    get:
      tags:
      - Robinhood Chain
      summary: Single KOL profile on Robinhood Chain (BASIC+)
      description: 'Aggregate stats over one KOL''s last 200 RHC trades plus their 50 most recent trades. Tier: **BASIC**.'
      parameters:
      - name: wallet
        in: path
        required: true
        schema:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
        description: KOL EVM wallet address (0x, 40 hex).
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  evm_address:
                    type: string
                  kol_name:
                    type: string
                    nullable: true
                  kol_twitter:
                    type: string
                    nullable: true
                  stats:
                    type: object
                    properties:
                      trades:
                        type: integer
                      buys:
                        type: integer
                      sells:
                        type: integer
                      buy_eth:
                        type: number
                      sell_eth:
                        type: number
                      net_eth:
                        type: number
                      tokens_traded:
                        type: integer
                      window:
                        type: string
                        example: last 200 trades
                  trades:
                    type: array
                    description: 50 most recent trades (token, action, eth_amount, price/MC at trade, dex, tx_hash, traded_at). Each row carries `liquidity_basis` (`v4_virtual_ceiling` | `measured`) — uniswap-v4 liquidity_usd is a virtual-reserve ceiling, not measured per-pool TVL.
                    items:
                      type: object
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '404':
          description: No RHC activity found for this address.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcKolByWallet
      x-operation-id-source: derived
  /rhc/trades:
    get:
      tags:
      - Robinhood Chain
      summary: Robinhood Chain DEX trade tape (PRO+)
      description: 'Every Uniswap v2/v3/v4 swap on chain 4663 from our self-hosted node, within seconds of execution. Each row carries the **real trader wallet** (`trader_eoa` — the userOp sender on ERC-4337 transactions, never the router or the bundler), gas/ordering for MEV analysis, pool state, and flags for whether the trader is a tracked KOL or a known deployer. Cursor via `next_before`. Tier: **PRO+**.


        **Where the rows come from** (*added 2026-08-29*): closed months older than the newest three move from Postgres to a Parquet archive; pages are split at `history.postgres_from` (ISO) — rows at/after it from Postgres, older rows from the archive reader, same ordering and `before` cursor. `history.archive_used`, `archive_months`, `archive_available` (`null` = not configured) and `truncated` (older history requested but the archive did not answer — retry rather than treating `has_more:false` as the end) mirror `/tokens/{mint}/trades`. Header `X-Read-Source`: `core`, `core+archive` or `archive`.'
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 50
      - name: token
        in: query
        schema:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
        description: Filter to one token address.
      - name: dex
        in: query
        schema:
          type: string
          enum:
          - uniswap-v2
          - uniswap-v3
          - uniswap-v4
        description: Filter by DEX version.
      - name: action
        in: query
        schema:
          type: string
          enum:
          - buy
          - sell
      - name: min_eth
        in: query
        schema:
          type: number
          minimum: 0
        description: Minimum trade size in ETH.
      - name: before
        in: query
        schema:
          type: string
        description: Opaque cursor from next_before; a bare ISO block_time is also accepted for backward compatibility (loses intra-second position).
      responses:
        '200':
          description: OK. `next_before` is the opaque pagination cursor — pass it back as `before` to page losslessly; `has_more` says whether another page exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  trades:
                    type: array
                    items:
                      type: object
                      properties:
                        block_number:
                          type: integer
                        block_time:
                          type: string
                          format: date-time
                        tx_hash:
                          type: string
                        log_index:
                          type: integer
                        dex:
                          type: string
                        pool:
                          type: string
                        trader:
                          type: string
                          nullable: true
                          description: Swap-log recipient — the ROUTER for aggregated swaps. Use trader_eoa for wallet analytics.
                        trader_eoa:
                          type: string
                          nullable: true
                          description: Authoritative trader wallet. Normally tx.from; on ERC-4337 transactions this is the userOp sender (the account that actually traded) and tx.from — the bundler — is not returned.
                        router:
                          type: string
                          nullable: true
                          description: Router/aggregator contract (tx.to).
                        token_address:
                          type: string
                          nullable: true
                        action:
                          type: string
                          enum:
                          - buy
                          - sell
                          nullable: true
                        eth_amount:
                          type: number
                          nullable: true
                        price_native:
                          type: number
                          nullable: true
                        price_usd:
                          type: number
                          nullable: true
                        mc_usd_at_trade:
                          type: number
                          nullable: true
                        gas_price:
                          type: number
                          nullable: true
                          description: Effective gas price, gwei.
                        tx_index:
                          type: integer
                          nullable: true
                          description: Transaction position within the block (ordering / sandwich detection).
                        method_selector:
                          type: string
                          nullable: true
                          description: 4-byte calldata selector.
                        liquidity:
                          type: number
                          nullable: true
                          description: v3/v4 in-range liquidity at the trade.
                        launchpad:
                          type: string
                          nullable: true
                        is_kol:
                          type: boolean
                          description: True if trader_eoa is a tracked KOL wallet.
                        kol_name:
                          type: string
                          nullable: true
                        deployer_tier:
                          type: string
                          nullable: true
                          enum:
                          - elite
                          - good
                          - neutral
                          - spammer
                          description: Set if trader_eoa is a known deployer.
                  count:
                    type: integer
                  has_more:
                    type: boolean
                    description: True when another page exists beyond this one.
                  next_before:
                    type: string
                    nullable: true
                    description: Opaque (block_time, id) keyset cursor for the next page; null when has_more is false.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: PRO+ tier required.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getRhcTrades
      x-operation-id-source: derived
  /rhc/equities:
    get:
      tags:
      - Robinhood Chain
      summary: Tokenized stocks & ETFs on Robinhood Chain (BASIC+)
      description: 'Every official Robinhood tokenized equity (stocks + ETFs, e.g. NVDA, SPY, AAPL) with live price / MC / liquidity and 24h trades / ETH volume / buyer-seller split. **Identity is the issuer BEACON, not the name**: a token is listed only if its contract is an EIP-1967 beacon proxy on Robinhood''s issuer beacon 0xe10b6f6b…151b00, read from our own node (scripts/rhc-classify-tokens.mjs, every 10 min). The day this shipped there were 20 fake ''GameStop • Robinhood Token'' contracts and 8 fake NVDAs with the exact official suffix — none appear here. Tier: **BASIC** (discovery surface; per-token drill-downs keep their own gates). 24h stats cached 60 s.'
      parameters:
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - volume
          - trades
          - market_cap
          - last_trade
          - symbol
          default: volume
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 300
          default: 100
      - name: symbol
        in: query
        schema:
          type: string
        description: Exact ticker, case-insensitive (NVDA).
      - name: q
        in: query
        schema:
          type: string
        description: Substring of symbol or name.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  equities:
                    type: array
                    items:
                      type: object
                      properties:
                        token_address:
                          type: string
                        symbol:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                          description: Underlying name with the '• Robinhood Token' suffix stripped (display only).
                        onchain_name:
                          type: string
                          nullable: true
                        asset_class:
                          type: string
                          enum:
                          - equity
                        verified:
                          type: boolean
                          description: Always true here — beacon-verified by construction.
                        issuer_beacon:
                          type: string
                          nullable: true
                        decimals:
                          type: integer
                          nullable: true
                        listed_at:
                          type: string
                          format: date-time
                          nullable: true
                        price_usd:
                          type: number
                          nullable: true
                        price_native:
                          type: number
                          nullable: true
                        market_cap_usd:
                          type: number
                          nullable: true
                        fdv_usd:
                          type: number
                          nullable: true
                        peak_mc_usd:
                          type: number
                          nullable: true
                        liquidity_usd:
                          type: number
                          nullable: true
                        liquidity_basis:
                          type: string
                          nullable: true
                        primary_dex:
                          type: string
                          nullable: true
                        primary_pool:
                          type: string
                          nullable: true
                        last_trade_time:
                          type: string
                          format: date-time
                          nullable: true
                        trades_24h:
                          type: integer
                        volume_eth_24h:
                          type: number
                        buys_24h:
                          type: integer
                        sells_24h:
                          type: integer
                        buyers_24h:
                          type: integer
                        sellers_24h:
                          type: integer
                  count:
                    type: integer
                  total_equities:
                    type: integer
                  sort:
                    type: string
                  identity:
                    type: object
                    description: method:'beacon', issuer_beacon, note.
                  stats_window:
                    type: string
                    enum:
                    - 24h
                  stats_as_of:
                    type: string
                    format: date-time
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Invalid query parameters (code invalid_query).
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcEquities
      x-operation-id-source: derived
  /rhc/tokens/new:
    get:
      tags:
      - Robinhood Chain
      summary: Alias of /rhc/tokens?sort=newest (PRO+)
      description: 'The launch feed: newest tokens first by first_seen_at. Same handler as /rhc/tokens with sort pinned; since=, limit, asset_class, launchpad and min_* pass through. Tier: **PRO+** (inherits the /rhc/tokens gate).'
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
      - name: asset_class
        in: query
        schema:
          type: string
          enum:
          - equity
          - other
      responses:
        '200':
          description: Identical to /rhc/tokens?sort=newest.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        token_address:
                          type: string
                        symbol:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                        asset_class:
                          type: string
                          nullable: true
                          enum:
                          - equity
                          description: '''equity'' = beacon-verified Robinhood tokenized stock/ETF; null = everything else.'
                        first_seen_at:
                          type: string
                          format: date-time
                          nullable: true
                        launchpad:
                          type: string
                          nullable: true
                        is_graduated:
                          type: boolean
                          nullable: true
                        deployer_address:
                          type: string
                          nullable: true
                        deployer_tier:
                          type: string
                          nullable: true
                          enum:
                          - elite
                          - good
                          - neutral
                          - spammer
                        price_usd:
                          type: number
                          nullable: true
                        market_cap_usd:
                          type: number
                          nullable: true
                        fdv_usd:
                          type: number
                          nullable: true
                        peak_mc_usd:
                          type: number
                          nullable: true
                        peak_mc_at:
                          type: string
                          format: date-time
                          nullable: true
                        drawdown_from_peak_pct:
                          type: integer
                          nullable: true
                          description: Percent below all-time-high MC.
                        liquidity_usd:
                          type: number
                          nullable: true
                        liquidity_basis:
                          type: string
                          enum:
                          - v4_virtual_ceiling
                          - measured
                        primary_dex:
                          type: string
                          nullable: true
                        primary_pool:
                          type: string
                          nullable: true
                        last_trade_time:
                          type: string
                          format: date-time
                          nullable: true
                  count:
                    type: integer
                  sort:
                    type: string
                    enum:
                    - newest
                  since:
                    type: string
                    format: date-time
                    nullable: true
                  next_since:
                    type: string
                    format: date-time
                    nullable: true
                    description: Feed back as since= to poll for launches newer than this page.
                  note:
                    type: string
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getRhcTokensNew
      x-operation-id-source: derived
  /rhc/tokens/recent:
    get:
      tags:
      - Robinhood Chain
      summary: Alias of /rhc/tokens?sort=newest (PRO+)
      description: Same as /rhc/tokens/new.
      parameters:
      - name: since
        in: query
        schema:
          type: string
          format: date-time
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Identical to /rhc/tokens?sort=newest.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        token_address:
                          type: string
                        symbol:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                        asset_class:
                          type: string
                          nullable: true
                          enum:
                          - equity
                          description: '''equity'' = beacon-verified Robinhood tokenized stock/ETF; null = everything else.'
                        first_seen_at:
                          type: string
                          format: date-time
                          nullable: true
                        launchpad:
                          type: string
                          nullable: true
                        is_graduated:
                          type: boolean
                          nullable: true
                        deployer_address:
                          type: string
                          nullable: true
                        deployer_tier:
                          type: string
                          nullable: true
                          enum:
                          - elite
                          - good
                          - neutral
                          - spammer
                        price_usd:
                          type: number
                          nullable: true
                        market_cap_usd:
                          type: number
                          nullable: true
                        fdv_usd:
                          type: number
                          nullable: true
                        peak_mc_usd:
                          type: number
                          nullable: true
                        peak_mc_at:
                          type: string
                          format: date-time
                          nullable: true
                        drawdown_from_peak_pct:
                          type: integer
                          nullable: true
                          description: Percent below all-time-high MC.
                        liquidity_usd:
                          type: number
                          nullable: true
                        liquidity_basis:
                          type: string
                          enum:
                          - v4_virtual_ceiling
                          - measured
                        primary_dex:
                          type: string
                          nullable: true
                        primary_pool:
                          type: string
                          nullable: true
                        last_trade_time:
                          type: string
                          format: date-time
                          nullable: true
                  count:
                    type: integer
                  sort:
                    type: string
                    enum:
                    - newest
                  since:
                    type: string
                    format: date-time
                    nullable: true
                  next_since:
                    type: string
                    format: date-time
                    nullable: true
                    description: Feed back as since= to poll for launches newer than this page.
                  note:
                    type: string
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getRhcTokensRecent
      x-operation-id-source: derived
  /rhc/tokens:
    get:
      tags:
      - Robinhood Chain
      summary: Robinhood Chain token discovery (PRO+)
      description: 'Live-priced Robinhood Chain tokens with market cap, liquidity, peak MC + drawdown, launchpad, and deployer reputation tier. Sortable and filterable. Filters the candidate query cannot express are served by a bounded scan (`scan` block) — a short or empty page never implies exhaustion unless has_more is false. Tier: **PRO+**.'
      parameters:
      - $ref: '#/components/parameters/Limit'
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - last_trade
          - market_cap
          - liquidity
          - peak_mc
          - newest
          - oldest
          default: last_trade
        description: 'Ordering (all descending unless noted): most recent trade, market cap, current liquidity, all-time-high MC, newest (first_seen_at DESC — the launch feed; unpriced tokens list with null price fields; response adds next_since), or oldest (first_seen_at ASC — a resumable backfill walk through the full historical token set; response adds next_after + has_more).'
      - name: since
        in: query
        schema:
          type: string
          format: date-time
        description: 'Only with sort=newest: tokens first seen at or after this ISO8601 time (inclusive — first_seen_at is block-second granularity and several tokens can share one second, so the cursor row repeats; dedupe on token_address). Feed back the response''s next_since to poll for launches.'
      - name: after
        in: query
        schema:
          type: string
          format: date-time
        description: 'LEGACY — prefer cursor=. Only with sort=oldest: tokens first seen at or after this ISO8601 time (inclusive). With more same-second tokens than `limit` it cannot advance — use cursor=. Feed back next_after (dedupe on token_address); stop when has_more is false.'
      - name: cursor
        in: query
        schema:
          type: string
        description: 'Only with sort=oldest (PREFERRED over after=): the next_cursor from a previous page — a strict compound (first_seen_at, address) keyset, so the walk never repeats or skips a row and progresses with limit=1 through runs of identical timestamps. Malformed → 400; cannot be combined with after=.'
      - name: has_pool
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
        description: Filter on whether the token has a discovered pool (primary_pool from rhc_token_prices non-null). A token can be listed (first_seen_at set) before its pool is found — pair with sort=oldest&has_pool=true for a one-time backfill of every RHC token with a pool.
      - name: asset_class
        in: query
        schema:
          type: string
          enum:
          - equity
          - other
        description: equity = beacon-verified Robinhood tokenized stock/ETF (issuer beacon read from our node — never the name); other = everything else.
      - name: min_mc_usd
        in: query
        schema:
          type: number
          minimum: 0
        description: Minimum current market cap (USD).
      - name: min_liquidity_usd
        in: query
        schema:
          type: number
          minimum: 0
        description: Minimum current liquidity (USD).
      - name: launchpad
        in: query
        schema:
          type: string
        description: 'Filter by launchpad: pons, flap, clanker, hood.fun, noxa, virtuals.'
      - name: max_age_days
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 365
          default: 30
        description: 'Value sorts only (market_cap / liquidity / peak_mc): exclude tokens whose last trade is older than this many days. Default 30 — a screener ranks what is tradeable; widen explicitly for dormant tokens.'
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        token_address:
                          type: string
                        symbol:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                        decimals:
                          type: integer
                          nullable: true
                          description: From rhc_tokens. Added 2026-09-08 — needed to parse on-chain raw amounts correctly.
                        asset_class:
                          type: string
                          nullable: true
                          enum:
                          - equity
                          description: '`equity` = beacon-verified Robinhood tokenized stock/ETF (issuer beacon read from our node — never the name); null = everything else.'
                        first_seen_at:
                          type: string
                          format: date-time
                          nullable: true
                          description: When OUR node first saw the token trade or get a pool — not the contract creation block.
                        launchpad:
                          type: string
                          nullable: true
                        is_graduated:
                          type: boolean
                          nullable: true
                        deployer_address:
                          type: string
                          nullable: true
                        deployer_tier:
                          type: string
                          nullable: true
                          enum:
                          - elite
                          - good
                          - neutral
                          - spammer
                        price_usd:
                          type: number
                          nullable: true
                        market_cap_usd:
                          type: number
                          nullable: true
                        fdv_usd:
                          type: number
                          nullable: true
                        peak_mc_usd:
                          type: number
                          nullable: true
                        peak_mc_at:
                          type: string
                          format: date-time
                          nullable: true
                        drawdown_from_peak_pct:
                          type: integer
                          nullable: true
                          description: Percent below all-time-high MC.
                        liquidity_usd:
                          type: number
                          nullable: true
                        liquidity_basis:
                          type: string
                          enum:
                          - v4_virtual_ceiling
                          - measured
                          description: How liquidity_usd was derived. uniswap-v4 has no per-pool balances, so its figure is virtual reserves clamped to the PoolManager's total holdings — a provable CEILING, not measured per-pool TVL. All other venues are measured from real balances.
                        primary_dex:
                          type: string
                          nullable: true
                        primary_pool:
                          type: string
                          nullable: true
                        last_trade_time:
                          type: string
                          format: date-time
                          nullable: true
                  count:
                    type: integer
                  sort:
                    type: string
                  since:
                    type: string
                    format: date-time
                    nullable: true
                    description: sort=newest only — echoes the request's since=.
                  next_since:
                    type: string
                    format: date-time
                    nullable: true
                    description: sort=newest only. Feed back as since= to poll for newer launches.
                  note:
                    type: string
                    description: sort=newest / sort=oldest only — constant explanation of the first_seen_at semantics and the cursor contract.
                  after:
                    type: string
                    format: date-time
                    nullable: true
                    description: sort=oldest only — echoes the request's after=.
                  has_more:
                    type: boolean
                    description: sort=oldest only — false ONLY when the candidates ran out (never inferred from a short filtered page).
                  cursor:
                    type: string
                    nullable: true
                    description: sort=oldest only — echoes the request's cursor=.
                  next_cursor:
                    type: string
                    nullable: true
                    description: sort=oldest only (PREFERRED). Feed back as cursor= — strict (first_seen_at, address) keyset; null = walk complete.
                  next_after:
                    type: string
                    format: date-time
                    nullable: true
                    description: sort=oldest only, LEGACY inclusive cursor. Feed back as after= (dedupe on token_address). When a scanned page matched nothing it advances to the last scanned row.
                  scan:
                    type: object
                    description: 'Present when a filter (launchpad / has_pool / price criteria) had to be scanned after the candidate fetch (audit F09): has_more is then false only when the candidates ran out, and scan_truncated=true means the per-request budget ran out first — more matches MAY exist.'
                    properties:
                      post_filtered:
                        type: boolean
                      scanned:
                        type: integer
                        description: Candidate rows examined
                      scan_truncated:
                        type: boolean
                        description: The per-request scan budget ran out before `limit` matches — more matches MAY exist past the cursor/offset
                      scan_budget:
                        type: integer
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: PRO+ tier required.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getRhcTokens
      x-operation-id-source: derived
  /rhc/tokens/{address}:
    get:
      tags:
      - Robinhood Chain
      summary: Robinhood Chain token bundle (BASIC+)
      description: 'Full snapshot for one token: metadata, live price/MC/FDV, peak MC + drawdown, graduation status, deployer reputation block (+ other tokens by the same deployer), KOL activity summary, and pool inventory with reserves. Tier: **BASIC**.'
      parameters:
      - name: address
        in: path
        required: true
        schema:
          type: string
          pattern: ^0x[0-9a-fA-F]{40}$
        description: Token address (0x, 40 hex).
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chain:
                    type: string
                    enum:
                    - robinhood
                  token_address:
                    type: string
                  symbol:
                    type: string
                    nullable: true
                  name:
                    type: string
                    nullable: true
                  decimals:
                    type: integer
                    nullable: true
                  launchpad:
                    type: string
                    nullable: true
                  is_graduated:
                    type: boolean
                    nullable: true
                  graduated_pool:
                    type: string
                    nullable: true
                  graduated_at:
                    type: string
                    format: date-time
                    nullable: true
                  deployer_address:
                    type: string
                    nullable: true
                  deployer_identity_status:
                    type: string
                    enum:
                    - known
                    - unresolved
                    - unavailable
                    description: known = the token row names its creator (identity does not depend on reputation); unresolved = no creator recorded; unavailable = the token lookup failed
                  first_seen_at:
                    type: string
                    format: date-time
                    nullable: true
                  token_age_minutes:
                    type: integer
                    nullable: true
                  price_usd:
                    type: number
                    nullable: true
                  price_native:
                    type: number
                    nullable: true
                  price_observed_at:
                    type: string
                    format: date-time
                    nullable: true
                    description: The last trade that set the native price — the price's own age anchor (same stale-price contract as GET /token/{mint})
                  price_age_seconds:
                    type: integer
                    nullable: true
                  price_is_stale:
                    type: boolean
                    description: true when price_age_seconds > 900
                  price_updated_at:
                    type: string
                    format: date-time
                    nullable: true
                    description: Row write time — can move without a trade (USD re-derivation); not a price-age anchor
                  market_cap_usd:
                    type: number
                    nullable: true
                  fdv_usd:
                    type: number
                    nullable: true
                  peak_mc_usd:
                    type: number
                    nullable: true
                  peak_mc_at:
                    type: string
                    format: date-time
                    nullable: true
                  drawdown_from_peak_pct:
                    type: integer
                    nullable: true
                  total_supply_raw:
                    type: string
                    nullable: true
                  liquidity_usd:
                    type: number
                    nullable: true
                  liquidity_basis:
                    type: string
                    enum:
                    - v4_virtual_ceiling
                    - measured
                    description: How liquidity_usd was derived. uniswap-v4 has no per-pool balances, so its figure is virtual reserves clamped to the PoolManager's total holdings — a provable CEILING, not measured per-pool TVL.
                  liquidity_note:
                    type: string
                    description: Human-readable statement of the uniswap-v4 ceiling semantics; constant.
                  primary_dex:
                    type: string
                    nullable: true
                  primary_pool:
                    type: string
                    nullable: true
                  last_trade_time:
                    type: string
                    format: date-time
                    nullable: true
                  deployer:
                    type: object
                    nullable: true
                    description: Deployer identity + reputation. Non-null whenever the creator address is known, even before the reputation view has it (history_status pending).
                    properties:
                      identity_status:
                        type: string
                        enum:
                        - known
                      history_status:
                        type: string
                        enum:
                        - computed
                        - pending
                        - unavailable
                        description: computed = in the reputation view · pending = known creator, reputation not computed yet (NOT "new") · unavailable = the reputation lookup failed
                      address:
                        type: string
                      tier:
                        type: string
                        enum:
                        - elite
                        - good
                        - neutral
                        - spammer
                      tokens_deployed:
                        type: integer
                      graduation_rate:
                        type: number
                        nullable: true
                      runner_rate:
                        type: number
                        nullable: true
                      runners:
                        type: integer
                      best_peak_mc_usd:
                        type: number
                        nullable: true
                      launchpads:
                        type: array
                        items:
                          type: string
                  deployer_other_tokens:
                    type: array
                    items:
                      type: string
                    description: Up to 10 other tokens by the same deployer (symbol or address).
                  kol_activity:
                    type: object
                    description: Complete aggregate over the token's whole KOL history (rhc_token_kol_activity), keyed on the stable KOL id — two KOLs sharing a display name no longer collapse. If the aggregate is unavailable it falls back to a LABELLED newest-200 sample (basis latest_200_trades, complete=false when truncated, sample_size).
                    properties:
                      distinct_kols:
                        type: integer
                        description: Distinct KOL ids (not display names)
                      names:
                        type: array
                        items:
                          type: string
                      buys:
                        type: integer
                      sells:
                        type: integer
                      net_eth:
                        type: number
                      distinct_wallets:
                        type: integer
                      buy_eth:
                        type: number
                      sell_eth:
                        type: number
                      participants:
                        type: array
                        description: Up to 20 KOLs, most recent first
                        items:
                          type: object
                          properties:
                            kol_id:
                              type: string
                            name:
                              type: string
                              nullable: true
                            twitter_url:
                              type: string
                              nullable: true
                            buys:
                              type: integer
                            sells:
                              type: integer
                            last_trade_at:
                              type: string
                              format: date-time
                      identity:
                        type: string
                        enum:
                        - kol_wallet_id
                      window:
                        type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - all_time
                            - latest_trades
                          first_trade_at:
                            type: string
                            format: date-time
                            nullable: true
                          last_trade_at:
                            type: string
                            format: date-time
                            nullable: true
                      basis:
                        type: string
                        description: all_trades (complete aggregate) or latest_N_trades (fallback sample)
                      complete:
                        type: boolean
                      sample_size:
                        type: integer
                        description: Fallback sample only
                  degraded_fields:
                    type: array
                    items:
                      type: string
                    description: Blocks whose lookup failed (e.g. deployer_other_tokens) — their values are unknown, not empty
                  pools:
                    type: array
                    description: Up to 20 pools with reserves/liquidity/sqrt_price. Each entry carries `liquidity_basis` (`v4_virtual_ceiling` | `measured`) for its own `liquidity_usd`.
                    items:
                      type: object
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '404':
          description: Token not found on Robinhood Chain.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getRhcTokensByAddress
      x-operation-id-source: derived
  /rhc/tokens/{address}/candles:
    get:
      tags:
      - Robinhood Chain
      summary: OHLC candles on Robinhood Chain (PRO+)
[...]
