openapi: 3.2.0
info:
  title: MadeOnSol Tokens API
  version: 1.20.0
  description: Real-time Solana & Robinhood Chain trading intelligence — KOL wallet trades, deployer reputation, token buyer-quality scoring, wallet tracking, and copy-trade signals across both chains (Robinhood Chain paths under `/rhc/*`).
  contact:
    name: MadeOnSol
    url: https://madeonsol.com/contact
  license:
    name: Proprietary
    url: https://madeonsol.com/terms
servers:
- url: https://madeonsol.com/api/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Tokens
  description: Token-level buyer-quality, cap-table, and filtered token directory.
paths:
  /token/{mint}:
    get:
      tags:
      - Tokens
      summary: Comprehensive per-mint snapshot
      description: Price (VWAP from our DEX firehose), market cap, 24h volume + trade count, `liquidity_to_mc_ratio` (thinness gauge), `launchpad` of origin (`pumpfun`/`launchlab`/`bags`, null when unknown), `launch_cohort_sol` + `launch_cohort_size` (total SOL the first-20 buyers deployed — a heavily-bought open leans dump-prone), `name`/`symbol`, `image_url` + `socials` {website, twitter, telegram, discord} + `description` (from the token URI JSON, resolved within minutes of first trade; null until resolved), `twitter_reuse` {handle, mints_same_handle, mints_same_url} (how many OTHER mints reuse this X handle / exact URL — null = unknown, not zero), `early_buyer_exit` {cohort, still_holding, sold, still_holding_pct} (first-20 buyers still holding vs sold, from confirmed swaps), deployer reputation, KOL smart-money activity, `first_seen_at` + `age_seconds`, and `is_blacklisted` + `blacklist_category` — all in one call. **ULTRA** adds wallet addresses inside `kol_activity.top_buyers[]`. Available on every tier (a free taster of the snapshot data); the filterable `/tokens` directory and the `/tokens/{mint}/*` analytics are PRO/ULTRA.
      parameters:
      - name: include
        in: query
        schema:
          type: string
        description: 'Comma-separated: buyer_quality (embeds /tokens/{mint}/buyer-quality) and/or deployer (embeds /deployer-hunter/{deployer} as deployer_profile). Runs the sibling handler in-process and embeds its body under its own key; a failing include lands in include_errors and never fails the request; counts as ONE call. Unknown names are reported under include_errors.'
      - name: mint
        in: path
        required: true
        schema:
          type: string
          example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
        description: Solana base58 mint (32-44 chars). Tickers like `BTC`, `ETH`, `SOL` are rejected — use the wrapped-SOL mint `So11111111111111111111111111111111111111112` for SOL.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: object
                    properties:
                      mint:
                        type: string
                      name:
                        type: string
                        nullable: true
                      symbol:
                        type: string
                        nullable: true
                      image_url:
                        type: string
                        nullable: true
                        description: Off-chain metadata resolved from the token URI JSON; null until resolved
                      socials:
                        type: object
                        properties:
                          website:
                            type: string
                            nullable: true
                          twitter:
                            type: string
                            nullable: true
                          telegram:
                            type: string
                            nullable: true
                          discord:
                            type: string
                            nullable: true
                      twitter_reuse:
                        type: object
                        nullable: true
                        description: null = unknown (no twitter / socials unresolved), not zero
                        properties:
                          handle:
                            type: string
                            nullable: true
                          mints_same_handle:
                            type: integer
                          mints_same_url:
                            type: integer
                      description:
                        type: string
                        nullable: true
                      price_usd:
                        type: number
                        nullable: true
                      price_sol:
                        type: number
                        nullable: true
                      market_cap:
                        type: number
                        nullable: true
                      vwap_price_usd:
                        type: number
                        nullable: true
                      vwap_price_sol:
                        type: number
                        nullable: true
                      fdv_usd:
                        type: number
                        nullable: true
                      liquidity_usd:
                        type: number
                        nullable: true
                      liquidity_to_mc_ratio:
                        type: number
                        nullable: true
                      primary_dex:
                        type: string
                        nullable: true
                      launchpad:
                        type: string
                        nullable: true
                        enum:
                        - pumpfun
                        - launchlab
                        - bags
                        - null
                      primary_pool_address:
                        type: string
                        nullable: true
                      is_token_2022:
                        type: boolean
                        nullable: true
                        description: null = no mc-tracker observation (unknown), never false
                      transfer_fee_bps:
                        type: integer
                        nullable: true
                        description: null = unknown (no observation) — NOT "no fee"
                      mint_authority_revoked:
                        type: boolean
                        nullable: true
                      freeze_authority_revoked:
                        type: boolean
                        nullable: true
                      burn_detected:
                        type: boolean
                        nullable: true
                        description: 'DEPRECATED meaning: `true` when the token MINT''s on-chain supply decreased (a token burn, measured by mc-tracker''s supply-drift monitor). It is NOT LP-burn evidence and never means liquidity cannot be removed. null = no mc-tracker observation (unknown).'
                      token_supply_burn_detected:
                        type: boolean
                        nullable: true
                        description: The mint's supply decreased (token burn). Not LP evidence.
                      lp_burn_status:
                        type: string
                        enum:
                        - verified
                        - not_verified
                        - unknown
                        description: 'LP burn/lock evidence: `verified` only with measured LP-token custody (lp_burnt_pct ≥ 99). No Solana writer populates LP custody yet, so today every token is `unknown`. A token-supply burn is never promoted to an LP claim.'
                      volume_24h_usd:
                        type: number
                        nullable: true
                      volume_24h_sol:
                        type: number
                        nullable: true
                      trades_24h:
                        type: integer
                        nullable: true
                      price_source:
                        type: string
                        nullable: true
                        enum:
                        - mc_tracker
                        - dex_stream
                        - null
                        description: Which pipeline produced price_usd/price_sol; null when there is no price
                      price_observed_at:
                        type: string
                        format: date-time
                        nullable: true
                        description: Last trade observed BY THE SELECTED price source — the price's own age anchor
                      price_age_seconds:
                        type: integer
                        nullable: true
                        description: Seconds since price_observed_at (null when the source carries no timestamp)
                      price_is_stale:
                        type: boolean
                        nullable: true
                        description: true when price_age_seconds > 900; null (unknown) when a price exists but its source has no observation time — never false without an observation; false when there is no price
                      last_trade_at:
                        type: string
                        format: date-time
                        nullable: true
                        description: Newest trade observed by ANY source (mc-tracker or dex-stream). Not a price-age anchor — use price_observed_at
                      first_seen_at:
                        type: string
                        format: date-time
                        nullable: true
                      age_seconds:
                        type: integer
                        nullable: true
                      is_blacklisted:
                        type: boolean
                        nullable: true
                        description: null = the blacklist lookup failed (unknown) — never "not blacklisted"
                      blacklist_category:
                        type: string
                        nullable: true
                      launch_cohort_sol:
                        type: number
                        nullable: true
                        description: Total SOL the first-20 buyers deployed on their first buy
                      launch_cohort_size:
                        type: integer
                        nullable: true
                        description: null = the cohort lookup failed; 0 = no cohort rows
                      early_buyer_exit:
                        type: object
                        nullable: true
                        description: First-20 buyer cohort exit status from confirmed swaps; null when the cohort is unknown
                        properties:
                          cohort:
                            type: integer
                          still_holding:
                            type: integer
                          sold:
                            type: integer
                          still_holding_pct:
                            type: number
                      deployer:
                        type: object
                        nullable: true
                        description: Creator + live reputation. Resolved from `deployer_tokens` (bonded) or `pending_deploys` (not yet bonded — ~98% of fresh launches). null ⇒ read `deployer_identity` for why (unknown creator vs failed lookup). `history_status` other than `established` means the bonding rate is not a track record yet (a first launch is "0 of 1", not a serial dumper).
                        properties:
                          wallet:
                            type: string
                          address:
                            type: string
                            description: Same value as wallet (contract name)
                          tier:
                            type: string
                          bonding_rate:
                            type: number
                          total_deployed:
                            type: integer
                          total_bonded:
                            type: integer
                          recent_bond_rate:
                            type: number
                          identity_status:
                            type: string
                            enum:
                            - resolved
                          identity_source:
                            type: string
                            enum:
                            - deployer_tokens
                            - pending_deploys
                          history_status:
                            type: string
                            enum:
                            - new_in_our_index
                            - limited_history
                            - reputation_pending
                            - established
                          first_seen_at:
                            type: string
                            format: date-time
                            nullable: true
                            description: First deploy OBSERVED in our capture — not the wallet's first launch anywhere
                          observed_launch_count:
                            type: integer
                          resolved_outcome_count:
                            type: integer
                            description: Resolved outcomes (bonds + dumps) we hold for this creator
                          stats_computed_at:
                            type: string
                            format: date-time
                            nullable: true
                      deployer_identity:
                        type: object
                        description: 'Always present. Explains a null `deployer`: `unknown` = both lookups succeeded and found no creator; `lookup_failed` = a lookup errored (retry — NOT "no deployer").'
                        properties:
                          identity_status:
                            type: string
                            enum:
                            - resolved
                            - unknown
                            - lookup_failed
                          history_status:
                            type: string
                            nullable: true
                            enum:
                            - new_in_our_index
                            - limited_history
                            - reputation_pending
                            - established
                            - null
                          address:
                            type: string
                            nullable: true
                          source:
                            type: string
                            nullable: true
                            enum:
                            - deployer_tokens
                            - pending_deploys
                            - null
                      kol_activity:
                        type: object
                        description: 'Complete 7-day aggregate over every tracked-KOL trade (SQL, not a row sample). `status: unavailable` = the aggregate read failed: every figure is null, never zero/neutral.'
                        properties:
                          status:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          buying_kols:
                            type: integer
                            nullable: true
                            description: Distinct KOL wallets with ≥1 buy in the window (exact)
                          selling_kols:
                            type: integer
                            nullable: true
                          net_flow_sol:
                            type: number
                            nullable: true
                          signal:
                            type: string
                            nullable: true
                            enum:
                            - accumulating
                            - distributing
                            - neutral
                            - null
                          top_buyers:
                            type: array
                            description: Largest KOL buyers by SOL bought over the whole window (≤ 10, complete ranking)
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                wallet:
                                  type: string
                                  description: ULTRA only
                                sol_amount:
                                  type: number
                          window_hours:
                            type: integer
                          window_start:
                            type: string
                            format: date-time
                            nullable: true
                          computed_at:
                            type: string
                            format: date-time
                            nullable: true
                          last_trade_at:
                            type: string
                            format: date-time
                            nullable: true
                          unique_kols:
                            type: integer
                            nullable: true
                          unique_wallets:
                            type: integer
                            nullable: true
                          buys:
                            type: integer
                            nullable: true
                          sells:
                            type: integer
                            nullable: true
                          buy_sol:
                            type: number
                            nullable: true
                          sell_sol:
                            type: number
                            nullable: true
                          counts_basis:
                            type: string
                            nullable: true
                            enum:
                            - complete_window
                            - null
                      data_status:
                        type: object
                        description: Per-block read status. `unavailable` = that lookup failed; its fields are null (unknown), never a neutral default like 0 KOLs or not-blacklisted.
                        properties:
                          market:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          deployer:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          kol_activity:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          first_seen:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          blacklist:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          metadata:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          launch_cohort:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          sniper_footprint:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          volume_candles:
                            type: string
                            enum:
                            - ok
                            - unavailable
                          twitter_reuse:
                            type: string
                            enum:
                            - ok
                            - unavailable
                      mc_change_pct:
                        type: object
                        nullable: true
                        description: 'Present only when history exists. Keys: 5m, 15m, 1h, 2h, 4h'
                        additionalProperties:
                          type: number
                          nullable: true
                      volume_usd:
                        type: object
                        nullable: true
                        description: 'Present only when history exists. Keys: 5m, 15m, 1h, 2h, 4h'
                        additionalProperties:
                          type: number
                      mev_volume_pct:
                        type: object
                        nullable: true
                        description: 'Present only when history exists. Keys: 5m, 15m, 1h, 2h, 4h'
                        additionalProperties:
                          type: number
                          nullable: true
                      history_age_seconds:
                        type: integer
                        nullable: true
                        description: Present only when history exists
                  as_of:
                    type: string
                    format: date-time
                    description: Snapshot assembly time — NOT the observation time of any field (see price_observed_at, kol_activity.computed_at, deployer.stats_computed_at)
                  buyer_quality:
                    type: object
                    description: Present when include=buyer_quality — see /tokens/{mint}/buyer-quality
                  deployer_profile:
                    type: object
                    description: Present when include=deployer — see /deployer-hunter/{wallet}
                  include_errors:
                    type: object
                    nullable: true
                    description: 'Per-key errors for requested includes that failed. include=deployer: 404 when the token has no known creator, 503 (retryable) when the creator lookup failed (deployer_identity.identity_status = lookup_failed)'
                  included:
                    type: array
                    items:
                      type: string
                    nullable: true
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: 'Invalid mint. Body includes `code: invalid_mint`, `reason` (specific cause), `received`, `received_length`, `expected_length`, `example`, and `docs` URL.'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getTokenByMint
      x-operation-id-source: derived
  /tokens:
    get:
      tags:
      - Tokens
      summary: Filtered token directory (PRO+)
      description: 'Browse tokens by market-cap band, liquidity floor, recent-activity window, primary DEX, authority/safety flags, computed 1h volume, MEV-share ceiling, and MC change. Momentum sorts surface movers (`mc_change_5m_desc`, `mc_change_1h_desc`, `volume_1h_desc`) and a composite `trending` board. Complements `/token/{mint}` (single lookup), `/tokens/almost-bonded` (pre-bond pump.fun), and the KOL-scoped `/kol/tokens/{hot,trending}`.


        **Default `min_liq` is 2000 USD** to filter the long tail of phantom-MC tokens from low-liquidity pools. Pass `min_liq=0` to opt out.


        **Default `max_mc` is 100,000,000,000 USD ($100B)** — a sanity ceiling that drops phantom market caps (a genuine ~1e12 token supply trading near $1, or a thin-pool price blow-up). No real tracked memecoin approaches it. Pass a higher explicit `max_mc` to opt out.


        **Momentum sorts + filters are DB-native** (via the `token_prices_trending` view): `min_volume_1h_usd`, `max_mev_share_pct`, `min_liq_mc_ratio`, `max_liq_mc_ratio`, `mc_change_1h_min_pct`, `mc_change_1h_max_pct` and the momentum sorts paginate correctly with no over-fetch. The `trending` sort = recent-volume × positive-momentum composite, recency-bounded to the last 1h, and echoes `filters.trending_version: "v1"`.


        **Only `deployer_tier` and `launchpad`** remain post-filters (joined from `deployer_tokens`, not the view). They are served by a bounded SCAN: candidates are walked in pages until `limit` matches, the candidates run out, or the scan budget is spent. `has_more:false` only when the candidates ran out; `pagination.scan_truncated:true` = the budget ran out first and more matches MAY exist — continue with `offset = pagination.next_offset` (a RAW candidate offset, not a match count). Offset pages walk a LIVE order (`pagination.order_is_live: true`): MC and activity move between calls, so rows can shift across pages — treat the screener as a ranking, not a ledger.


        **LP burn (2026-09-21):** `lp_burned` / `lp_burn_status` come from LP-custody evidence only (`lp_burnt_pct`). No Solana writer populates it yet, so `lp_burn_status` is `unknown` and `lp_burned` null for every token, and `lp_burned=true|false` currently matches nothing. `lp_burned` is DEPRECATED: `true` = verified burned/locked, `false` = verified NOT burned, and a token with unknown LP custody matches neither (false never turns unknown into "unburned"); a request that sends it gets a `deprecations` entry. The old `lp_burned` flag was the token-SUPPLY burn — filter that with `supply_burn` and read it as `token_supply_burn_detected`.'
      parameters:
      - name: min_mc
        in: query
        schema:
          type: number
          minimum: 0
        description: Minimum market_cap_usd
      - name: max_mc
        in: query
        schema:
          type: number
          minimum: 0
          default: 100000000000
        description: Maximum market_cap_usd. Default 100000000000 ($100B) — pass a higher value to surface phantom thin-pool caps.
      - name: min_liq
        in: query
        schema:
          type: number
          minimum: 0
          default: 2000
        description: Minimum liquidity_usd. Default 2000 — set 0 to disable.
      - name: active_h
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 8760
          default: 168
        description: Only tokens with a trade within the last N hours. Default 168 (7 d) — a screener ranks what is tradeable; 0 = no freshness bound (not applied to sort=trending, which has its own 1 h window)
      - name: primary_dex
        in: query
        schema:
          type: string
          enum:
          - pumpfun
          - pumpswap
          - raydium
          - meteora
          - orca
          - raydium_clmm
          - launchlab
        description: Filter by primary trading venue (`launchlab` = on-curve bonk/LetsBonk tokens)
      - name: deployer_tier
        in: query
        schema:
          type: string
          enum:
          - elite
          - good
          - moderate
          - rising
          - cold
          - unranked
        description: Filter to pump.fun tokens whose deployer carries this reputation tier (post-filter; non-pump tokens have a null tier and are dropped)
      - name: launchpad
        in: query
        schema:
          type: string
          enum:
          - pumpfun
          - launchlab
          - bags
        description: 'Filter by launchpad of origin (post-filter, from `deployer_tokens.launchpad`). Distinct from `primary_dex`: bags tokens trade on meteora, so only this tag identifies them.'
      - name: authority_revoked
        in: query
        schema:
          type: boolean
        description: true = require both mint + freeze authority revoked; false = at least one not revoked
      - name: exclude_token2022
        in: query
        schema:
          type: boolean
          default: false
        description: Drop Token-2022 mints (commonly used for transfer-fee scams)
      - name: lp_burned
        in: query
        deprecated: true
        schema:
          type: boolean
        description: 'DEPRECATED — use `lp_burn_status` on each token, or `supply_burn` for the token-supply burn flag. Filter on VERIFIED LP-burn evidence only: `true` = lp_burnt_pct ≥ 99; `false` = lp_burnt_pct measured AND below it. A token with unknown LP custody matches NEITHER value (false never means "unknown"). Sending it adds a `deprecations` entry to the response. No writer populates LP evidence yet, so this matches no token today — it never matches a token-supply burn (use `supply_burn`). See `filters.lp_burned_source`.'
      - name: supply_burn
        in: query
        schema:
          type: boolean
        description: Filter on the token-SUPPLY burn flag (the mint's on-chain supply decreased). This is what `lp_burned` used to filter on; it is not LP evidence.
      - name: min_volume_1h_usd
        in: query
        schema:
          type: number
          minimum: 0
        description: Computed organic-volume floor in the last 1 hour (DB-native; tokens with insufficient history are dropped)
      - name: max_mev_share_pct
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
        description: Computed MEV/bot volume ceiling as a % of total cumulative volume (DB-native)
      - name: min_liq_mc_ratio
        in: query
        schema:
          type: number
          minimum: 0
          default: 2.0e-05
        description: Minimum liquidity_to_mc_ratio (liquidity ÷ market cap). Default 0.00002 (= MC at most 50,000× pool liquidity) — a plausibility gate against price × nominal-supply blowups off dust pools; pass 0 to opt out. Low values = thin liquidity relative to MC (DB-native)
      - name: max_liq_mc_ratio
        in: query
        schema:
          type: number
          minimum: 0
        description: Maximum liquidity_to_mc_ratio — drops over-collateralised thin-MC tokens (DB-native)
      - name: mc_change_1h_min_pct
        in: query
        schema:
          type: number
        description: Minimum 1h MC change % (DB-native; use for momentum scans)
      - name: mc_change_1h_max_pct
        in: query
        schema:
          type: number
        description: Maximum 1h MC change % (DB-native; use for dip scans)
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - mc_desc
          - mc_asc
          - last_trade_desc
          - liquidity_desc
          - cumulative_volume_desc
          - mc_change_5m_desc
          - mc_change_1h_desc
          - volume_1h_desc
          - trending
          default: mc_desc
        description: '`trending` = recent-volume × positive-momentum composite, recency-bounded to the last 1h; echoes `filters.trending_version: "v1"`.'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: offset
        in: query
        schema:
          type: integer
          minimum: 0
          maximum: 10000
          default: 0
      responses:
        '200':
          description: 'OK. Returns `tokens[]` (with `liquidity_to_mc_ratio`, `deployer_tier`, `launchpad` (`pumpfun`/`launchlab`/`bags`, null when unknown), `mev_share_pct`, `organic_volume_1h_usd`, `mc_change_5m_pct`, `mc_change_1h_pct`, `is_token_2022`, `authorities_revoked`, etc.), `pagination` (with `post_filtered` flag), and a `filters` echo (with `min_liq_default_applied`; `trending_version: "v1"` when `sort=trending`).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        mint:
                          type: string
                        symbol:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                        price_usd:
                          type: number
                          nullable: true
                        market_cap_usd:
                          type: number
                          nullable: true
                        fdv_usd:
                          type: number
                          nullable: true
                        liquidity_usd:
                          type: number
                          nullable: true
                        liquidity_to_mc_ratio:
                          type: number
                          nullable: true
                        primary_dex:
                          type: string
                          nullable: true
                        launchpad:
                          type: string
                          nullable: true
                          enum:
                          - pumpfun
                          - launchlab
                          - bags
                          - null
                        deployer_tier:
                          type: string
                          nullable: true
                        authorities_revoked:
                          type: boolean
                        lp_burned:
                          type: boolean
                          nullable: true
                          description: 'From LP evidence ONLY: true iff lp_burn_status = verified, false iff not_verified, null = unknown (every token today). Never derived from a token-supply burn.'
                        lp_burn_status:
                          type: string
                          enum:
                          - verified
                          - not_verified
                          - unknown
                          description: 'LP burn/lock evidence: `verified` only with measured LP-token custody (lp_burnt_pct ≥ 99). No Solana writer populates LP custody yet, so today every token is `unknown`. A token-supply burn is never promoted to an LP claim.'
                        lp_burnt_pct:
                          type: number
                          nullable: true
                          description: Measured share of LP tokens burned (0–100); null = not measured
                        token_supply_burn_detected:
                          type: boolean
                          nullable: true
                          description: The mint's on-chain supply decreased (token burn) — the flag lp_burned used to expose. Not LP evidence.
                        is_token_2022:
                          type: boolean
                        last_trade_time:
                          type: string
                          format: date-time
                          nullable: true
                        mc_change_5m_pct:
                          type: number
                          nullable: true
                        mc_change_1h_pct:
                          type: number
                          nullable: true
                        organic_volume_1h_usd:
                          type: number
                          nullable: true
                        mev_share_pct:
                          type: number
                          nullable: true
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      returned:
                        type: integer
                      has_more:
                        type: boolean
                        description: false ONLY when the candidates ran out — never inferred from a short post-filtered page
                      next_offset:
                        type: integer
                        nullable: true
                        description: Raw candidate offset to resume from (pass as offset); null when exhausted
                      order_is_live:
                        type: boolean
                        enum:
                        - true
                        description: Offset pages walk a live order (MC/activity move between calls), not a snapshot
                      post_filtered:
                        type: boolean
                      scanned:
                        type: integer
                        description: Candidate rows examined
                      scan_truncated:
                        type: boolean
                        description: The per-request scan budget ran out before `limit` matches — more matches MAY exist past the cursor/offset
                      scan_budget:
                        type: integer
                      scanned_until_offset:
                        type: integer
                        description: offset + scanned (post-filtered pages)
                  filters:
                    type: object
                    description: Echo of applied filters, including defaults
                    properties:
                      min_mc:
                        type: number
                        nullable: true
                      max_mc:
                        type: number
                      max_mc_default_applied:
                        type: boolean
                      min_liq:
                        type: number
                      min_liq_default_applied:
                        type: boolean
                      active_h:
                        type: number
                        nullable: true
                      primary_dex:
                        type: string
                        nullable: true
                      launchpad:
                        type: string
                        nullable: true
                      deployer_tier:
                        type: string
                        nullable: true
                      authority_revoked:
                        type: boolean
                        nullable: true
                      exclude_token2022:
                        type: boolean
                        nullable: true
                      lp_burned:
                        type: boolean
                        nullable: true
                      lp_burned_source:
                        type: string
                        description: What lp_burned=true and lp_burned=false each filter on (verified LP evidence only; unknown matches neither)
                      supply_burn:
                        type: boolean
                        nullable: true
                      min_volume_1h_usd:
                        type: number
                        nullable: true
                      max_mev_share_pct:
                        type: number
                        nullable: true
                      min_liq_mc_ratio:
                        type: number
                        nullable: true
                      max_liq_mc_ratio:
                        type: number
                        nullable: true
                      mc_change_1h_min_pct:
                        type: number
                        nullable: true
                      mc_change_1h_max_pct:
                        type: number
                        nullable: true
                      sort:
                        type: string
                      trending_version:
                        type: string
                        nullable: true
                        description: '"v1" only when sort=trending'
                  deprecations:
                    type: array
                    description: 'Present only when a deprecated parameter was sent (today: `lp_burned`). Each entry names the parameter, exactly what it matches, and its replacement.'
                    items:
                      type: object
                      properties:
                        param:
                          type: string
                        status:
                          type: string
                          enum:
                          - deprecated
                        matches:
                          type: string
                        replacement:
                          type: string
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Invalid query parameters
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getTokens
      x-operation-id-source: derived
  /tokens/search:
    get:
      tags:
      - Tokens
      summary: Resolve a ticker or name to candidate mints
      description: 'Search our token universe by **symbol or name** and get back candidate mints ranked so the right one is first: exact ticker match, then symbol prefix, then name prefix, then fuzzy — and *inside* each tier by liquidity, so `bonk` returns the $2M-liquidity Bonk before ten thousand squats named BONK. Each result carries `market_cap_usd`, `liquidity_usd`, `primary_dex` and `last_trade_at` so you can disambiguate in one hop and pass the `mint` on to `/token/{mint}` and friends.


        **Why this exists (2026-08-16):** 73% of all API 400s were tickers sent to mint routes (`/token/SOL`, `/token/WORLDCUP`). Those routes now answer a ticker with `code: ticker_not_mint` and a `search_url` pointing here.


        **Honesty:** this searches the memecoin/launchpad universe our market-cap tracker has seen (pump.fun, PumpSwap, LaunchLab/bonk, Raydium, Meteora, Orca). Native SOL and blue-chips are deliberately not in it — `q=SOL` returns tokens *named* SOL and the response says so in `note`. Any authenticated key, including Free.'
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 64
          example: bonk
        description: Ticker or name fragment. 1 char matches exact symbol only; 2+ enables symbol prefix; 3+ name prefix; 4+ fuzzy.
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  q:
                    type: string
                  count:
                    type: integer
                  note:
                    type: string
                    nullable: true
                    description: Present when q is a blue-chip ticker (results are namesakes) or when nothing matched.
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        mint:
                          type: string
                        symbol:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                        match:
                          type: string
                          enum:
                          - symbol_exact
                          - symbol_prefix
                          - name_prefix
                          - fuzzy
                        market_cap_usd:
                          type: number
                          nullable: true
                        liquidity_usd:
                          type: number
                          nullable: true
                        primary_dex:
                          type: string
                          nullable: true
                        last_trade_at:
                          type: string
                          format: date-time
                          nullable: true
                        image_url:
                          type: string
                          nullable: true
                          description: From token_metadata; null when not known.
                        twitter:
                          type: string
                          nullable: true
                          description: From token_metadata; null when not known.
                        website:
                          type: string
                          nullable: true
                          description: From token_metadata; null when not known.
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Missing/invalid q or limit
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getTokensSearch
      x-operation-id-source: derived
  /tokens/almost-bonded:
    get:
      tags:
      - Tokens
      summary: Almost-bonded pump.fun tokens (PRO+)
      description: 'Pre-bond pump.fun tokens approaching graduation, ranked by **velocity** (Δbonding-progress per minute) and enriched with **deployer reputation**. Differentiator: pre-bond + reputation + velocity in one feed — "95% and accelerating" beats "92% stalled".


        `progress_pct` is derived from on-chain `real_token_reserves` depletion. `velocity_pct_per_min` is null until a 5-minute snapshot exists; `eta_minutes` is a linear projection from current velocity. `stalled` flags tokens whose |velocity| is below 0.05 %/min. Already-bonded tokens are excluded (`is_bonded=false`, `max_progress` defaults to 99.99).'
      parameters:
      - name: min_progress
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
          default: 80
        description: Progress band floor (0-100).
      - name: max_progress
        in: query
        schema:
          type: number
          minimum: 0
          maximum: 100
          default: 99.99
        description: Progress band ceiling (< 100; excludes bonded).
      - name: min_velocity_pct_per_min
        in: query
        schema:
          type: number
        description: Momentum filter — minimum Δprogress per minute. Tokens without a 5m snapshot drop out when set.
      - name: max_age_minutes
        in: query
        schema:
          type: integer
          minimum: 1
        description: Freshness — max minutes since deploy.
      - name: deployer_tier
        in: query
        schema:
          type: string
          enum:
          - elite
          - good
          - moderate
          - rising
          - cold
          - unranked
        description: Filter by deployer reputation tier.
      - name: launchpad
        in: query
        schema:
          type: string
          enum:
          - pumpfun
          - launchlab
        description: 'Restrict to one launchpad venue (default: both pump.fun and bonk/LetsBonk LaunchLab). No `bags` — its DBC curve has no progress decoder.'
      - name: authority_revoked
        in: query
        schema:
          type: boolean
        description: true = require both mint + freeze authority revoked.
      - name: min_liq
        in: query
        schema:
          type: number
          minimum: 0
        description: Minimum liquidity_usd.
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - velocity_desc
          - progress_desc
          - eta_asc
          default: velocity_desc
        description: '`velocity_desc` / `eta_asc` place unmeasured (null) tokens last.'
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      responses:
        '200':
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
            X-Read-Source:
              schema:
                type: string
                enum:
                - replica
                - core
                - cache
              description: 'Where this page was served from: the read replica, the primary (core) after a replica fallback, or the 8-second response cache.'
          description: 'OK. Returns `{ tokens[], filters, returned, note, coverage }`. Each token: `mint`, `symbol`, `name`, `launchpad` (`pumpfun` | `launchlab`), `progress_pct`, `velocity_pct_per_min`, `eta_minutes`, `stalled`, `real_sol_reserves`, `market_cap_usd`, `liquidity_usd`, `authorities_revoked`, `deployer_tier`, `age_minutes`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        mint:
                          type: string
                        symbol:
                          type: string
                          nullable: true
                        name:
                          type: string
                          nullable: true
                        launchpad:
                          type: string
                          enum:
                          - pumpfun
                          - launchlab
                        progress_pct:
                          type: number
                          nullable: true
                        velocity_pct_per_min:
                          type: number
                          nullable: true
                          description: Δprogress/min; null until a 5-minute-ago snapshot exists
                        eta_minutes:
                          type: number
                          nullable: true
                          description: Linear projection to 100% at the current velocity; null when velocity is null/non-positive
                        stalled:
                          type: boolean
                          nullable: true
                          description: true when |velocity| is below 0.05 %/min
                        real_sol_reserves:
                          type: number
                          nullable: true
                        market_cap_usd:
                          type: number
                          nullable: true
                        liquidity_usd:
                          type: number
                          nullable: true
                        authorities_revoked:
                          type: boolean
                        deployer_tier:
                          type: string
                          nullable: true
                        age_minutes:
                          type: integer
                          nullable: true
                          description: Minutes since deploy; null if the token has no pending_deploys row
                  filters:
                    type: object
                    properties:
                      min_progress:
                        type: number
                      max_progress:
                        type: number
                      min_velocity_pct_per_min:
                        type: number
                        nullable: true
                      max_age_minutes:
                        type: integer
                        nullable: true
                      deployer_tier:
                        type: string
                        nullable: true
                      launchpad:
                        type: string
                        nullable: true
                      authority_revoked:
                        type: boolean
                        nullable: true
                      min_liq:
                        type: number
                        nullable: true
                      sort:
                        type: string
                  returned:
                    type: integer
                  scan:
                    type: object
                    description: 'What the ranking covered (audit F09): complete=true means every candidate in the progress band was examined (or, for progress_desc, the top `limit` were found); scan_truncated=true means the budget ran out and velocity/eta ranks cover only the `scanned` most-progressed candidates.'
                    properties:
                      scanned:
                        type: integer
                      matched:
                        type: integer
                        nullable: true
                      complete:
                        type: boolean
                      scan_truncated:
                        type: boolean
                      scan_budget:
                        type: integer
                  note:
                    type: string
                  coverage:
                    $ref: '#/components/schemas/LaunchCoverage'
        '400':
          description: Invalid query parameters
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getTokensAlmostBonded
      x-operation-id-source: derived
  /token/batch:
    post:
      tags:
      - Tokens
      summary: Batch per-mint snapshot (up to 50 mints)
      description: Same per-mint shape as `GET /token/{mint}` but in one round-trip. DB queries batched with `IN (...)`; dex-stream + RPC supply fan-outs run in parallel. 10–20× cheaper than N sequential single-mint calls.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - mints
              properties:
                mints:
                  anyOf:
                  - type: string
                  - type: array
                    items:
                      type: string
                    minItems: 1
                    maxItems: 50
                  example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
                  description: Up to 50 Solana token mints — a comma-separated string or a JSON array
      responses:
        '200':
          description: OK. Response contains `tokens[]` with the same per-mint shape as `/token/{mint}` (including `launchpad`).
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    description: One entry per unique requested mint. Same price-freshness (price_source/price_observed_at/price_age_seconds/price_is_stale), creator-identity and KOL-aggregate contract as GET /token/{mint}. Unlike it, does not include name/symbol/image_url/socials/description/twitter_reuse/early_buyer_exit or a per-token data_status (failed blocks are listed once in top-level degraded_fields).
                    items:
                      type: object
                      properties:
                        mint:
                          type: string
                        price_usd:
                          type: number
                          nullable: true
                        price_sol:
                          type: number
                          nullable: true
                        market_cap:
                          type: number
                          nullable: true
                        vwap_price_usd:
                          type: number
                          nullable: true
                        vwap_price_sol:
                          type: number
                          nullable: true
                        fdv_usd:
                          type: number
                          nullable: true
                        liquidity_usd:
                          type: number
                          nullable: true
                        primary_dex:
                          type: string
                          nullable: true
                        primary_pool_address:
                          type: string
                          nullable: true
                        is_token_2022:
                          type: boolean
                          nullable: true
                          description: null = no mc-tracker observation (unknown)
                        transfer_fee_bps:
                          type: integer
                          nullable: true
                          description: null = unknown — NOT "no fee"
                        mint_authority_revoked:
                          type: boolean
                          nullable: true
                        freeze_authority_revoked:
                          type: boolean
                          nullable: true
                        burn_detected:
                          type: boolean
                          nullable: true
                          description: 'DEPRECATED meaning: `true` when the token MINT''s on-chain supply decreased (a token burn, measured by mc-tracker''s supply-drift monitor). It is NOT LP-burn evidence and never means liquidity cannot be removed. null = no mc-tracker observation (unknown).'
                        token_supply_burn_detected:
                          type: boolean
                          nullable: true
                          description: The mint's supply decreased (token burn). Not LP evidence.
                        lp_burn_status:
                          type: string
                          enum:
                          - verified
                          - not_verified
                          - unknown
                          description: 'LP burn/lock evidence: `verified` only with measured LP-token custody (lp_burnt_pct ≥ 99). No Solana writer populates LP custody yet, so today every token is `unknown`. A token-supply burn is never promoted to an LP claim.'
                        launchpad:
                          type: string
                          nullable: true
                          enum:
                          - pumpfun
                          - launchlab
                          - bags
                          - null
                        liquidity_to_mc_ratio:
                          type: number
                          nullable: true
                        volume_24h_usd:
                          type: number
                          nullable: true
                        volume_24h_sol:
                          type: number
                          nullable: true
                        trades_24h:
                          type: integer
                          nullable: true
                        price_source:
                          type: string
                          nullable: true
                          enum:
                          - mc_tracker
                          - dex_stream
                          - null
                          description: Which pipeline produced price_usd/price_sol; null when there is no price
                        price_observed_at:
                          type: string
                          format: date-time
                          nullable: true
                          description: Last trade observed BY THE SELECTED price source — the price's own age anchor
                        price_age_seconds:
                          type: integer
                          nullable: true
                          description: Seconds since price_observed_at (null when the source carries no timestamp)
                        price_is_stale:
                          type: boolean
                          nullable: true
                          description: true when price_age_seconds > 900; null (unknown) when a price exists but its source has no observation time — never false without an observation; false when there is no price
                        last_trade_at:
                          type: string
                          format: date-time
                          nullable: true
                          description: Newest trade observed by ANY source (mc-tracker or dex-stream). Not a price-age anchor — use price_observed_at
                        first_seen_at:
                          type: string
                          format: date-time
                          nullable: true
                        age_seconds:
                          type: integer
                          nullable: true
                        is_blacklisted:
                          type: boolean
                          nullable: true
                          description: null = the blacklist read failed (listed in degraded_fields) — never "not blacklisted"
                        blacklist_category:
                          type: string
                          nullable: true
                        launch_cohort_sol:
                          type: number
                          nullable: true
                        launch_cohort_size:
                          type: integer
                          nullable: true
                          description: null = the cohort read failed; 0 = no cohort rows
                        deployer:
                          type: object
                          nullable: true
                          description: Creator + live reputation. Resolved from `deployer_tokens` (bonded) or `pending_deploys` (not yet bonded — ~98% of fresh launches). null ⇒ read `deployer_identity` for why (unknown creator vs failed lookup). `history_status` other than `established` means the bonding rate is not a track record yet (a first launch is "0 of 1", not a serial dumper).
                          properties:
                            wallet:
                              type: string
                            address:
                              type: string
                              description: Same value as wallet (contract name)
                            tier:
                              type: string
                            bonding_rate:
                              type: number
                            total_deployed:
                              type: integer
                            total_bonded:
                              type: integer
                            recent_bond_rate:
                              type: number
                            identity_status:
                              type: string
                              enum:
                              - resolved
                            identity_source:
                              type: string
                              enum:
                              - deployer_tokens
                              - pending_deploys
                            history_status:
                              type: string
                              enum:
                              - new_in_our_index
                              - limited_history
                              - reputation_pending
                              - established
                            first_seen_at:
                              type: string
                              format: date-time
                              nullable: true
                              description: First deploy OBSERVED in our capture — not the wallet's first launch anywhere
                            observed_launch_count:
                              type: integer
                            resolved_outcome_count:
                              type: integer
                              description: Resolved outcomes (bonds + dumps) we hold for this creator
                            stats_computed_at:
                              type: string
                              format: date-time
                              nullable: true
                        deployer_identity:
                          type: object
                          description: 'Always present. Explains a null `deployer`: `unknown` = both lookups succeeded and found no creator; `lookup_failed` = a lookup errored (retry — NOT "no deployer").'
                          properties:
                            identity_status:
                              type: string
                              enum:
                              - resolved
                              - unknown
                              - lookup_failed
                            history_status:
                              type: string
                              nullable: true
                              enum:
                              - new_in_our_index
                              - limited_history
                              - reputation_pending
                              - established
                              - null
                            address:
                              type: string
                              nullable: true
                            source:
                              type: string
                              nullable: true
                              enum:
                              - deployer_tokens
                              - pending_deploys
                              - null
                        kol_activity:
                          type: object
                          description: 'Per-mint complete 7-day aggregate (no shared row budget across the batch). complete=false = the aggregate read failed (listed in degraded_fields): figures are null, never zero.'
                          properties:
                            buying_kols:
                              type: integer
                              nullable: true
                            selling_kols:
                              type: integer
                              nullable: true
                            net_flow_sol:
                              type: number
                              nullable: true
                            signal:
                              type: string
                              nullable: true
                              enum:
                              - accumulating
                              - distributing
                              - neutral
                              - null
                            top_buyers:
                              type: array
                              description: Largest KOL buyers by SOL bought over the whole window (≤ 10, complete ranking)
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  wallet:
                                    type: string
                                    description: ULTRA only
                                  sol_amount:
                                    type: number
                            unique_kols:
                              type: integer
                            buys:
                              type: integer
                            sells:
                              type: integer
                            buy_sol:
                              type: number
                            sell_sol:
                              type: number
                            last_trade_at:
                              type: string
                              format: date-time
                              nullable: true
                            window_hours:
                              type: integer
                            window_start:
                              type: string
                              format: date-time
                            complete:
                              type: boolean
                        mc_change_pct:
                          type: object
                          nullable: true
                          description: 'Present only when history exists. Keys: 5m, 15m, 1h, 2h, 4h'
                          additionalProperties:
                            type: number
                            nullable: true
                        volume_usd:
                          type: object
                          nullable: true
                          description: 'Present only when history exists. Keys: 5m, 15m, 1h, 2h, 4h'
                          additionalProperties:
                            type: number
                        mev_volume_pct:
                          type: object
                          nullable: true
                          description: 'Present only when history exists. Keys: 5m, 15m, 1h, 2h, 4h'
                          additionalProperties:
                            type: number
                            nullable: true
                        history_age_seconds:
                          type: integer
                          nullable: true
                          description: Present only when history exists
                  count:
                    type: integer
                  as_of:
                    type: string
                    format: date-time
                    description: Response assembly time — not an observation time
                  degraded_fields:
                    type: array
                    items:
                      type: string
                      enum:
                      - market
                      - deployer
                      - deployer_pending
                      - first_seen
                      - blacklist
                      - launch_cohort
                      - kol_activity
                    description: Blocks whose lookup failed for this call; their per-token fields are null (unknown), never an empty-state default
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Invalid body or mint
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: postTokenBatch
      x-operation-id-source: derived
  /tokens/{mint}/buyer-quality:
    get:
      tags:
      - Tokens
      summary: Token buyer-quality score
      description: 'Composite 0-100 score for the top 20 early buyers of a token. Base = avg 7d winrate of non-bot buyers with ≥3 tokens; + KOL bonus, − bundle/bot penalty. 5-minute LRU cache per mint. A mint with no captured early buyers is NOT a 404: it returns a neutral placeholder (score 50, confidence insufficient_data, signal neutral, zeroed breakdown) with `note: "Insufficient buyer data"` and a `coverage` block that says whether the mint is outside the launchpad write-gate. `confidence` counts only buyers whose win rate actually fed the score (`breakdown.qualified_win_rate_wallets`); a cohort of wallets with history but no usable win rates is `insufficient_data`, not high confidence. For bulk scoring use `POST /tokens/batch/buyer-quality`.'
      parameters:
      - name: mint
        in: path
        required: true
        schema:
          type: string
          example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
        description: Solana token mint address
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerQuality'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/AuthBackendUnavailable'
      x-madeonsol-tier: FREE
      x-badges:
      - name: FREE
        position: after
        color: '#64748b'
      operationId: getTokensByMintBuyerQuality
      x-operation-id-source: derived
  /tokens/{mint}/flow:
    get:
      tags:
      - Tokens
      summary: Trade-flow aggregate for one token (organic vs fake volume)
      description: 'Per-token trade-flow aggregate from the token_trades firehose over a 1h or 24h window: unique wallets/buyers/sellers, buy/sell counts, buy/sell SOL flow, net SOL, and trades_per_wallet — a wash-trading proxy (median ~5; p90 ~19; p99 ~50, so wash IS detectable). Counts and flows only; no holder/balance data. PRO+.'
      parameters:
      - name: mint
        in: path
        required: true
        schema:
          type: string
          example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
        description: Solana token mint address
      - name: window
        in: query
        schema:
          type: string
          enum:
          - 1h
          - 24h
          default: 1h
        description: Aggregation window
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                  window:
                    type: string
                    enum:
                    - 1h
                    - 24h
                  from:
                    type: string
                    format: date-time
                  coverage:
                    $ref: '#/components/schemas/TradeCoverage'
                  unique_wallets:
                    type: integer
                  unique_buyers:
                    type: integer
                  unique_sellers:
                    type: integer
                  buy_count:
                    type: integer
                  sell_count:
                    type: integer
                  total_trades:
                    type: integer
                  buy_sol:
                    type: number
                  sell_sol:
                    type: number
                  net_sol:
                    type: number
                    description: sell_sol − buy_sol; positive means net SOL leaving the pool (net selling)
                  trades_per_wallet:
                    type: number
                    description: 'Wash-trading proxy: total_trades ÷ unique_wallets (median ~5, p90 ~19, p99 ~50)'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
        '400':
          description: Invalid mint or window
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getTokensByMintFlow
      x-operation-id-source: derived
  /tokens/{mint}/trades:
    get:
      tags:
      - Tokens
      summary: Mint-scoped trade tape (cursor-paginated raw trades)
      description: 'Every captured trade for one token, newest first — the backfill complement to the live firehose (seed history, then keep current via the stream). Per trade: tx_signature, wallet_address, action, sol_amount, token_amount, price_sol/price_usd, market_price_sol/market_price_usd, early_buyer_rank, slot, block_time.


        **Two different prices, on purpose.** `price_sol` is *this trade''s executed price* — `sol_amount / token_amount`, so it reconciles exactly with the amounts on the same row and with the PnL endpoints. `sol_amount` is the wallet''s net SOL movement, so that price is the trader''s all-in effective rate: it includes the swap fee and any account rent paid in the same transaction, and it is not the pool mid. `market_price_sol` is our market-cap tracker''s canonical pool price sampled near that trade''s slot — one value per token per update, so every trade in the same slot shares it. Use `price_sol` for cost basis, fills and PnL; use `market_price_sol` when you want a per-token price series independent of trade size and direction.


        *Changed 2026-08-16*: `price_sol`/`price_usd` previously carried the canonical value, which disagreed with the row''s own amounts by a 7.9% median (and far more on fast-moving mints, where one slot can span a 60% price swing). The canonical number did not disappear — it moved to `market_price_*`.


        **Coverage honesty**: capture starts 2026-04-12 and is pump.fun-pipeline scoped — the `coverage` response object carries both markers. **Size floor**: Buys under 0.05 SOL (under $3.50 when paid in USDC/USDT) are not stored; sells that receive SOL are kept at any size. (`coverage.size_floor`). Default window is full history. PRO+.


        **Where the rows come from** (*added 2026-08-29*): closed months older than the newest three move from Postgres to a Parquet archive; pages are split at `history.postgres_from` (Unix seconds) — rows at/after it are served from Postgres, older rows from the archive reader — with the same ordering and cursor. `history.archive_used` says whether this page touched the archive (`archive_months` lists which), `history.archive_available` whether the archive could be reached (`null` = not configured), and `history.truncated: true` means older history was requested but the archive did not answer — retry later rather than treating `has_more:false` as the end of the tape. Response header `X-Read-Source`: `core`, `core+archive` or `archive`.'
      parameters:
      - name: mint
        in: path
        required: true
        schema:
          type: string
          example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
        description: Solana token mint address
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
      - name: cursor
        in: query
        schema:
          type: string
        description: Opaque pagination cursor from next_cursor
      - name: action
        in: query
        schema:
          type: string
          enum:
          - buy
          - sell
      - name: wallet
        in: query
        schema:
          type: string
        description: Filter to one wallet's trades on this token
      - name: since
        in: query
        schema:
          type: integer
        description: 'Unix seconds lower bound (default: full history)'
      - name: until
        in: query
        schema:
          type: integer
        description: 'Unix seconds upper bound (default: now)'
      responses:
        '200':
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
            X-Data-Delay:
              $ref: '#/components/headers/XDataDelay'
            X-MadeOnSol-Quota-Warning:
              $ref: '#/components/headers/XMadeOnSolQuotaWarning'
            X-Read-Source:
              schema:
                type: string
                enum:
                - core
                - core+archive
                - archive
              description: 'Where this page''s rows came from: Postgres only, Postgres plus the Parquet archive (page straddles `history.postgres_from`), or the archive only.'
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                  trades:
                    type: array
                    items:
                      type: object
                      properties:
                        tx_signature:
                          type: string
                        wallet_address:
                          type: string
                        action:
                          type: string
                          enum:
                          - buy
                          - sell
                        sol_amount:
                          type: number
                        token_amount:
                          type: number
                        price_sol:
                          type: number
                          nullable: true
                          description: This trade's executed price (sol_amount / token_amount)
                        price_usd:
                          type: number
                          nullable: true
                        market_price_sol:
                          type: number
                          nullable: true
                          description: mc-tracker's canonical pool price sampled near this trade's slot — not this trade's price
                        market_price_usd:
                          type: number
                          nullable: true
                        early_buyer_rank:
                          type: integer
                          nullable: true
                        slot:
                          type: integer
                          nullable: true
                        block_time:
                          type: integer
                          description: Unix seconds
                        traded_at:
                          type: string
                          format: date-time
                  next_cursor:
                    type: string
                    nullable: true
                  has_more:
                    type: boolean
                  filters:
                    type: object
                    properties:
                      action:
                        type: string
                        nullable: true
                        enum:
                        - buy
                        - sell
                        - null
                      wallet:
                        type: string
                        nullable: true
                      since:
                        type: integer
                      until:
                        type: integer
                  history:
                    type: object
                    description: Postgres/archive split for this page (added 2026-08-29)
                    properties:
                      postgres_from:
                        type: integer
                        description: Unix seconds — rows at/after this come from Postgres, older from the archive
                      archive_used:
                        type: boolean
                      archive_months:
                        type: array
                        items:
                          type: string
                      archive_available:
                        type: boolean
                        nullable: true
                        description: null = archive reader not configured
                      truncated:
                        type: boolean
                        description: true = older history was requested but the archive did not answer — do not treat has_more:false as the end of the tape
                      note:
                        type: string
                        description: Present when the archive could not be reached or is not configured
                  coverage:
                    $ref: '#/components/schemas/TradeCoverage'
        '400':
          description: Invalid mint or params
          headers:
            X-Request-Id:
              $ref: '#/components/headers/XRequestId'
            X-RateLimit-Limit:
              $ref: '#/components/headers/XRateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/XRateLimitRemaining'
            X-RateLimit-Used:
              $ref: '#/components/headers/XRateLimitUsed'
            X-RateLimit-Reset:
              $ref: '#/components/headers/XRateLimitReset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/TierForbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      x-madeonsol-tier: PRO
      x-badges:
      - name: PRO
        position: after
        color: '#1d4ed8'
      operationId: getTokensByMintTrades
      x-operation-id-source: derived
  /tokens/{mint}/candles:
    get:
      tags:
      - Tokens
      summary: OHLCV candles for a token
      description: 'Open/high/low/close + volume candles aggregated from the 1-minute base series. PRO gets all timeframes with the last 30 days of history measured from now (`history_floor`): a window entirely older returns 200 with zero candles and `history_outside_plan: true`, a partly older one is clamped (`history_clamped: true`). ULTRA (and BUSINESS) adds net-flow/liquidity fields and full retained history. This tier split applies to Solana candles only; RHC candles are full-history on PRO+. Windows over 999 buckets are paged newest-first on the timeframe grid; `truncated` reports a page budget that ran out.'
      parameters:
      - name: mint
        in: path
        required: true
        schema:
          type: string
          example: FfuWjhMm5LP3anZ5zq8SG4iqzYVvhM4LoyNMM957pump
        description: Solana token mint address
      - name: tf
        in: query
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 15m
          - 1h
          - 4h
          - 1d
          default: 1h
        description: Candle timeframe. Also accepted as `timeframe`; `tf` wins if both are sent.
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1500
          default: 200
        description: Max candles to return (1500 = one full day of 1m bars with margin)
      - name: from
        in: query
        schema:
          type: string
          format: date-time
        description: 'ISO8601 window start, inclusive (defaults to limit×tf back). PRO: floored at now minus 30 days'
      - name: to
        in: query
        schema:
          type: string
          format: date-time
        description: ISO8601 window end, exclusive (defaults to now)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                  timeframe:
                    type: string
                    enum:
                    - 1m
                    - 5m
                    - 15m
                    - 1h
                    - 4h
                    - 1d
                  from:
                    type: string
                    format: date-time
                  to:
                    type: string
                    format: date-time
                  count:
                    type: integer
                  net_flow_included:
                    type: boolean
                    description: true on ULTRA — signals whether the net-flow/liquidity fields below are present
                  truncated:
                    type: boolean
                    description: true when the 3-page budget (up to 999 buckets each) ran out before `limit` candles or `from` were reached
                  covered_from:
                    type: string
                    format: date-time
                    description: Oldest instant actually searched; equals `from` when the whole window was scanned
                  history_floor:
                    type: string
                    format: date-time
                    nullable: true
                    description: 'PRO: now minus 30 days, rounded up to the tf grid (oldest bucket served). null on ULTRA/BUSINESS (no floor)'
                  history_clamped:
                    type: boolean
                    description: 'PRO: part of the requested window was older than history_floor and was cut; `from` echoes the clamped start'
                  history_outside_plan:
                    type: boolean
                    description: 'PRO: the whole requested window is older than history_floor, so 200 with zero candles'
                  candles:
                    type: array
                    items:
                      type: object
                      properties:
                        t:
                          type: string
                          description: Bucket start (ISO timestamp as returned by the OHLC rollup)
                        open:
                          type: number
                          nullable: true
                        high:
                          type: number
                          nullable: true
                        low:
                          type: number
                          nullable: true
                        close:
                          type: number
                          nullable: true
                        volume_usd:
                          type: number
                          nullable: true
                        trades:
[...]
