{"openapi":"3.1.0","info":{"title":"MadeOnSol API","version":"1.20.0","description":"Real-time Solana & Robinhood Chain trading intelligence — KOL wallet trades, deployer reputation, token buyer-quality scoring, wallet tracking, and copy-trade signals across both chains (Robinhood Chain paths under `/rhc/*`).\n\n**Data freshness per tier**: live-feed endpoints (KOL feeds, deployer alerts, graduations, first-touches, coordination) are **real-time on PRO and up and on x402 pay-per-call; delayed 5 minutes on the free tier** (delayed responses carry `delay`, `as_of` and an `X-Data-Delay` header). Scores, leaderboards, wallet PnL, holder data and search are real-time on every tier.\n\n**Authentication**: pass `Authorization: Bearer msk_xxx` on every request. See pricing + start free at https://madeonsol.com/pricing (200 calls/day free tier, no payment to start).\n\n**Tiers**: BASIC (free, 200/day) · PRO (€43/mo ≈ $49, 10,000/day) · ULTRA (€131/mo ≈ $149, 100,000/day) · BUSINESS (€400/mo ≈ $456, 500,000/day, embed license + bulk Parquet exports) · ENTERPRISE (custom — SLA, dedicated limits, redistribution; info@madeonsol.com). Pay by card, USDC, or SOL. Full plan comparison: https://madeonsol.com/pricing\n\n**Tier per operation**: every operation carries `x-madeonsol-tier` — the minimum plan that unlocks it, one of `FREE` `PRO` `ULTRA` `BUSINESS` `ENTERPRISE`, read from the route's own gate (a higher plan always passes). The top-level `x-madeonsol-tiers` legend lists each tier's name, price and quota. A call below the gate returns 403 with an `upgrade` block.\n\n**Try it now**: a public demo key works on `/kol/feed`, `/deployer-hunter/alerts`, and `/alpha/leaderboard` — see https://madeonsol.com/api-docs\n\n**Response headers**: every response carries `X-Request-Id` (quote it in support requests). Once your key is authenticated, responses also carry `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Used` and `X-RateLimit-Reset` (Unix epoch seconds); authentication-stage errors (401, invalid-key 403) do not. Quota 429s, concurrency 429s and 503s carry `Retry-After` (seconds). Each operation documents these headers and its error bodies through the reusable `components.headers` and `components.responses`. Free-tier responses past ~70% of the daily quota also carry an `X-MadeOnSol-Quota-Warning` header with an upgrade link.\n\n**Changelog**: see https://madeonsol.com/changelog for recent updates.","contact":{"name":"MadeOnSol","url":"https://madeonsol.com/contact"},"license":{"name":"Proprietary","url":"https://madeonsol.com/terms"}},"servers":[{"url":"https://madeonsol.com/api/v1","description":"Production"}],"tags":[{"name":"Account","description":"Self-service account inspection — quota, tier, feature usage."},{"name":"KOL","description":"KOL wallet trade feed, leaderboard, coordination, hot tokens, and per-KOL profile."},{"name":"Deployer Hunter","description":"Pump.fun deployer reputation alerts, leaderboard, and per-deployer drilldowns."},{"name":"Alpha","description":"Profitable non-KOL alpha wallets — leaderboard + per-wallet drilldown."},{"name":"Tokens","description":"Token-level buyer-quality, cap-table, and filtered token directory."},{"name":"Wallet Tracker","description":"Track any Solana wallet — aggregate stats and recent trades."},{"name":"Wallet","description":"Universal per-wallet endpoints: aggregate stats with cross-product flags, FIFO cost-basis PnL with daily curve, open positions with live unrealized, and cursor-paginated raw trades. PRO+."},{"name":"Copy-Trade","description":"Rule-based copy-trade subscriptions (PRO+)."},{"name":"Price Alerts","description":"Token MC dip/recovery alerts, evaluated every 250 ms. PRO+ (PRO 5 / ULTRA 25 / BUSINESS 125 rules)."},{"name":"Sniper","description":"Pre-confirmation pump.fun deploy detection — recent deploys, by-deployer feed, custom watchlist. PRO+ (curated to elite/good deployers); ULTRA gets every tier + watchlist + by-deployer."},{"name":"Streaming","description":"WebSocket stream tokens and live session management — 30 channels (16 Solana + 14 Robinhood Chain) on one socket, with seq/id on event frames and resume (memory, then up to 60 minutes of backfill from storage). PRO+."},{"name":"Webhooks","description":"HMAC-signed webhook registrations for KOL, deployer, wallet-tracker, sniper, token momentum, RHC KOL and realtime developer activity (dev:activity, live since 2026-10-05) events. PRO+."},{"name":"Status","description":"Public service health + data-quality status (no auth)."},{"name":"Meta","description":"Nightly dataset manifests — per-dataset fingerprint and schema hash to cite an exact data state. Any key."},{"name":"Exports","description":"Bulk Parquet exports of every fully archived closed month (token_trades, rhc_trades, token_ohlc_1m, rhc_ohlc_1m) via presigned S3 links. BUSINESS+."},{"name":"Tools","description":"Public Solana & Robinhood Chain tools directory search."},{"name":"Robinhood Chain","description":"Robinhood Chain (chain id 4663) coverage — same intel, EVM-native contracts (0x addresses, eth_amount, tx_hash). Bundled into existing tiers at no extra cost."}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"msk_...","description":"Get a free API key at https://madeonsol.com/developer"}},"schemas":{"RhcHolderGrowthWindow":{"type":"object","nullable":true,"description":"One holder-growth window on /rhc/tokens/{address}/holders. Pools and burn addresses are excluded from every count.","properties":{"cutoff_block":{"type":"integer","nullable":true,"description":"Lowest block observed at-or-after now()−window (resolved from our trade ingest, ~10 blocks/s)."},"entered":{"type":"integer","nullable":true,"description":"Addresses whose first Transfer of this token landed at-or-after cutoff_block (any current balance)."},"entered_still_holding":{"type":"integer","nullable":true,"description":"entered ∩ balance > 0."},"exited":{"type":"integer","nullable":true,"description":"Pre-existing holders whose last Transfer in the window left them at zero."},"net":{"type":"integer","nullable":true,"description":"entered_still_holding − exited ≈ change in holder_count over the window."}}},"RhcTokenRiskSummary":{"type":"object","nullable":true,"description":"Precomputed risk summary for a Robinhood Chain token, from the same engine as `/rhc/tokens/{address}/risk` (proxy resolution, capability scan, and a live router sell-simulation).\n\n**`null` means NOT ASSESSED, not safe.** The sweep covers tokens with liquidity on a ~24h rotation, so a brand-new or illiquid token has no row yet.\n\nThese values are a SNAPSHOT — always read `checked_at`. Sellability can change the moment an owner flips a setting, which is why `/rhc/tokens/{address}/risk` is computed live and never served from this cache. Use this to triage a feed; use the live endpoint before acting on a single token.","properties":{"sellable":{"type":"string","nullable":true,"enum":["yes","no","unknown"],"description":"`no` means a sell was simulated through the router and REVERTED — bought-but-cannot-sell."},"upgradeable":{"type":"boolean","nullable":true,"description":"Token is a proxy whose implementation can be swapped (EIP-1967 / beacon / legacy). EIP-1167 minimal proxies are NOT upgradeable — the target is baked into immutable code."},"score":{"type":"integer","nullable":true,"description":"0–100, conservative. Absence of evidence is not evidence of safety."},"checked_at":{"type":"string","format":"date-time","description":"When this assessment was computed."}}},"TokenBundle":{"type":"object","properties":{"mint":{"type":"string"},"bundle":{"type":"object","properties":{"wallet_count":{"type":"integer","description":"Number of same-slot bundle wallets (is_bundle: ≥3 buying in one slot)"},"bundle_kind":{"type":"string","enum":["atomic_tx","same_slot","none"],"description":"atomic_tx = ≥3 wallets share one buy tx (definitively atomic); same_slot = the ≥3-same-slot heuristic (possible coincidence); none = no cohort"},"held_pct_of_supply":{"type":"number","nullable":true,"description":"HEADLINE. Cohort net held ÷ circulating supply, 0–1 (clamped). null when supply is unknown"},"held_ratio":{"type":"number","nullable":true,"description":"Cohort net held ÷ buy_volume, 0–1. Churn-sensitive — secondary to held_pct_of_supply"},"fully_exited":{"type":"boolean"},"buy_volume":{"type":"number","description":"Cumulative buy-side token volume — NOT distinct tokens; can exceed supply on round-tripping"},"tokens_held":{"type":"number","description":"Swap-derived net position (Σbuys−Σsells) — a proxy for on-chain balance, not a holder census"}}},"wallets":{"type":"array","description":"BASIC: empty. PRO: top-10, flags only. ULTRA: full cohort + identity fields.","items":{"type":"object","properties":{"rank":{"type":"integer"},"wallet":{"type":"string"},"held_ratio":{"type":"number","nullable":true},"has_sold":{"type":"boolean"},"atomic":{"type":"boolean","description":"This wallet is part of an atomic single-tx bundle"},"is_kol":{"type":"boolean"},"kol_name":{"type":"string","nullable":true,"description":"ULTRA only"},"win_rate":{"type":"number","nullable":true,"description":"ULTRA only, 0–1"},"bot_confidence":{"type":"string","nullable":true,"description":"ULTRA only"},"tokens_held":{"type":"number","description":"ULTRA only"}}}},"coverage":{"$ref":"#/components/schemas/TradeCoverage"}}},"Error":{"type":"object","description":"Generic error envelope. `error` is always present (SDKs match on it). Errors returned after authentication also carry `_rid` and, on paid tiers, `support`; authentication-stage errors (missing/invalid key, origin) carry neither.","properties":{"error":{"type":"string","description":"Error message or machine code (e.g. `tier_required`, `rate_limit_exceeded`). Never changed once shipped."},"message":{"type":"string","description":"Human-readable explanation, when `error` is a machine code."},"code":{"type":"string","description":"Machine-readable sub-code on some errors (e.g. `invalid_query`, `invalid_wallet`, `origin_not_allowed`)."},"error_kind":{"type":"string","description":"Machine-readable category on some errors (e.g. `statement_timeout`, `concurrency`, `daily`)."},"detail":{"type":"string","description":"Extra human-readable context."},"hint":{"type":"string"},"retry_after_seconds":{"type":"number","description":"When present on a 429/503, the same value is sent as the `Retry-After` header."},"signup_url":{"type":"string","format":"uri","description":"On the missing-key / bad-format 401: where to get a free key."},"docs_url":{"type":"string","format":"uri"},"support":{"type":"string","description":"Paid tiers, errors after authentication: priority support contact."},"_rid":{"type":"string","description":"Request ID — include when reporting issues"}},"required":["error"]},"TierRequiredError":{"type":"object","description":"403 when the key's tier is below the endpoint's (or a parameter's) gate. `required_tier` matches the operation's `x-madeonsol-tier` or `x-madeonsol-feature-tiers`. ENTERPRISE gates return `contact` instead of `upgrade`.","required":["error","message","your_tier","required_tier"],"properties":{"error":{"type":"string","enum":["tier_required"]},"message":{"type":"string"},"feature":{"type":"string"},"your_tier":{"type":"string","enum":["BASIC","PRO","ULTRA","BUSINESS","ENTERPRISE"]},"required_tier":{"type":"string","enum":["PRO","ULTRA","BUSINESS","ENTERPRISE"]},"upgrade":{"type":"object","description":"The plan that lifts this limit, with price and a checkout link.","properties":{"tier":{"type":"string","enum":["PRO","ULTRA","BUSINESS","ENTERPRISE"]},"price_eur_per_month":{"type":"number"},"price_usdc_per_month":{"type":"number"},"daily_limit":{"type":"integer"},"burst_limit":{"type":"integer"},"pitch":{"type":"string"},"url":{"type":"string"},"upgrade_url":{"type":"string","format":"uri"},"reactivate":{"type":"boolean","description":"Present (true) when the key's paid subscription has just lapsed and `tier` is the plan it held."},"prior_tier":{"type":"string","enum":["PRO","ULTRA","BUSINESS"]}}},"contact":{"type":"object","properties":{"url":{"type":"string"},"contact_url":{"type":"string"},"pitch":{"type":"string"}}},"support":{"type":"string"},"_rid":{"type":"string"}}},"DemoKeyNotAllowedError":{"type":"object","description":"403 for the public demo key (`msk_demo_…`) outside its three-endpoint allow-list. `endpoint_tier` is the endpoint's real minimum plan (null when unknown).","required":["error","message","allowed_endpoints"],"properties":{"error":{"type":"string","enum":["demo_key_endpoint_not_allowed"]},"message":{"type":"string"},"endpoint_tier":{"type":"string","nullable":true,"enum":["FREE","PRO","ULTRA","BUSINESS","ENTERPRISE",null]},"allowed_endpoints":{"type":"array","items":{"type":"string"}},"signup_url":{"type":"string","format":"uri"},"upgrade_url":{"type":"string","format":"uri","description":"Only when the endpoint's tier can be bought at /checkout."}}},"RateLimitError":{"type":"object","description":"429 when a quota is exhausted: the daily quota, the per-minute burst, or a free-tier network/key-rotation cap. `datasets` is added on `daily` only.","required":["error","error_kind","message","tier","limit","resets_at"],"properties":{"error":{"type":"string","enum":["rate_limit_exceeded"]},"error_kind":{"type":"string","enum":["daily","burst","ip_cap","ip_rotation"]},"message":{"type":"string"},"tier":{"type":"string","enum":["BASIC","PRO","ULTRA","BUSINESS","ENTERPRISE"]},"limit":{"type":"integer"},"resets_at":{"type":"string","format":"date-time"},"upgrade":{"type":"object","description":"The plan that lifts this limit, with price and a checkout link.","properties":{"tier":{"type":"string","enum":["PRO","ULTRA","BUSINESS","ENTERPRISE"]},"price_eur_per_month":{"type":"number"},"price_usdc_per_month":{"type":"number"},"daily_limit":{"type":"integer"},"burst_limit":{"type":"integer"},"pitch":{"type":"string"},"url":{"type":"string"},"upgrade_url":{"type":"string","format":"uri"},"reactivate":{"type":"boolean","description":"Present (true) when the key's paid subscription has just lapsed and `tier` is the plan it held."},"prior_tier":{"type":"string","enum":["PRO","ULTRA","BUSINESS"]}}},"datasets":{"type":"object","properties":{"pitch":{"type":"string"},"url":{"type":"string","format":"uri"}}}}},"ConcurrencyLimitError":{"type":"object","description":"429 from the heavy-query limiter: too many heavy requests in flight for this key (`concurrency`) or for the whole server (`capacity`). Clears as soon as in-flight requests finish.","required":["error","error_kind","retry_after_seconds"],"properties":{"error":{"type":"string"},"error_kind":{"type":"string","enum":["concurrency","capacity"]},"retry_after_seconds":{"type":"number"},"max_concurrent":{"type":"integer"},"support":{"type":"string"},"_rid":{"type":"string"}}},"ServiceUnavailableError":{"type":"object","description":"503: a temporary capacity or maintenance condition (e.g. a Postgres statement timeout during a partition move, or the API-key lookup itself being unavailable). Retry after `Retry-After` seconds.","required":["error"],"properties":{"error":{"type":"string"},"code":{"type":"string","description":"Machine-readable code where one exists, e.g. `auth_backend_unavailable`."},"error_kind":{"type":"string","description":"e.g. `statement_timeout`, `auth_backend`"},"retry_after_seconds":{"type":"number"},"retryable":{"type":"boolean"},"support":{"type":"string"},"_rid":{"type":"string"}}},"RhcCopytradeTrackedWallets":{"type":"array","items":{"type":"string"},"nullable":true,"description":"DEPRECATED 2026-10-04 (kept, still filled): subset of source_wallets in the tracked KOL set (kol_evm_wallets, the set behind /rhc/kol/wallets). KOL enrichment only once source_admission is any_wallet; under the legacy kol_only engine only these can produce a signal. null when the reference read failed."},"RhcCopytradeUntrackedWallets":{"type":"array","items":{"type":"string"},"nullable":true,"description":"DEPRECATED 2026-10-04 (kept, still filled): subset of source_wallets NOT in the tracked KOL set. Under source_admission any_wallet they fire like any other wallet; under the legacy kol_only engine they never produce a signal. null when the reference read failed."},"RhcCopytradeOperationalState":{"type":"string","enum":["eligible","monitoring_pending","monitoring_unavailable","source_capacity_unavailable","no_tracked_sources","unknown"],"description":"Whether the rule can fire at all, separate from is_active (the customer switch). Under source_admission any_wallet (2026-10-04) every valid source wallet is followed, KOL or not: eligible; monitoring_pending = the rule changed after the engine's last rule load (live within seconds); monitoring_unavailable = the engine or the trade stream is not reporting, and it fires nothing until it is (see monitoring_reasons); source_capacity_unavailable = the engine's source-wallet cap is reached. Legacy (source_admission kol_only or absent): no_tracked_sources = none of source_wallets is a tracked KOL wallet (kol_evm_wallets on Robinhood Chain, active kol_wallets on Solana), so the rule cannot fire; unknown = the tracking read failed."},"RhcCopytradeSourceAdmission":{"type":"string","enum":["kol_only","any_wallet"],"description":"Which trades the RUNNING copy-trade engine admits (shared by the Solana and Robinhood Chain rules). any_wallet: a qualifying trade by any source wallet, KOL or not (Robinhood Chain: the ERC-4337 userOp sender on bundled transactions; Solana: the same effective-trader rule as KOL attribution). kol_only: only tracked KOL wallets (kol_evm_wallets / active kol_wallets), legacy. Absent when the engine state could not be read (legacy semantics). Added 2026-10-04."},"RhcCopytradeMonitoringReasons":{"type":"array","items":{"type":"string"},"description":"Present only with operational_state monitoring_unavailable: the infrastructure reasons (e.g. dex_stream_stale, trade_stream_stale, source_producer_stale, map_stale, bus_disconnected, engine_state_stale). Added 2026-10-04."},"RhcCopytradeRuleWarnings":{"type":"array","description":"Present only when something needs attention (the key is omitted otherwise, never null). Additive — status codes and existing fields never change. Emitted only under source_admission kol_only (legacy); under any_wallet an untracked wallet is not a problem and no warning is attached.","items":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["untracked_source_wallets","source_wallet_tracking_unavailable"]},"message":{"type":"string"}}}},"CopytradeSubscription":{"type":"object","description":"A copy-trade rule: source wallets to mirror, sizing, delivery, and optional MC bounds.","properties":{"id":{"type":"integer"},"name":{"type":"string","nullable":true},"source_wallets":{"type":"array","items":{"type":"string"},"description":"Wallets being copied. Any valid Solana wallet once source_admission is any_wallet; under the legacy kol_only engine only active tracked KOL wallets fire — see source_admission and operational_state."},"min_trade_sol":{"type":"number","nullable":true,"description":"Skip source trades below this SOL size"},"only_action":{"type":"string","enum":["buy","sell","both"]},"sizing_mode":{"type":"string","enum":["fixed","proportional","percent_source"]},"sizing_amount":{"type":"number","description":"fixed = SOL amount, proportional = multiplier (0.5 = half size), percent_source = 0..1"},"delivery_mode":{"type":"string","enum":["webhook","websocket","both"]},"webhook_url":{"type":"string","format":"uri","nullable":true},"min_mc_usd":{"type":"number","nullable":true},"max_mc_usd":{"type":"number","nullable":true},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time","description":"GET only"},"updated_at":{"type":"string","format":"date-time"},"source_wallets_tracked":{"type":"array","items":{"type":"string"},"nullable":true,"description":"DEPRECATED 2026-10-04 (kept, still filled): subset of source_wallets that are active tracked Solana KOL wallets (the set behind /kol/wallets). KOL enrichment only once source_admission is any_wallet; under the legacy kol_only engine only these produce signals. null when the lookup failed. Added 2026-09-25."},"source_wallets_untracked":{"type":"array","items":{"type":"string"},"nullable":true,"description":"DEPRECATED 2026-10-04 (kept, still filled): subset of source_wallets that are not tracked KOL wallets. Under source_admission any_wallet they fire like any other wallet (no Wallet Tracker entry needed, no Wallet Tracker quota used); under the legacy kol_only engine they never produce a signal. null when the lookup failed. Added 2026-09-25."},"operational_state":{"$ref":"#/components/schemas/RhcCopytradeOperationalState"},"source_admission":{"$ref":"#/components/schemas/RhcCopytradeSourceAdmission"},"monitoring_reasons":{"$ref":"#/components/schemas/RhcCopytradeMonitoringReasons"},"warnings":{"$ref":"#/components/schemas/RhcCopytradeRuleWarnings"}}},"WebhookFilters":{"type":"object","description":"Optional per-event delivery filters on a webhook. wallet_tracker:event (since 2026-09-25): only min_sol, action and conditions on its own fields apply, after the subscriber check; on a webhook subscribed to wallet_tracker:event alone any other named filter is a 400.","properties":{"min_sol":{"type":"number","description":"Minimum sol_amount (kol:trade, wallet_tracker:event)"},"action":{"type":"string","enum":["buy","sell"],"description":"kol:trade, wallet_tracker:event (transfers have no action and are excluded)"},"kol_name":{"type":"string"},"deployer_tier":{"type":"array","items":{"type":"string"}},"min_kols":{"type":"integer"},"kinds":{"type":"array","items":{"type":"string","enum":["surge","revival"]},"description":"token:surge / token:revival only"},"tiers":{"type":"array","items":{"type":"string","enum":["early","strong","breakout"]},"description":"token:surge / token:revival only"},"launchpads":{"type":"array","items":{"type":"string"},"description":"token:surge / token:revival only"},"exclude_flags":{"type":"array","items":{"type":"string"},"description":"token:surge / token:revival only"},"min_mc_usd":{"type":"number"},"max_mc_usd":{"type":"number"},"types":{"type":"array","items":{"type":"string","enum":["dev_sell","dev_buy","dev_token_transfer_out","dev_token_transfer_in"]},"description":"dev:activity only: event types to deliver"},"token_mints":{"type":"array","items":{"type":"string"},"maxItems":500,"description":"dev:activity only: mints"},"deployers":{"type":"array","items":{"type":"string"},"maxItems":500,"description":"dev:activity only: matches deployer_wallet or actor_wallet"},"conditions":{"type":"array","maxItems":10,"description":"ULTRA+ (2026-09-08). Custom { field, op, value } triples ANDed together and evaluated against the raw event payload, on top of the named filters. `field` must be a documented payload field of one of the webhook's subscribed event types (one level of dot-path allowed, e.g. `triggering_trade.sol_amount`); anything else is a 400. Number fields take eq/neq/gt/gte/lt/lte/in, strings eq/neq/in/contains, booleans eq/neq. On PRO the request is a 403 tier_required.","items":{"type":"object","required":["field","op","value"],"properties":{"field":{"type":"string","example":"sol_amount"},"op":{"type":"string","enum":["eq","neq","gt","gte","lt","lte","in","contains"]},"value":{"description":"number | string | boolean, or a non-empty array (≤20) for `in`.","anyOf":[{"type":"number"},{"type":"string"},{"type":"boolean"},{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"number"}]}}]}}}}}},"Webhook":{"type":"object","properties":{"id":{"type":"integer"},"url":{"type":"string","format":"uri"},"events":{"type":"array","description":"dev:activity (live since 2026-10-05): developer dev_sell / dev_buy / dev_token_transfer_out / dev_token_transfer_in, projected per tier at delivery (PRO: the developer's own events, raw facts, no identity keys; ULTRA+: identity fields and linked-wallet events from proven links only). Dedupe on data.id. Transfers are partial (most recently active developer wallets only).","items":{"type":"string","enum":["kol:trade","kol:coordination","deployer:alert","deployer:bond","wallet_tracker:event","sniper:deploy","rhc:kol_trade","token:surge","token:revival","dev:activity"]}},"filters":{"$ref":"#/components/schemas/WebhookFilters"},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"last_delivered_at":{"type":"string","format":"date-time","nullable":true},"consecutive_failures":{"type":"integer"}}},"TradeCoverage":{"type":"object","description":"Coverage disclosure for endpoints backed by our persisted trade capture (`token_trades` / early-buyer data). Capture starts 2026-04-12 and persistence is gated to the launchpad pipeline (pump.fun, LaunchLab/bonk, bags) — it is NOT a full Solana trade history. Three separate answers (2026-09-21): `data_observed`/`in_scope` = at least one persisted row (presence, not completeness — a brand-new in-scope mint with no trades yet also reads false), `eligibility` = whether the CURRENT gate admits the subject, `completeness` = always `not_verified`. When no rows exist, zero/empty values mean 'not captured' (see eligibility for why), never 'no activity'.","properties":{"history_start":{"type":"integer","example":1775984757,"description":"Epoch seconds of the first persisted trade (2026-04-12)."},"scope":{"type":"string","example":"pump.fun pipeline (pump.fun, LaunchLab/bonk, bags)"},"in_scope":{"type":"boolean","nullable":true,"description":"Kept for compatibility — same value as data_observed: true = we hold ≥1 persisted trade for this subject · false = none persisted (see eligibility for why — a brand-new in-scope mint also reads false) · null = probe unavailable"},"data_observed":{"type":"boolean","nullable":true},"eligibility":{"type":"string","nullable":true,"enum":["eligible","lapsed","excluded","unknown","admitted_previously","not_applicable",null],"description":"Resolved against the EFFECTIVE production capture settings (refreshed every few minutes; if they cannot be confirmed the answer narrows, never widens). eligible = admitted by the current gate · lapsed = launched via our pipeline, capture window closed under the current settings · excluded = blacklisted · unknown = no evidence the gate admits it (most likely outside the launchpad pipeline; basis capture_state_unavailable = settings could not be confirmed, no claim either way) · admitted_previously = persisted rows prove past admission, current status not established · not_applicable = wallet subjects · null = lookup failed"},"eligibility_basis":{"type":"string","nullable":true,"description":"Evidence behind eligibility (e.g. unresolved_launch, recently_bonded, revived_curve, pipeline_known, launchlab_pool, bags_vanity_mint, launchpad_proven, resolved_launch, bonded_over_7d, revival_expired, blacklisted, persisted_rows, capture_state_unavailable, lookup_failed)"},"completeness":{"type":"string","enum":["not_verified"]},"size_floor":{"type":"object","description":"Persistence size floor of the same write path (added 2026-09-30). Buys under 0.05 SOL (under $3.50 when paid in USDC/USDT) are not stored; sells that receive SOL are kept at any size. Live streams, prices and candles are not subject to it.","properties":{"min_sol":{"type":"number","example":0.05},"min_stable_usd":{"type":"number","example":3.5},"applies_to":{"type":"string","example":"buys and SOL-spending legs; SOL-receiving sells of any size are kept"}}},"note":{"type":"string","description":"How to read the values (always present since 2026-09-21: eligibility-specific when no rows exist, a completeness caveat when they do)."}}},"LaunchCoverage":{"type":"object","description":"Dataset-scope disclosure injected on every 200 from the launch-pipeline feeds (`/deployer-hunter/*`, `/sniper/*`, `/alpha/*`, `/tokens/almost-bonded`, `/tokens/batch/risk`, `/wallet/batch/classify`) unless the route already carries a more precise per-subject `coverage`. Static: these datasets are built from launchpad ingest (in practice ~99% pump.fun), so an absent wallet/token, an empty profile or a `false` reputation flag means 'not observed by this pipeline', never 'clean' or 'no activity'.","properties":{"scope":{"type":"string","example":"launchpad pipeline (pump.fun and LaunchLab/bonk deploys; bags.fm tokens are covered in trade data but their deploys are not attributed here; no direct-to-DEX launches)"},"note":{"type":"string","description":"How to read absences and zeros in this response."}}},"KolTrade":{"type":"object","properties":{"wallet_address":{"type":"string"},"kol_name":{"type":"string"},"kol_twitter":{"type":"string","format":"uri","nullable":true},"token_mint":{"type":"string"},"token_name":{"type":"string","nullable":true},"token_symbol":{"type":"string","nullable":true},"action":{"type":"string","enum":["buy","sell"]},"sol_amount":{"type":"number"},"token_amount":{"type":"number"},"market_cap_usd_at_trade":{"type":"number","nullable":true,"description":"Token market cap in USD at the moment of trade (real-time, from our in-memory price tracker — not the post-hoc Dexscreener spot)"},"price_usd_at_trade":{"type":"number","nullable":true,"description":"Token price in USD at the moment of trade"},"tx_signature":{"type":"string"},"traded_at":{"type":"string","format":"date-time"},"token_image_url":{"type":"string","nullable":true},"launchpad":{"type":"string","nullable":true,"description":"Launchpad of origin (`pumpfun` / `launchlab` / `bags`); null for non-launchpad mints."},"token_age_minutes":{"type":"integer","nullable":true,"description":"Minutes between the token's first observed trade and now (not at trade time); null when the mint has no first-seen record."},"kol_strategy_tag":{"type":"string","nullable":true,"description":"Manual strategy tag from the roster, falling back to the auto-classified tag."},"kol_auto_strategy_tag":{"type":"string","nullable":true,"enum":["scalper","day_trader","swing_trader","hodler","mixed",null],"description":"Auto-classified trader style — the value `strategy=` filters on."},"kol_winrate_7d":{"type":"number","nullable":true,"description":"KOL's 7-day win rate (0-100)."},"kol_winrate_30d":{"type":"number","nullable":true,"description":"KOL's 30-day win rate (0-100)."},"kol_early_entry_pct_30d":{"type":"number","nullable":true,"description":"Share of the KOL's 30-day buys that were early entries."},"kol_is_heating_up":{"type":"boolean","description":"KOL's recent performance is trending up vs their own baseline."},"kol_percentile_pnl_7d":{"type":"number","nullable":true,"description":"KOL's 7-day PnL percentile across the roster (0-100)."},"kol_percentile_winrate_7d":{"type":"number","nullable":true,"description":"KOL's 7-day win-rate percentile across the roster (0-100)."},"deployer":{"type":"object","description":"Present only when the token has a tracked deployer.","properties":{"wallet":{"type":"string"},"tier":{"type":"string","nullable":true,"enum":["elite","good","moderate","rising","cold","unranked",null]},"bonding_rate":{"type":"number","nullable":true}}},"deployer_tier":{"type":"string","nullable":true,"description":"Shortcut for `deployer.tier`; present only when `deployer` is."},"token":{"type":"object","nullable":true,"description":"Present only with `include=token` — the `/token/{mint}` snapshot for this row (null past the 20-distinct-mint cap)."}}},"LeaderboardRow":{"type":"object","properties":{"name":{"type":"string"},"wallet":{"type":"string"},"pnl":{"type":"number","description":"Realized PnL in SOL"},"buy_count":{"type":"integer"},"sell_count":{"type":"integer"},"volume":{"type":"number"},"win_rate":{"type":"number","description":"0-100"},"median_hold_minutes_30d":{"type":"number","nullable":true,"description":"Median hold time in minutes over the last 30 days."},"percentile_early_entry_30d":{"type":"number","nullable":true,"minimum":0,"maximum":100,"description":"Percentile rank for early entry timing over the last 30 days."}}},"CoordinationCluster":{"type":"object","properties":{"token_mint":{"type":"string"},"token_symbol":{"type":"string","nullable":true},"token_name":{"type":"string","nullable":true},"kol_count":{"type":"integer"},"total_buys":{"type":"integer"},"total_sells":{"type":"integer"},"net_sol_flow":{"type":"number"},"signal":{"type":"string","enum":["accumulating","distributing"]},"avg_winrate_7d":{"type":"number","nullable":true,"description":"Mean 7d winrate across the cluster's KOLs"},"entry_rank_avg":{"type":"number","nullable":true,"description":"Avg early-entry percentile (lower = earlier in the trade)"},"unique_strategies":{"type":"integer","description":"Count of distinct auto_strategy_tag values across the KOLs"},"strategies":{"type":"array","items":{"type":"string"}},"first_buy_at":{"type":"string","format":"date-time","nullable":true},"last_buy_at":{"type":"string","format":"date-time","nullable":true},"time_to_consensus_sec":{"type":"integer","nullable":true,"description":"Seconds between first and last KOL buy (full-period span)"},"peak_window_start":{"type":"string","format":"date-time","nullable":true,"description":"Start of densest buy cluster (default 15-min window)"},"peak_window_end":{"type":"string","format":"date-time","nullable":true},"peak_kols":{"type":"integer","nullable":true,"description":"Distinct KOLs buying inside the peak window"},"peak_buys":{"type":"integer","nullable":true,"description":"Total buys inside the peak window"},"exited_count":{"type":"integer","description":"KOLs in the cluster whose sell_sol > buy_sol (net-flow-negative)"},"holders_count":{"type":"integer","description":"kol_count − exited_count (still net-long)"},"coordination_score":{"type":"integer","minimum":0,"maximum":100,"description":"Composite 0-100 signal score. Weighting exposed via top-level score_version."},"market_cap_usd_at_first_buy":{"type":"number","nullable":true,"description":"Market cap (USD) stamped on the cluster's chronologically-first KOL buy. Distinguishes coordinated accumulation at micro-cap from late-stage chasing."},"market_cap_usd":{"type":"number","nullable":true,"description":"Current market cap (USD) of the token, sourced from token_prices. Compare against market_cap_usd_at_first_buy for the cluster's MC delta."},"last_price_usd":{"type":"number","nullable":true,"description":"Current last-trade price (USD)."},"mc_change_pct":{"type":"object","description":"Market-cap % change over each window (e.g. 12.4 = +12.4%). Sparse — only windows with enough mc-tracker history are present. Use to tell whether the cluster is firing into a moving token or before the move.","properties":{"5m":{"type":"number","nullable":true},"15m":{"type":"number","nullable":true},"1h":{"type":"number","nullable":true},"2h":{"type":"number","nullable":true},"4h":{"type":"number","nullable":true}}},"volume_usd":{"type":"object","description":"Organic (non-MEV) USD volume over each window. Sparse — same gating as mc_change_pct.","properties":{"5m":{"type":"number"},"15m":{"type":"number"},"1h":{"type":"number"},"2h":{"type":"number"},"4h":{"type":"number"}}},"mev_volume_pct":{"type":"object","description":"MEV-share of total volume over each window (0-100). High value = bot-heavy / sandwich-heavy flow.","properties":{"5m":{"type":"number","nullable":true},"15m":{"type":"number","nullable":true},"1h":{"type":"number","nullable":true},"2h":{"type":"number","nullable":true},"4h":{"type":"number","nullable":true}}},"history_age_seconds":{"type":"integer","nullable":true,"description":"Seconds of mc-tracker history available for this token (capped at 4h05m). Tells you which windows can be trusted. Null when token is untracked."},"kols":{"type":"array","items":{},"description":"BASIC: array of KOL names (first 3). PRO+: objects {name, wallet, buy_sol, sell_sol, exited} — full wallet addresses on every tier that can call the endpoint (BASIC gets 403 on /kol/coordination)."}}},"CoordinationAlertRule":{"type":"object","description":"A saved /kol/coordination/alerts rule. `created_at` is present on list/GET-one responses; `updated_at` is present on GET-one/PATCH responses (list omits it).","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","nullable":true},"min_kols":{"type":"integer"},"window_minutes":{"type":"integer"},"min_score":{"type":"integer"},"include_majors":{"type":"boolean"},"cooldown_min":{"type":"integer"},"score_jump_break":{"type":"integer"},"delivery_mode":{"type":"string","enum":["websocket","webhook","both"]},"webhook_url":{"type":"string","format":"uri","nullable":true},"min_mc_usd":{"type":"number","nullable":true},"max_mc_usd":{"type":"number","nullable":true},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"FirstTouchSubscription":{"type":"object","description":"A saved /kol/first-touches/subscriptions subscription. `created_at` is present on list/GET-one/PATCH responses; `updated_at` is present on GET-one/PATCH responses (list omits it).","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","nullable":true},"filters":{"type":"object","properties":{"kol":{"type":"string","nullable":true,"description":"Wallet address (32-44 base58 chars)"},"mint_suffix":{"type":"string","nullable":true},"min_first_buy_sol":{"type":"number","nullable":true},"min_scout_tier":{"type":"string","nullable":true,"enum":["S","A","B","C"]},"min_n_touches":{"type":"integer","nullable":true}}},"delivery_mode":{"type":"string","enum":["websocket","webhook","both"]},"webhook_url":{"type":"string","format":"uri","nullable":true},"min_mc_usd":{"type":"number","nullable":true},"max_mc_usd":{"type":"number","nullable":true},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"BuyerQuality":{"type":"object","properties":{"mint":{"type":"string"},"score":{"type":"number","description":"0-100 composite buyer-quality score"},"confidence":{"type":"string","enum":["insufficient_data","low","medium","high"],"description":"Confidence in the PREDICTIVE inputs: counts only buyers whose win rate fed the score (≥3 tokens of history, not bot-flagged, not zero-cost-dump dominated). insufficient_data = none did — the score is the neutral-50 default plus penalties. 1 → low, 5+ → medium, 11+ → high."},"signal":{"type":"string","enum":["positive","neutral","negative"]},"breakdown":{"type":"object","properties":{"alpha_wallet_count":{"type":"integer"},"kol_count":{"type":"integer"},"bundle_buyer_count":{"type":"integer"},"avg_historical_win_rate":{"type":"number","nullable":true,"description":"null when no buyer's win rate qualified (confidence insufficient_data)"},"bot_dominated":{"type":"boolean"},"wallets_with_history":{"type":"integer","description":"Buyers with ≥3 tokens of history (cohort identification — not predictive)"},"qualified_win_rate_wallets":{"type":"integer","description":"Buyers whose win rate fed the score — the basis of confidence"},"dump_cluster_count":{"type":"integer","description":"First-20 buyers on the rolling dump-cluster list (wallets whose 5+ recent first-20 appearances are exclusively on tokens that peaked <15 min after deploy; trailing 42d, refreshed daily). Out-of-sample: 3+ such wallets predicted a sub-15-min peak 94% of the time vs 61% base. Informational — does not move the score."},"recycled_early_buyer_count":{"type":"integer","description":"First-20 buyers with 5+ recent first-20 cohort appearances of any kind. The count alone predicts nothing; a heavily recycled cohort with dump_cluster_count 0 historically leans runner."}}},"cached_at":{"type":"string","format":"date-time"},"coverage":{"$ref":"#/components/schemas/TradeCoverage"},"note":{"type":"string","description":"Present only when no early-buyer data exists for the mint — the score is then a neutral 50 placeholder (\"Insufficient buyer data\"); check coverage to tell 'no early buyers captured' from 'mint outside the write-gate'."},"signal_stats":{"type":"object","description":"Present only when breakdown.dump_cluster_count ≥ 1 and the daily signal-performance snapshot has a bucket for it. The live, out-of-sample efficacy of that value, so the raw count is readable.","properties":{"dump_cluster_count":{"type":"object","properties":{"value":{"type":"integer","description":"The token's own dump_cluster_count."},"bucket":{"type":"string","enum":["k>=1","k>=3","k>=5"],"description":"Most specific cumulative-threshold bucket the value qualifies for."},"outcome":{"type":"string","enum":["dump","runner"],"description":"Outcome the hit rate is measured against."},"hit_rate":{"type":"number","description":"P(outcome | bucket), 0-1."},"base_rate":{"type":"number","description":"P(outcome | all tokens), 0-1."},"lift":{"type":"number","description":"hit_rate / base_rate."},"sample_n":{"type":"integer"},"window_days":{"type":"integer"},"as_of":{"type":"string","format":"date-time","description":"Snapshot time of the signal_performance row."},"summary":{"type":"string","example":"dump_cluster_count=3 (k>=3): 95% of such tokens dumped vs 75% base (1.27× lift), n=349, 14d OOS"}}}}}}},"BuyerQualityBatchItem":{"type":"object","description":"Per-mint item of POST /tokens/batch/buyer-quality: the GET /tokens/{mint}/buyer-quality shape WITHOUT `signal_stats` (the batch path does not attach the signal-performance snapshot).","properties":{"mint":{"type":"string"},"score":{"type":"number","description":"0-100 composite buyer-quality score"},"confidence":{"type":"string","enum":["insufficient_data","low","medium","high"],"description":"Confidence in the PREDICTIVE inputs: counts only buyers whose win rate fed the score (≥3 tokens of history, not bot-flagged, not zero-cost-dump dominated). insufficient_data = none did — the score is the neutral-50 default plus penalties. 1 → low, 5+ → medium, 11+ → high."},"signal":{"type":"string","enum":["positive","neutral","negative"]},"breakdown":{"type":"object","properties":{"alpha_wallet_count":{"type":"integer"},"kol_count":{"type":"integer"},"bundle_buyer_count":{"type":"integer"},"avg_historical_win_rate":{"type":"number","nullable":true,"description":"null when no buyer's win rate qualified (confidence insufficient_data)"},"bot_dominated":{"type":"boolean"},"wallets_with_history":{"type":"integer","description":"Buyers with ≥3 tokens of history (cohort identification — not predictive)"},"qualified_win_rate_wallets":{"type":"integer","description":"Buyers whose win rate fed the score — the basis of confidence"},"dump_cluster_count":{"type":"integer","description":"First-20 buyers on the rolling dump-cluster list (wallets whose 5+ recent first-20 appearances are exclusively on tokens that peaked <15 min after deploy; trailing 42d, refreshed daily). Out-of-sample: 3+ such wallets predicted a sub-15-min peak 94% of the time vs 61% base. Informational — does not move the score."},"recycled_early_buyer_count":{"type":"integer","description":"First-20 buyers with 5+ recent first-20 cohort appearances of any kind. The count alone predicts nothing; a heavily recycled cohort with dump_cluster_count 0 historically leans runner."}}},"cached_at":{"type":"string","format":"date-time"},"coverage":{"$ref":"#/components/schemas/TradeCoverage"},"note":{"type":"string","description":"Present only when no early-buyer data exists for the mint — the score is then a neutral 50 placeholder (\"Insufficient buyer data\"); check coverage to tell 'no early buyers captured' from 'mint outside the write-gate'."}}},"WalletTrackerSummary":{"type":"object","description":"Per-wallet activity for your Solana tracked wallets over `period` (newest-added first). An empty tracker returns `{ wallets: [], period }` without `interval`.","properties":{"wallets":{"type":"array","items":{"type":"object","properties":{"wallet_address":{"type":"string"},"label":{"type":"string","nullable":true},"added_at":{"type":"string","format":"date-time"},"stats":{"type":"object","properties":{"swap_count":{"type":"integer"},"transfer_count":{"type":"integer"},"buys":{"type":"integer"},"sells":{"type":"integer"},"sol_bought":{"type":"number"},"sol_sold":{"type":"number"},"last_event_at":{"type":"string","format":"date-time","nullable":true}}}}}},"period":{"type":"string","enum":["24h","7d","30d"]},"interval":{"type":"string","description":"Postgres interval for the period, e.g. \"7 days\"."}}},"WalletStats":{"type":"object","properties":{"address":{"type":"string"},"stats":{"type":"object","nullable":true,"properties":{"first_seen":{"type":"string","format":"date-time"},"last_seen":{"type":"string","format":"date-time"},"total_trades":{"type":"integer"},"buys":{"type":"integer"},"sells":{"type":"integer"},"bought_sol":{"type":"number"},"sold_sol":{"type":"number"},"unique_tokens":{"type":"integer"},"window_days":{"type":"integer","description":"Lookback window — currently 90"}}},"flags":{"type":"object","properties":{"is_kol":{"type":"boolean"},"kol_name":{"type":"string","nullable":true},"is_alpha_tracked":{"type":"boolean"},"bot_confidence":{"type":"string","nullable":true,"enum":["none","low","medium","high"],"description":"Bot-likeness classification from alpha-wallet rules"},"alpha_win_rate":{"type":"number","nullable":true},"alpha_net_pnl_sol":{"type":"number","nullable":true},"alpha_tokens_traded":{"type":"integer","nullable":true},"is_deployer":{"type":"boolean"},"deployer_tokens_deployed":{"type":"integer","nullable":true},"deployer_bonding_rate":{"type":"number","nullable":true},"coverage_note":{"type":"string","description":"Fixed disclosure: is_sniper/is_bundler/is_dumper derive from the launchpad trade pipeline — false means 'not observed in covered trades', not 'verified clean'."},"is_sniper":{"type":"boolean","description":">=5 tokens early-bought & >=80% flipped <5min (behavior-updated hourly). Pump.fun-pipeline scoped; false = not observed, not verified clean"},"is_bundler":{"type":"boolean","description":"Bought >1 token in the same block, ever (lifetime flag)"},"is_dumper":{"type":"boolean","description":">=5 dump cohorts + 0 runner cohorts in rolling 42d window (recomputed daily)"},"dump_cluster":{"type":"object","nullable":true,"description":"Raw dump-cluster cohort counts (present when the wallet has >=5 recent early-buyer cohort appearances)","properties":{"dump_cohorts":{"type":"integer"},"runner_cohorts":{"type":"integer"},"total_cohorts":{"type":"integer"},"as_of":{"type":"string","format":"date-time"}}}}},"top_tokens":{"type":"array","description":"Top traded tokens (90d window) with realized PnL. Cross-joined with deployer-tokens for symbol + peak MC where available.","items":{"type":"object","properties":{"token_mint":{"type":"string"},"token_symbol":{"type":"string","nullable":true},"buys":{"type":"integer"},"sells":{"type":"integer"},"sol_in":{"type":"number"},"sol_out":{"type":"number"},"realized_pnl_sol":{"type":"number"},"current_mc_usd":{"type":"number","nullable":true},"peak_mc_usd":{"type":"number","nullable":true},"last_traded_at":{"type":"string","format":"date-time"}}}},"trading_style":{"type":"object","nullable":true,"description":"Behavioural signals: avg trade size, sniper rate, round-trip rate, median hold time.","properties":{"total_trades":{"type":"integer"},"avg_trade_size_sol":{"type":"number"},"sniper_rate":{"type":"number","description":"0–1: fraction of trades with early_buyer_rank ≤ 10."},"early_entries":{"type":"integer"},"round_trip_rate":{"type":"number","description":"0–1: fraction of tokens with both buys and sells."},"tokens_with_round_trips":{"type":"integer"},"median_hold_minutes":{"type":"number","nullable":true,"description":"Median minutes between first buy and first sell across tokens."},"dominant_action":{"type":"string","enum":["buy","sell","balanced"]}}},"deployer_breakdown":{"type":"object","nullable":true,"description":"Tier distribution of pump.fun deployers this wallet has bought from. Useful for spotting alpha-buyers vs random degens.","properties":{"total_tokens":{"type":"integer"},"tracked_deployers":{"type":"integer"},"by_tier":{"type":"array","items":{"type":"object","properties":{"tier":{"type":"string","description":"elite / good / rising / moderate / cold / unranked"},"count":{"type":"integer"}}}}}},"recent_trades":{"type":"array","description":"Last 10 trades regardless of window (raw timeline, cross-joined with deployer-tokens for symbol).","items":{"type":"object","properties":{"token_mint":{"type":"string"},"token_symbol":{"type":"string","nullable":true},"action":{"type":"string","enum":["buy","sell"]},"sol_amount":{"type":"number"},"block_time":{"type":"integer"},"traded_at":{"type":"string","format":"date-time"},"tx_signature":{"type":"string"}}}},"derived":{"type":"object","description":"Derived wallet stats computed from the enrichments above (src/lib/wallet-enrichments.ts DerivedStats: standout trades, biggest miss, realized/unrealized PnL rollups)."},"coverage":{"$ref":"#/components/schemas/TradeCoverage"},"stats_unavailable":{"type":"boolean","description":"Present (true) only when the 90-day trade aggregation failed. `stats` null is then UNPROVEN, not an inactive wallet."},"enrichment_unavailable":{"type":"boolean","description":"Present (true) only when one or more enrichment queries failed; `degraded_fields` names them. Absent on a fully measured response."},"degraded_fields":{"type":"array","items":{"type":"string","enum":["top_tokens","trading_style","deployer_breakdown","recent_trades","biggest_miss"]},"description":"Enrichment blocks whose query failed (e.g. a database timeout under load). Their null / [] value is UNKNOWN, not 'no data'; retry later. `biggest_miss` refers to `derived.biggest_miss`. Present only together with `enrichment_unavailable: true`."}},"required":["address","flags"]},"WalletHolding":{"type":"object","description":"One chain-verified token holding. `transfer_delta` = on-chain amount minus trade-derived net (non-null only when the mint was traded in-window); a large positive delta flags tokens received without a swap.","properties":{"mint":{"type":"string"},"symbol":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"amount":{"type":"number"},"amount_raw":{"type":"string","description":"Raw integer amount (pre-decimals) as a string."},"decimals":{"type":"integer"},"token_program":{"type":"string","enum":["spl","token2022"]},"price_usd":{"type":"number","nullable":true},"value_usd":{"type":"number","nullable":true},"market_cap_usd":{"type":"number","nullable":true},"is_bonded":{"type":"boolean","nullable":true},"trade_derived_amount":{"type":"number","nullable":true},"transfer_delta":{"type":"number","nullable":true}}},"WalletPnl":{"type":"object","properties":{"address":{"type":"string"},"window_days":{"type":"integer"},"summary":{"type":"object","properties":{"realized_sol":{"type":"number"},"unrealized_sol":{"type":"number"},"total_pnl_sol":{"type":"number"},"total_bought_sol":{"type":"number"},"total_sold_sol":{"type":"number"},"wins":{"type":"integer"},"losses":{"type":"integer"},"win_rate":{"type":"number","nullable":true},"profit_factor":{"type":"number","nullable":true,"description":"Gross wins / gross losses. null if no losses (undefined math)."},"avg_hold_minutes":{"type":"integer","nullable":true},"median_hold_minutes":{"type":"integer","nullable":true},"max_drawdown_sol":{"type":"number"},"open_positions_count":{"type":"integer"},"closed_positions_count":{"type":"integer"},"total_tokens_traded":{"type":"integer"},"best_realized":{"type":"object","nullable":true,"properties":{"token_mint":{"type":"string"},"realized_sol":{"type":"number"}}},"worst_realized":{"type":"object","nullable":true,"properties":{"token_mint":{"type":"string"},"realized_sol":{"type":"number"}}}}},"pnl_curve":{"type":"array","description":"Sparse daily UTC buckets — only days with at least one realized event are returned.","items":{"type":"object","properties":{"date":{"type":"string","description":"YYYY-MM-DD UTC"},"day_pnl":{"type":"number"},"cumulative_pnl":{"type":"number"},"trades":{"type":"integer"}}}},"closed_positions":{"type":"array","description":"Tokens where the wallet's position has been fully closed AND there was an observable buy in window. Sorted by pnl_sol DESC (winners first).","items":{"$ref":"#/components/schemas/WalletClosedPosition"}},"open_positions":{"type":"array","items":{"$ref":"#/components/schemas/WalletOpenPosition"}},"notes":{"type":"object","properties":{"cost_basis_observable_from":{"type":"string","format":"date-time","description":"Cost basis can only be reconstructed from trades inside our data window. Overflow sells (no matching buy in window) are silently discarded rather than fabricated."},"trades_through":{"type":"string","format":"date-time","description":"Newest trade included — the cache watermark (a later trade invalidates the cached analysis)"},"trades_through_block_time":{"type":"integer","description":"trades_through as epoch seconds"},"trades_through_same_second":{"type":"integer","description":"Trades at exactly trades_through_block_time that were included (block_time is second-granular; used to detect a same-second trade ingested after the compute)"},"partial":{"type":"boolean","description":"Present (true) only when the wallet exceeded the trade analysis cap and the summary was computed from the most recent trades only."},"analyzed_trades":{"type":"integer","description":"Present only when partial is true — the number of most-recent trades the summary was computed from (the cap)."},"partial_reason":{"type":"string","description":"Present only when partial is true — human-readable explanation of what the cap excludes (realized PnL for positions opened before cost_basis_observable_from; open positions limited to the analyzed window)."}}},"cache_hit":{"type":"boolean","description":"true when served from wallet_analyses cache"},"computed_at":{"type":"string","format":"date-time","description":"Always returned — when the analysis was computed (the fresh compute time on a miss, the cached row's analyzed_at on a hit)"},"cache_age_seconds":{"type":"integer","description":"Seconds since computed_at — the source age survives a cache hit (0 on a fresh compute)"},"cache_validation":{"type":"string","enum":["head_checked","unverified"],"description":"Cache hits only (audit F16): head_checked = the wallet has no persisted trade newer than the analysis watermark, so the cached analysis is current; unverified = the trade-head probe failed and the unexpired cache was served flagged. A hit whose wallet traded after the watermark is never served — it is recomputed."},"cache_invalidated":{"type":"string","enum":["new_activity"],"description":"Present on a recompute that happened because a cached analysis existed but the wallet traded after it"},"ttl_seconds":{"type":"integer","description":"Only present on cache misses — TTL for this row in wallet_analyses (5min / 1h / 24h based on activity)"}}},"WalletOpenPosition":{"type":"object","properties":{"token_mint":{"type":"string"},"token_amount":{"type":"number"},"cost_basis_sol":{"type":"number"},"avg_entry_price_sol":{"type":"number"},"current_price_sol":{"type":"number","nullable":true,"description":"Live from market-cap tracker. null if the mint has no current price (e.g. delisted)."},"current_value_sol":{"type":"number","nullable":true},"unrealized_sol":{"type":"number","nullable":true},"unrealized_pct":{"type":"number","nullable":true},"first_buy_at":{"type":"string","format":"date-time","nullable":true},"buys_in_position":{"type":"integer"}}},"WalletClosedPosition":{"type":"object","properties":{"token_mint":{"type":"string"},"buy_count":{"type":"integer"},"sell_count":{"type":"integer"},"bought_sol":{"type":"number"},"sold_sol":{"type":"number"},"pnl_sol":{"type":"number"},"roi_pct":{"type":"number","nullable":true,"description":"realized_sol / total_bought_sol × 100"},"hold_minutes":{"type":"integer","nullable":true,"description":"first buy to last sell"},"result":{"type":"string","enum":["win","loss","breakeven"]},"first_trade":{"type":"string","format":"date-time","nullable":true},"last_trade":{"type":"string","format":"date-time","nullable":true}}},"WalletTrade":{"type":"object","properties":{"tx_signature":{"type":"string"},"token_mint":{"type":"string"},"action":{"type":"string","enum":["buy","sell"]},"sol_amount":{"type":"number"},"token_amount":{"type":"number"},"price_sol":{"type":"number","nullable":true,"description":"This trade's executed price (sol_amount / token_amount); null on dust / zero-SOL legs"},"price_usd":{"type":"number","nullable":true},"market_price_sol":{"type":"number","nullable":true,"description":"mc-tracker's canonical pool price sampled near this trade's slot — not this trade's price"},"market_price_usd":{"type":"number","nullable":true},"block_time":{"type":"integer","description":"Unix epoch seconds"},"traded_at":{"type":"string","format":"date-time"}}},"CopyTradeSubscription":{"type":"object","properties":{"id":{"type":"integer","description":"Numeric rule id (used in /copytrade/subscriptions/{id})"},"name":{"type":"string","nullable":true},"source_wallets":{"type":"array","items":{"type":"string"},"description":"Base58 wallets being mirrored (1-50)"},"min_trade_sol":{"type":"number"},"only_action":{"type":"string","enum":["buy","sell","both"]},"sizing_mode":{"type":"string","enum":["fixed","proportional","percent_source"]},"sizing_amount":{"type":"number"},"delivery_mode":{"type":"string","enum":["webhook","websocket","both"]},"webhook_url":{"type":"string","format":"uri","nullable":true},"min_mc_usd":{"type":"number","nullable":true},"max_mc_usd":{"type":"number","nullable":true},"is_active":{"type":"boolean"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"source_wallets_tracked":{"type":"array","items":{"type":"string"},"nullable":true,"description":"DEPRECATED 2026-10-04 (kept): source wallets that are tracked KOL wallets. Enrichment only under source_admission any_wallet; under kol_only only these can produce a signal. null when the tracking read failed. Since 2026-09-25."},"source_wallets_untracked":{"type":"array","items":{"type":"string"},"nullable":true,"description":"DEPRECATED 2026-10-04 (kept): source wallets that are not tracked KOL wallets. They fire under source_admission any_wallet; under kol_only they never produce a signal."},"operational_state":{"$ref":"#/components/schemas/RhcCopytradeOperationalState"},"source_admission":{"$ref":"#/components/schemas/RhcCopytradeSourceAdmission"},"monitoring_reasons":{"$ref":"#/components/schemas/RhcCopytradeMonitoringReasons"},"warnings":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"}}},"description":"Present only when something needs attention (untracked source wallets, tracking unavailable)."}}}},"parameters":{"Limit":{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}}},"headers":{"XRequestId":{"description":"Unique id of this response. On responses built after authentication it is also the `request_id` of the audit-log row for the call, so quote it in a support request. Present on every response of the keyed API.","required":true,"schema":{"type":"string","format":"uuid"},"example":"3f6c1d2e-8a4b-4f7e-9c21-5b0d7e6a9f13"},"XRateLimitLimit":{"description":"Size of the rate-limit window this call was counted against: the daily quota for your tier on data endpoints, the per-minute bucket on `/stream/token` (10) and `/stream/sessions` (30), the hourly allowance for the public demo key. Sent once the key has been authenticated and rate-limited, so it is absent on authentication-stage errors.","schema":{"type":"integer","minimum":0},"example":10000},"XRateLimitRemaining":{"description":"Calls left in that window. `0` on a quota 429.","schema":{"type":"integer","minimum":0},"example":9412},"XRateLimitUsed":{"description":"Calls used in that window (`limit − remaining`).","schema":{"type":"integer","minimum":0},"example":588},"XRateLimitReset":{"description":"When the window resets, as a Unix epoch in SECONDS (next 00:00 UTC for the daily quota; about 60 s ahead for a per-minute bucket).","schema":{"type":"integer"},"example":1791158400},"RetryAfter":{"description":"Seconds to wait before retrying (RFC 9110 delay-seconds, at least 1). Sent on every 429 (quota, concurrency, authentication-failure) and every 503; when the body carries `retry_after_seconds` it is the same value.","required":true,"schema":{"type":"integer","minimum":1},"example":10},"XDataDelay":{"description":"Free-tier only: the feed in this body is delayed by this many seconds (same value as the body's `delay_seconds`). Absent on real-time responses.","schema":{"type":"integer","minimum":1},"example":300},"XMadeOnSolQuotaWarning":{"description":"Free-tier only, past about 70 % of the daily quota: a human-readable usage line with an upgrade link.","schema":{"type":"string"},"example":"150/200 used - upgrade for 50x higher limits: https://madeonsol.com/checkout?tier=PRO"}},"responses":{"BadRequest":{"description":"Invalid path or query parameter, or an invalid request body.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"invalid_query":{"summary":"Invalid parameter","value":{"error":"Invalid query parameters","code":"invalid_query","_rid":"eyJ1IjoiZXhhbXBsZSIsInQiOjE3OTEwMDAwMDAwMDAsImgiOiIwMDAwMDAwMCJ9"}}}}}},"Unauthorized":{"description":"Missing or invalid API key, or an expired free-tier key. Authentication-stage error: no `X-RateLimit-*` headers, no `_rid`.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"missing_key":{"summary":"No Bearer key","value":{"error":"Missing authentication — use API key (Authorization: Bearer msk_...)","hint":"Get a free API key — 200 calls/day, no payment","signup_url":"https://madeonsol.com/developer","docs_url":"https://madeonsol.com/api-docs"}},"bad_format":{"summary":"Malformed key","value":{"error":"Invalid API key format","hint":"Get a free API key — 200 calls/day, no payment","signup_url":"https://madeonsol.com/developer","docs_url":"https://madeonsol.com/api-docs"}}}}}},"TierForbidden":{"description":"Forbidden. One of: the key's tier is below this endpoint's or parameter's gate (`tier_required` with an `upgrade` block); the public demo key used outside its allow-list (`demo_key_endpoint_not_allowed`); an invalid or revoked key; an origin-restricted key called from a disallowed origin (`code` `origin_not_allowed` / `origin_required`). `X-RateLimit-*` headers are present only on `tier_required`.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/TierRequiredError"},{"$ref":"#/components/schemas/DemoKeyNotAllowedError"},{"$ref":"#/components/schemas/Error"}]},"examples":{"tier_required":{"summary":"Tier below the gate","value":{"error":"tier_required","message":"This endpoint requires ULTRA tier — you're on PRO.","feature":"This endpoint","your_tier":"PRO","required_tier":"ULTRA","upgrade":{"tier":"ULTRA","price_eur_per_month":131,"price_usdc_per_month":149,"daily_limit":100000,"burst_limit":600,"pitch":"…","url":"https://madeonsol.com/pricing","upgrade_url":"https://madeonsol.com/checkout?tier=ULTRA"},"support":"Priority support: info@madeonsol.com","_rid":"eyJ1IjoiZXhhbXBsZSIsInQiOjE3OTEwMDAwMDAwMDAsImgiOiIwMDAwMDAwMCJ9"}},"demo_key":{"summary":"Demo key outside its allow-list","value":{"error":"demo_key_endpoint_not_allowed","message":"The public demo key works on /kol/feed, /deployer-hunter/alerts, and /alpha/leaderboard only. This endpoint requires the PRO plan or higher; a free API key will not unlock it. See https://madeonsol.com/pricing.","endpoint_tier":"PRO","allowed_endpoints":["/api/v1/kol/feed","/api/v1/deployer-hunter/alerts","/api/v1/alpha/leaderboard"],"signup_url":"https://madeonsol.com/developer","upgrade_url":"https://madeonsol.com/checkout?tier=PRO"}},"revoked_key":{"summary":"Invalid or revoked key","value":{"error":"Invalid or revoked API key"}}}}}},"NotFound":{"description":"The addressed resource does not exist or is not yours.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"not_found":{"summary":"Not found","value":{"error":"Not found","_rid":"eyJ1IjoiZXhhbXBsZSIsInQiOjE3OTEwMDAwMDAwMDAsImgiOiIwMDAwMDAwMCJ9"}}}}}},"Conflict":{"description":"The request conflicts with existing state (e.g. a duplicate or a per-tier limit on stored rules).","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"RateLimited":{"description":"Too many requests. Every 429 carries `Retry-After`. A quota 429 (`rate_limit_exceeded`, with `X-RateLimit-*`), a heavy-query concurrency 429 (`error_kind` `concurrency`/`capacity`), or the per-IP authentication-failure block (30 failed auths/min; plain `error` + `retry_after_seconds`, no `X-RateLimit-*`).","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"Retry-After":{"$ref":"#/components/headers/RetryAfter"}},"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/RateLimitError"},{"$ref":"#/components/schemas/ConcurrencyLimitError"},{"$ref":"#/components/schemas/Error"}]},"examples":{"daily":{"summary":"Daily quota exhausted","value":{"error":"rate_limit_exceeded","error_kind":"daily","message":"Daily rate limit exceeded — 200/day for BASIC tier. Resets at midnight UTC.","tier":"BASIC","limit":200,"resets_at":"2026-10-05T00:00:00.000Z","upgrade":{"tier":"PRO","price_eur_per_month":43,"price_usdc_per_month":49,"daily_limit":10000,"burst_limit":300,"pitch":"…","url":"https://madeonsol.com/pricing","upgrade_url":"https://madeonsol.com/checkout?tier=PRO"},"datasets":{"pitch":"…","url":"https://madeonsol.com/datasets"}}},"concurrency":{"summary":"Too many heavy queries in flight","value":{"error":"Too many concurrent heavy queries. Up to 8 of these endpoints may be in flight at once per key — retry in a moment, or lower your request concurrency.","error_kind":"concurrency","retry_after_seconds":2,"max_concurrent":8,"_rid":"eyJ1IjoiZXhhbXBsZSIsInQiOjE3OTEwMDAwMDAwMDAsImgiOiIwMDAwMDAwMCJ9"}},"auth_failures":{"summary":"Per-IP authentication-failure block","value":{"error":"Too many authentication failures from this IP. Retry in 60s.","retry_after_seconds":42}}}}}},"InternalError":{"description":"Unexpected server error from the route (`Internal server error`, with `_rid`). Safe to retry with backoff. A failed API-key lookup is a 503 `auth_backend_unavailable`, never a 500.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"route":{"summary":"Route error","value":{"error":"Internal server error","_rid":"eyJ1IjoiZXhhbXBsZSIsInQiOjE3OTEwMDAwMDAwMDAsImgiOiIwMDAwMDAwMCJ9"}}}}}},"ServiceUnavailable":{"description":"Temporarily unavailable — a Postgres statement timeout while the dataset is under load or maintenance (`statement_timeout`, with `X-RateLimit-*` and `_rid`), or the API-key lookup itself unavailable (`auth_backend_unavailable`, authentication stage: no `X-RateLimit-*`, no `_rid`, not counted as a failed authentication). Always carries `Retry-After`; honour it.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"Retry-After":{"$ref":"#/components/headers/RetryAfter"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceUnavailableError"},"examples":{"statement_timeout":{"summary":"Statement timeout","value":{"error":"Query timed out — this dataset is under load or being maintained. Retry shortly.","error_kind":"statement_timeout","retry_after_seconds":10,"_rid":"eyJ1IjoiZXhhbXBsZSIsInQiOjE3OTEwMDAwMDAwMDAsImgiOiIwMDAwMDAwMCJ9"}},"auth_backend":{"summary":"API-key lookup unavailable","value":{"error":"Authentication temporarily unavailable — please retry.","code":"auth_backend_unavailable","error_kind":"auth_backend","retryable":true,"retry_after_seconds":5}}}}}},"AuthBackendUnavailable":{"description":"The API-key or subscription lookup could not be answered (authentication stage). Retryable and not your fault: it is never counted as a failed authentication. Honour `Retry-After`; no `X-RateLimit-*`, no `_rid`.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"Retry-After":{"$ref":"#/components/headers/RetryAfter"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceUnavailableError"},"examples":{"auth_backend":{"summary":"API-key lookup unavailable","value":{"error":"Authentication temporarily unavailable — please retry.","code":"auth_backend_unavailable","error_kind":"auth_backend","retryable":true,"retry_after_seconds":5}}}}}}}},"security":[{"BearerAuth":[]}],"paths":{"/me":{"get":{"tags":["Account"],"summary":"Self-inspect quota and feature usage","description":"Returns the calling subscriber's tier, daily/burst quota state, subscription expiry, and per-feature usage counts (webhooks, copy-trade wallets, coordination rules, watchlist). Available to every authenticated tier — use this to verify your key works and read remaining daily quota without parsing rate-limit headers.","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"subscriber":{"type":"string"},"tier":{"type":"string","enum":["BASIC","PRO","ULTRA","BUSINESS","ENTERPRISE"]},"tier_label":{"type":"string"},"subscription":{"type":"object","nullable":true,"properties":{"status":{"type":"string"},"billing_cycle":{"type":"string","enum":["monthly","annual"]},"current_period_end":{"type":"string","format":"date-time","nullable":true},"started_at":{"type":"string","format":"date-time"}}},"quota":{"type":"object","properties":{"daily":{"type":"object"},"burst":{"type":"object"}}},"features":{"type":"object"}}}}},"headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"X-Data-Delay":{"$ref":"#/components/headers/XDataDelay"},"X-MadeOnSol-Quota-Warning":{"$ref":"#/components/headers/XMadeOnSolQuotaWarning"}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/TierForbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/AuthBackendUnavailable"}},"x-madeonsol-tier":"FREE","x-badges":[{"name":"FREE","position":"after","color":"#64748b"}]}},"/rhc/kol/feed":{"get":{"tags":["Robinhood Chain"],"summary":"KOL trade feed on Robinhood Chain (BASIC+; 5-min delay on free)","description":"Every buy/sell from tracked Solana KOLs' verified EVM wallets on Robinhood Chain (chain id 4663), attributed to the effective trading account from our self-hosted node (tx.from normally, or the ERC-4337 userOp sender when bundled — never the bundler) — DEX swaps and launchpad curve snipes, within seconds of execution on PRO and up (the free tier serves this feed on a 5-minute delay). The KOL→EVM mapping is recovered by tracing each KOL's Solana→EVM bridge deposits (deBridge / Relay / Mayan / Wormhole) — a dataset unique to MadeOnSol. Every row is enriched with the token's current MC/liquidity/peak, the deployer's reputation tier, and `mc_multiple_since_trade` (current MC ÷ MC when the KOL bought — 'did the call run'). Tier: **BASIC** (any valid key).","parameters":[{"$ref":"#/components/parameters/Limit"},{"name":"before","in":"query","schema":{"type":"string","format":"date-time"},"description":"Cursor: return trades strictly older than this ISO timestamp. Pass `next_before` from the previous response to page backwards."},{"name":"cursor","in":"query","schema":{"type":"string","maxLength":200},"description":"PREFERRED pagination (audit F09 follow-up): the `next_cursor` from a previous page — an opaque strict (traded_at, id) keyset, so paging never repeats or skips rows that share a timestamp and progresses with limit=1 through runs of identical timestamps. Malformed or tampered → 400. Cannot be combined with `before=` (400); `before=` stays supported as the legacy bound."},{"name":"action","in":"query","schema":{"type":"string","enum":["buy","sell"]},"description":"Only buys or only sells."},{"name":"kol","in":"query","schema":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"description":"Filter to a single KOL by their EVM wallet address (0x, 40 hex)."},{"name":"min_eth","in":"query","schema":{"type":"number","minimum":0},"description":"Minimum trade size in ETH."},{"name":"exclude_sells","in":"query","schema":{"type":"string","enum":["true","false","1","0"]},"description":"Convenience alias for `action=buy` — drops sells from the feed. Ignored if `action` is set explicitly."},{"name":"min_mc_usd","in":"query","schema":{"type":"number","minimum":0},"description":"Only trades where the token's market cap at trade time was at least this (USD)."},{"name":"max_mc_usd","in":"query","schema":{"type":"number","minimum":0},"description":"Only trades where the token's market cap at trade time was at most this (USD). Combine with `min_mc_usd` for a band; `min_mc_usd` must be <= `max_mc_usd` or the request 400s."},{"name":"token_age_max_min","in":"query","schema":{"type":"integer","minimum":1,"maximum":43200},"description":"Only trades on tokens first seen at most this many minutes ago — the 'fresh launches KOLs are buying' filter. Tokens with unknown first-seen time are excluded."},{"name":"min_kol_winrate","in":"query","schema":{"type":"number","minimum":0,"maximum":1},"description":"Only trades by KOLs whose 7-day win rate (mv_rhc_kol_scores.winrate_7d, CLOSED positions only — sold ≥ 90 % of bought) is at least this (0–1). KOLs with no closed positions have a NULL win rate and are dropped, so `min_kol_winrate=0` is NOT a no-op: it means \"scored\"."},{"name":"strategy","in":"query","schema":{"type":"string","enum":["scalper","day_trader","swing","inactive","unscored"]},"description":"Only trades by KOLs in this hold-time bucket (mv_rhc_kol_scores.strategy). An RHC-specific bucket, not Solana's auto_strategy_tag."}],"responses":{"200":{"description":"`chain` echoes `robinhood`; `next_before` is the pagination cursor; `data_age_seconds` is the age of the newest row.","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","enum":["robinhood"]},"trades":{"type":"array","items":{"type":"object","properties":{"evm_address":{"type":"string","description":"The KOL's Robinhood-Chain wallet (0x)."},"kol_name":{"type":"string","nullable":true},"kol_twitter":{"type":"string","nullable":true},"token_address":{"type":"string"},"token_symbol":{"type":"string","nullable":true},"token_name":{"type":"string","nullable":true},"launchpad":{"type":"string","nullable":true,"description":"pons | flap | clanker | hood.fun | virtuals | null."},"is_graduated":{"type":"boolean","nullable":true},"deployer_tier":{"type":"string","nullable":true,"enum":["elite","good","neutral","spammer"],"description":"Reputation tier of the token's deployer."},"token_age_minutes":{"type":"integer","nullable":true,"description":"Token age at request time (first-seen → now)."},"action":{"type":"string","enum":["buy","sell"]},"eth_amount":{"type":"number","nullable":true,"description":"Trade size in ETH."},"token_amount":{"type":"number","nullable":true},"price_usd_at_trade":{"type":"number","nullable":true},"market_cap_usd_at_trade":{"type":"number","nullable":true,"description":"Token market cap when the KOL traded."},"current_mc_usd":{"type":"number","nullable":true,"description":"Token market cap now."},"peak_mc_usd":{"type":"number","nullable":true,"description":"All-time-high market cap observed since ingestion."},"liquidity_usd":{"type":"number","nullable":true},"liquidity_basis":{"type":"string","enum":["v4_virtual_ceiling","measured"],"description":"How liquidity_usd was derived. uniswap-v4 has no per-pool balances, so its figure is virtual reserves clamped to the PoolManager's total holdings — a provable CEILING, not measured per-pool TVL. All other venues are measured from real balances."},"risk":{"$ref":"#/components/schemas/RhcTokenRiskSummary"},"mc_multiple_since_trade":{"type":"number","nullable":true,"description":"current_mc_usd ÷ market_cap_usd_at_trade — how far the token ran after the KOL's trade."},"dex":{"type":"string","description":"uniswap-v2/v3/v4 or the launchpad name for curve trades."},"pool":{"type":"string","nullable":true},"tx_hash":{"type":"string"},"block_number":{"type":"integer"},"traded_at":{"type":"string","format":"date-time"},"kol_score":{"type":"object","nullable":true,"description":"The KOL's row in mv_rhc_kol_scores. null = no row yet (too few closed positions), never \"not looked up\".","properties":{"winrate_7d":{"type":"number","nullable":true,"description":"0–1, CLOSED positions only (sold ≥ 90 % of bought)."},"winrate_30d":{"type":"number","nullable":true},"strategy":{"type":"string","nullable":true,"description":"Hold-time bucket: scalper | day_trader | swing | inactive | unscored."},"closed_positions_30d":{"type":"integer","nullable":true}}}}}},"count":{"type":"integer"},"filtered_by":{"type":"object","description":"Echo of the KOL-score filters (null = not applied).","properties":{"min_kol_winrate":{"type":"number","nullable":true},"strategy":{"type":"string","nullable":true}}},"matched_kols":{"type":"integer","nullable":true,"description":"KOLs matching min_kol_winrate/strategy; null when neither filter is set."},"data_age_seconds":{"type":"integer","nullable":true},"next_before":{"type":"string","format":"date-time","nullable":true},"next_cursor":{"type":"string","nullable":true,"description":"Opaque keyset cursor for the next (older) page — pass as `cursor=`. PREFERRED over next_before, which is a strict timestamp bound that skips same-timestamp siblings of the boundary row."},"has_more":{"type":"boolean","description":"false only when the feed is exhausted (not merely when the page is short)."},"scan":{"type":"object","description":"Present when a filter had to be applied after the candidate fetch (audit F09): has_more is then false only when the candidates ran out, and scan_truncated=true means the per-request scan budget ran out first — more matches MAY exist past next_cursor.","properties":{"post_filtered":{"type":"boolean"},"scanned":{"type":"integer","description":"Candidate rows examined"},"scan_truncated":{"type":"boolean","description":"The per-request scan budget ran out before `limit` matches — more matches MAY exist past the cursor/offset"},"scan_budget":{"type":"integer"}}}}}}},"headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"X-Data-Delay":{"$ref":"#/components/headers/XDataDelay"},"X-MadeOnSol-Quota-Warning":{"$ref":"#/components/headers/XMadeOnSolQuotaWarning"}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/TierForbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-madeonsol-tier":"FREE","x-badges":[{"name":"FREE","position":"after","color":"#64748b"}]}},"/rhc/kol/leaderboard":{"get":{"tags":["Robinhood Chain"],"summary":"KOL activity leaderboard on Robinhood Chain (BASIC+)","description":"KOLs on Robinhood Chain ranked by trade count, then net ETH flow, over the chosen window. Tier: **BASIC**. (Net ETH is buy−sell flow, not realized PnL — cost-basis PnL is a planned addition.)","parameters":[{"name":"period","in":"query","schema":{"type":"string","enum":["24h","7d","30d"],"default":"24h"},"description":"Rolling window."},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","enum":["robinhood"]},"period":{"type":"string","enum":["24h","7d","30d"]},"leaderboard":{"type":"array","items":{"type":"object","properties":{"kol_name":{"type":"string","nullable":true},"kol_twitter":{"type":"string","nullable":true},"trades":{"type":"integer"},"buys":{"type":"integer"},"sells":{"type":"integer"},"buy_eth":{"type":"number","description":"Total ETH bought in the window."},"sell_eth":{"type":"number","description":"Total ETH sold in the window."},"net_eth":{"type":"number","description":"buy_eth − sell_eth (flow, not realized PnL)."},"tokens_traded":{"type":"integer","description":"Distinct tokens traded in the window."},"last_trade_at":{"type":"string","format":"date-time"}}}},"count":{"type":"integer"}}}}},"headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"X-Data-Delay":{"$ref":"#/components/headers/XDataDelay"},"X-MadeOnSol-Quota-Warning":{"$ref":"#/components/headers/XMadeOnSolQuotaWarning"}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/TierForbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-madeonsol-tier":"FREE","x-badges":[{"name":"FREE","position":"after","color":"#64748b"}]}},"/rhc/kol/hot-tokens":{"get":{"tags":["Robinhood Chain"],"summary":"Consensus tokens — bought by 2+ KOLs on Robinhood Chain (BASIC+)","description":"Robinhood Chain tokens bought by **2 or more distinct tracked KOLs** inside the window (a consensus signal), ranked by KOL-buyer count then buy volume. Each row is enriched with launchpad, deployer reputation tier, graduation status and current market cap. Tier: **BASIC**.","parameters":[{"name":"window","in":"query","schema":{"type":"string","enum":["5m","15m","1h","6h","24h"],"default":"1h"},"description":"Rolling consensus window."}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","enum":["robinhood"]},"window":{"type":"string","enum":["5m","15m","1h","6h","24h"]},"tokens":{"type":"array","items":{"type":"object","properties":{"token_address":{"type":"string"},"token_symbol":{"type":"string","nullable":true},"token_name":{"type":"string","nullable":true},"launchpad":{"type":"string","nullable":true,"description":"noxa | flap | pons | hood.fun | clanker | null."},"is_graduated":{"type":"boolean","nullable":true},"deployer_tier":{"type":"string","nullable":true,"description":"elite | good | neutral | spammer | null."},"kols_buying":{"type":"integer","description":"Distinct KOL buyers in the window (>= 2)."},"buys":{"type":"integer"},"sells":{"type":"integer"},"buy_eth":{"type":"number"},"net_eth":{"type":"number","description":"buy_eth − sell_eth."},"market_cap_usd":{"type":"number","nullable":true,"description":"Current market cap."},"last_trade_at":{"type":"string","format":"date-time"}}}},"count":{"type":"integer"}}}}},"headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"X-Data-Delay":{"$ref":"#/components/headers/XDataDelay"},"X-MadeOnSol-Quota-Warning":{"$ref":"#/components/headers/XMadeOnSolQuotaWarning"}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/TierForbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-madeonsol-tier":"FREE","x-badges":[{"name":"FREE","position":"after","color":"#64748b"}]}},"/rhc/tokens/hot":{"get":{"tags":["Robinhood Chain"],"summary":"Alias of /rhc/kol/hot-tokens (BASIC+)","description":"Same handler as `/rhc/kol/hot-tokens` — tokens bought by 2+ tracked KOLs in the window. Added 2026-09-05 because customers guess this URL; `window` passes through. Prefer the canonical path in new code.","parameters":[{"name":"window","in":"query","schema":{"type":"string","enum":["5m","15m","1h","6h","24h"],"default":"1h"}}],"responses":{"200":{"description":"Identical to /rhc/kol/hot-tokens.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"X-Data-Delay":{"$ref":"#/components/headers/XDataDelay"},"X-MadeOnSol-Quota-Warning":{"$ref":"#/components/headers/XMadeOnSolQuotaWarning"}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/TierForbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-madeonsol-tier":"FREE","x-badges":[{"name":"FREE","position":"after","color":"#64748b"}]}},"/rhc/tokens/trending":{"get":{"tags":["Robinhood Chain"],"summary":"Alias of /rhc/kol/hot-tokens (BASIC+)","description":"Same handler as `/rhc/kol/hot-tokens` — tokens bought by 2+ tracked KOLs in the window. Added 2026-09-05 because customers guess this URL; `window` passes through. Prefer the canonical path in new code.","parameters":[{"name":"window","in":"query","schema":{"type":"string","enum":["5m","15m","1h","6h","24h"],"default":"1h"}}],"responses":{"200":{"description":"Identical to /rhc/kol/hot-tokens.","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"X-Data-Delay":{"$ref":"#/components/headers/XDataDelay"},"X-MadeOnSol-Quota-Warning":{"$ref":"#/components/headers/XMadeOnSolQuotaWarning"}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/TierForbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-madeonsol-tier":"FREE","x-badges":[{"name":"FREE","position":"after","color":"#64748b"}]}},"/rhc/kol/coordination":{"get":{"tags":["Robinhood Chain"],"summary":"KOL coordination / consensus clustering on Robinhood Chain (BASIC+)","description":"Tokens being bought by **multiple distinct tracked KOLs** inside a time window on Robinhood Chain (chain id 4663) — the coordination / consensus signal. Computed read-time from `rhc_kol_trades`: window buys grouped by token, distinct KOL wallets counted, then enriched with in-window sells (net-flow / exit math), token metadata, current price/MC/liquidity and the deployer's reputation tier. EVM-native fields (`eth_amount`, `evm_address`, 0x). Ranked by distinct KOL count, then buy ETH, then recency. Tier: **BASIC** (any valid key).","parameters":[{"name":"period","in":"query","schema":{"type":"string","enum":["1h","6h","24h","7d"],"default":"24h"},"description":"Rolling window (alias: `window`). Filters on `traded_at`."},{"name":"min_kols","in":"query","schema":{"type":"integer","minimum":2,"maximum":50,"default":2},"description":"Minimum distinct KOL buyers for a token to qualify."},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":50,"default":20}},{"name":"min_mc_usd","in":"query","schema":{"type":"number","minimum":0,"maximum":1000000000000},"description":"Filter on market cap at the first KOL buy (USD). Tokens with unknown MC at first buy are excluded when a band is set."},{"name":"max_mc_usd","in":"query","schema":{"type":"number","minimum":0,"maximum":1000000000000},"description":"Upper bound on MC at first KOL buy (USD). Must be ≥ min_mc_usd."}],"responses":{"200":{"description":"OK.","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","enum":["robinhood"]},"coordination":{"type":"array","items":{"type":"object","properties":{"token_address":{"type":"string"},"token_symbol":{"type":"string","nullable":true},"token_name":{"type":"string","nullable":true},"launchpad":{"type":"string","nullable":true},"is_graduated":{"type":"boolean","nullable":true},"deployer_tier":{"type":"string","nullable":true,"enum":["elite","good","neutral","spammer"]},"token_age_minutes":{"type":"integer","nullable":true},"kol_count":{"type":"integer","description":"Distinct KOL buyers in the window (≥ min_kols)."},"total_buys":{"type":"integer"},"buy_eth":{"type":"number","description":"Total ETH bought by KOLs in the window."},"sell_eth":{"type":"number","description":"Total ETH sold by those KOLs in the window."},"net_eth":{"type":"number","description":"buy_eth − sell_eth."},"signal":{"type":"string","enum":["accumulating","distributing"],"description":"accumulating when net_eth ≥ 0, else distributing."},"exited_count":{"type":"integer","description":"KOLs whose in-window sells exceed their buys."},"holders_count":{"type":"integer","description":"kol_count − exited_count."},"first_buy_at":{"type":"string","format":"date-time"},"last_buy_at":{"type":"string","format":"date-time"},"time_to_consensus_sec":{"type":"integer","description":"Seconds between the first and last KOL buy."},"market_cap_usd_at_first_buy":{"type":"number","nullable":true},"current_mc_usd":{"type":"number","nullable":true},"peak_mc_usd":{"type":"number","nullable":true},"liquidity_usd":{"type":"number","nullable":true},"liquidity_basis":{"type":"string","enum":["v4_virtual_ceiling","measured"],"description":"How liquidity_usd was derived. v4_virtual_ceiling = uniswap-v4 virtual reserves clamped to the PoolManager's total holdings — a provable ceiling, not measured per-pool TVL."},"kols":{"type":"array","items":{"type":"object","properties":{"evm_address":{"type":"string","description":"The KOL's Robinhood-Chain wallet (0x)."},"name":{"type":"string","nullable":true},"twitter_url":{"type":"string","nullable":true},"buy_eth":{"type":"number"},"sell_eth":{"type":"number"},"exited":{"type":"boolean","description":"sell_eth > buy_eth for this KOL."}}}}}}},"count":{"type":"integer"},"period":{"type":"string","enum":["1h","6h","24h","7d"]},"min_kols":{"type":"integer"}}}}},"headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"},"X-Data-Delay":{"$ref":"#/components/headers/XDataDelay"},"X-MadeOnSol-Quota-Warning":{"$ref":"#/components/headers/XMadeOnSolQuotaWarning"}}},"400":{"description":"Invalid query parameters (e.g. min_mc_usd > max_mc_usd).","headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components/headers/XRateLimitUsed"},"X-RateLimit-Reset":{"$ref":"#/components/headers/XRateLimitReset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/TierForbidden"},"429":{"$ref":"#/components/responses/RateLimited"},"500":{"$ref":"#/components/responses/InternalError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"x-madeonsol-tier":"FREE","x-badges":[{"name":"FREE","position":"after","color":"#64748b"}]}},"/rhc/kol/first-touches":{"get":{"tags":["Robinhood Chain"],"summary":"Earliest KOL entry per token on Robinhood Chain (BASIC+)","description":"The **first time any tracked KOL bought** each token on Robinhood Chain — an early-entry / discovery signal. Computed read-time from `rhc_kol_trades` (a DISTINCT-ON per token yielding the global earliest KOL buy), enriched with token metadata and current/peak MC. EVM-native fields (`eth_amount`, `evm_address`, `tx_hash`, 0x). Tier: **BASIC** — but below the API-access tiers (PRO/ULTRA/BUSINESS) `limit` is clamped to 20, and the first KOL's `evm_address` is revealed only to **ULTRA/BUSINESS**.","parameters":[{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"description":"Clamped to 20 for keys below the API-access tiers."},{"name":"since","in":"query","schema":{"type":"string","format":"date-time"},"description":"Only first-touches at/after this ISO8601 timestamp."},{"name":"before","in":"query","schema":{"type":"string","format":"date-time"},"description":"Cursor: only first-touches before this ISO8601 timestamp. Pass `next_before` to page."},{"name":"cursor","in":"query","schema":{"type":"string","maxLength":200},"description":"PREFERRED pagination (audit F09 follow-up): the `next_cursor` from a previous page — an opaque strict (first_buy_at, id) keyset, so paging never repeats or skips rows that share a timestamp and progresses with limit=1 through runs of identical timestamps. Malformed or tampered → 400. Cannot be combined with `before=` (400); `before=` stays supported as the legacy bound."},{"name":"min_eth","in":"query","schema":{"type":"number","minimum":0,"maximum":100000},"description":"Minimum ETH size of the first KOL buy (alias: `min_sol`)."},{"name":"token_age_max_min","in":"query","schema":{"type":"integer","minimum":1,"maximum":43200},"description":"Only tokens younger than N minutes at first touch."},{"name":"launchpad","in":"query","schema":{"type":"string","pattern":"^[a-zA-Z0-9._-]{1,32}$"},"description":"Filter to one launchpad."},{"name":"min_mc_usd","in":"query","schema":{"type":"number","minimum":0,"maximum":1000000000000},"description":"Minimum MC at first buy (USD)."},{"name":"max_mc_usd","in":"query","schema":{"type":"number","minimum":0,"maximum":1000000000000},"description":"Maximum MC at first buy (USD; alias: `mc_max`). Must be ≥ min_mc_usd."}],"responses":{"200":{"description":"`next_before` is the pagination cursor (oldest first_buy_at on the page); `data_age_seconds` is the age of the newest event.","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","enum":["robinhood"]},"events":{"type":"array","items":{"type":"object","properties":{"token_address":{"type":"string"},"token_symbol":{"type":"string","nullable":true},"token_name":{"type":"string","nullable":true},"launchpad":{"type":"string","nullable":true},"is_graduated":{"type":"boolean","nullable":true},"first_buy_at":{"type":"string","format":"date-time"},"eth_amount":{"type":"number","nullable":true,"description":"Size of the first KOL buy in ETH."},"token_amount":{"type":"number","nullable":true},"tx_hash":{"type":"string"},"token_age_minutes":{"type":"integer","nullable":true,"description":"Token age at first touch."},"market_cap_usd_at_first_buy":{"type":"number","nullable":true},"price_usd_at_first_buy":{"type":"number","nullable":true},"current_mc_usd":{"type":"number","nullable":true},"peak_mc_usd":{"type":"number","nullable":true},"first_kol":{"type":"object","properties":{"evm_address":{"type":"string","description":"The KOL's Robinhood-Chain wallet (0x). Present only for ULTRA/BUSINESS keys."},"name":{"type":"string","nullable":true},"twitter_url":{"type":"string","nullable":true}}}}}},"count":{"type":"integer"},"next_before":{"type":"string","format":"date-time","nullable":true},"next_cursor":{"type":"string","nullable":true,"description":"Opaque keyset cursor for the next (older) page — pass as `cursor=`. PREFERRED over next_before, which is a strict timestamp bound that skips same-timestamp siblings of the boundary row. null on a server that predates the rhc_kol_first_touches_page migration (legacy path: no id tiebreak)."},"has_more":{"type":"boolean","nullable":true,"description":"Exact (limit+1 probe). null when the server is on the legacy path and cannot tell — page on next_before until an empty page."},"data_age_seconds":{"type":"integer","nullable":true}}}}},"headers":{"X-Request-Id":{"$ref":"#/components/headers/XRequestId"},"X-RateLimit-Limit":{"$ref":"#/components/headers/XRateLimitLimit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/XRateLimitRemaining"},"X-RateLimit-Used":{"$ref":"#/components
[...]
